<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ghost_1_attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{154,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,170}}</string>
                <key>sourceSize</key>
                <string>{154,170}</string>
            </dict>
            <key>ghost_1_attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{154,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,170}}</string>
                <key>sourceSize</key>
                <string>{154,170}</string>
            </dict>
            <key>ghost_1_attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{154,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,170}}</string>
                <key>sourceSize</key>
                <string>{154,170}</string>
            </dict>
            <key>ghost_1_attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{154,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,170}}</string>
                <key>sourceSize</key>
                <string>{154,170}</string>
            </dict>
            <key>ghost_1_attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,174},{154,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,170}}</string>
                <key>sourceSize</key>
                <string>{154,170}</string>
            </dict>
            <key>ghost_1_attack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,174},{154,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,170}}</string>
                <key>sourceSize</key>
                <string>{154,170}</string>
            </dict>
            <key>ghost_1_idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{152,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,156}}</string>
                <key>sourceSize</key>
                <string>{152,156}</string>
            </dict>
            <key>ghost_1_idle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,346},{152,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,156}}</string>
                <key>sourceSize</key>
                <string>{152,156}</string>
            </dict>
            <key>ghost_1_idle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,346},{152,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,156}}</string>
                <key>sourceSize</key>
                <string>{152,156}</string>
            </dict>
            <key>ghost_1_idle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{152,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,156}}</string>
                <key>sourceSize</key>
                <string>{152,156}</string>
            </dict>
            <key>ghost_1_idle_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,504},{152,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,156}}</string>
                <key>sourceSize</key>
                <string>{152,156}</string>
            </dict>
            <key>ghost_1_idle_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,504},{152,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,156}}</string>
                <key>sourceSize</key>
                <string>{152,156}</string>
            </dict>
            <key>ghost_1_idle_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,662},{152,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,156}}</string>
                <key>sourceSize</key>
                <string>{152,156}</string>
            </dict>
            <key>ghost_1_idle_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,662},{152,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,156}}</string>
                <key>sourceSize</key>
                <string>{152,156}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ghost_1_spritessheet.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:44bfa59961f2b1463149174bad6a172f:9dcb4ea1c0d135ee7a0c4f2f45e5ef2a:74a3ec0b51ed06f9c49083aa06cf796c$</string>
            <key>textureFileName</key>
            <string>ghost_1_spritessheet.png</string>
        </dict>
    </dict>
</plist>
