<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ghost_2_attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{152,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,163}}</string>
                <key>sourceSize</key>
                <string>{152,163}</string>
            </dict>
            <key>ghost_2_attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{152,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,163}}</string>
                <key>sourceSize</key>
                <string>{152,163}</string>
            </dict>
            <key>ghost_2_attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{152,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,163}}</string>
                <key>sourceSize</key>
                <string>{152,163}</string>
            </dict>
            <key>ghost_2_attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,167},{152,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,163}}</string>
                <key>sourceSize</key>
                <string>{152,163}</string>
            </dict>
            <key>ghost_2_attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,167},{152,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,163}}</string>
                <key>sourceSize</key>
                <string>{152,163}</string>
            </dict>
            <key>ghost_2_attack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,167},{152,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,163}}</string>
                <key>sourceSize</key>
                <string>{152,163}</string>
            </dict>
            <key>ghost_2_idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{146,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,152}}</string>
                <key>sourceSize</key>
                <string>{146,152}</string>
            </dict>
            <key>ghost_2_idle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,332},{146,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,152}}</string>
                <key>sourceSize</key>
                <string>{146,152}</string>
            </dict>
            <key>ghost_2_idle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,332},{146,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,152}}</string>
                <key>sourceSize</key>
                <string>{146,152}</string>
            </dict>
            <key>ghost_2_idle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{146,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,152}}</string>
                <key>sourceSize</key>
                <string>{146,152}</string>
            </dict>
            <key>ghost_2_idle_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,486},{146,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,152}}</string>
                <key>sourceSize</key>
                <string>{146,152}</string>
            </dict>
            <key>ghost_2_idle_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,486},{146,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,152}}</string>
                <key>sourceSize</key>
                <string>{146,152}</string>
            </dict>
            <key>ghost_2_idle_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,640},{146,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,152}}</string>
                <key>sourceSize</key>
                <string>{146,152}</string>
            </dict>
            <key>ghost_2_idle_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,640},{146,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,152}}</string>
                <key>sourceSize</key>
                <string>{146,152}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ghost_2_spritessheet.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5cbaedb95faeeb64d7b49601d73cb818:aae9765ccbbd3e386dbcbb5fe2d92b26:04de20cf7a8b8028e0c02d72e11f7bca$</string>
            <key>textureFileName</key>
            <string>ghost_2_spritessheet.png</string>
        </dict>
    </dict>
</plist>
