<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bag_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,664},{116,116}}</string>
                <key>offset</key>
                <string>{0.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{115,116}</string>
            </dict>
            <key>bag_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,632},{116,112}}</string>
                <key>offset</key>
                <string>{1,-1.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,112}}</string>
                <key>sourceSize</key>
                <string>{114,109}</string>
            </dict>
            <key>coin_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,916},{60,60}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{60,60}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>coin_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,824},{52,60}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{52,60}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>coin_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,960},{40,60}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,8},{40,60}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>coin_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,456},{20,60}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,8},{20,60}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>coin_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,892},{20,60}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,8},{20,60}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>coin_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,756},{40,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,8},{40,60}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>coin_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,892},{48,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{48,60}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>coin_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,916},{76,76}}</string>
                <key>offset</key>
                <string>{3.5,-2.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{76,76}}</string>
                <key>sourceSize</key>
                <string>{77,79}</string>
            </dict>
            <key>container_item_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,788},{108,120}}</string>
                <key>offset</key>
                <string>{0,-21.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,40},{108,120}}</string>
                <key>sourceSize</key>
                <string>{252,157}</string>
            </dict>
            <key>container_item_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,500},{112,124}}</string>
                <key>offset</key>
                <string>{2,-19.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,36},{112,124}}</string>
                <key>sourceSize</key>
                <string>{252,157}</string>
            </dict>
            <key>container_item_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,508},{148,116}}</string>
                <key>offset</key>
                <string>{8,-23.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,44},{148,116}}</string>
                <key>sourceSize</key>
                <string>{252,157}</string>
            </dict>
            <key>container_item_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,128},{220,112}}</string>
                <key>offset</key>
                <string>{-4,-25.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,48},{220,112}}</string>
                <key>sourceSize</key>
                <string>{252,157}</string>
            </dict>
            <key>container_item_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,8},{236,112}}</string>
                <key>offset</key>
                <string>{0,-25.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,48},{236,112}}</string>
                <key>sourceSize</key>
                <string>{252,157}</string>
            </dict>
            <key>container_item_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,248},{252,68}}</string>
                <key>offset</key>
                <string>{0,-47.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,92},{252,68}}</string>
                <key>sourceSize</key>
                <string>{252,157}</string>
            </dict>
            <key>container_item_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,248},{244,72}}</string>
                <key>offset</key>
                <string>{-4,-45.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,88},{244,72}}</string>
                <key>sourceSize</key>
                <string>{252,157}</string>
            </dict>
            <key>defense.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,756},{56,64}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,64}}</string>
                <key>sourceSize</key>
                <string>{58,62}</string>
            </dict>
            <key>invisible.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,248},{80,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,120}}</string>
                <key>sourceSize</key>
                <string>{80,120}</string>
            </dict>
            <key>powerup.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,820},{60,64}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,64}}</string>
                <key>sourceSize</key>
                <string>{58,62}</string>
            </dict>
            <key>speedup.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,376},{72,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{72,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>item_spritesheet.png</string>
            <key>size</key>
            <string>{252,1008}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9fee77fa9838f7f4ac3a2d56497c499a:c21398e63f799e84dc6f3848f3ef78d4:126f4b3f7150fd64f2b920ad0fc46f8b$</string>
            <key>textureFileName</key>
            <string>item_spritesheet.png</string>
        </dict>
    </dict>
</plist>
