<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>charms_projectile_end_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,86}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>charms_projectile_middle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{72,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,28}}</string>
                <key>sourceSize</key>
                <string>{72,28}</string>
            </dict>
            <key>charms_projectile_middle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{72,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,28}}</string>
                <key>sourceSize</key>
                <string>{72,28}</string>
            </dict>
            <key>gold_projectile_end_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{97,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,97}}</string>
                <key>sourceSize</key>
                <string>{97,97}</string>
            </dict>
            <key>gold_projectile_middle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,2},{58,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,34}}</string>
                <key>sourceSize</key>
                <string>{58,34}</string>
            </dict>
            <key>gold_projectile_middle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,2},{58,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,34}}</string>
                <key>sourceSize</key>
                <string>{58,34}</string>
            </dict>
            <key>purple_x_slash_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,2},{99,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,106}}</string>
                <key>sourceSize</key>
                <string>{99,106}</string>
            </dict>
            <key>purple_x_slash_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,2},{99,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,106}}</string>
                <key>sourceSize</key>
                <string>{99,106}</string>
            </dict>
            <key>purple_x_slash_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,2},{99,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,106}}</string>
                <key>sourceSize</key>
                <string>{99,106}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>other_effect_2_spritesheet.png</string>
            <key>size</key>
            <string>{762,110}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e2373ee44e28fa2ad4d76eca43b2080:5b26370d57085d6d6bc961b3c9238cc6:6e501dfeaf8cf3eb5ba33dd6e0457a1c$</string>
            <key>textureFileName</key>
            <string>other_effect_2_spritesheet.png</string>
        </dict>
    </dict>
</plist>
