<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>1</integer>
		<key>ptm_ratio</key>
		<real>32</real>
	</dict>
	<key>bodies</key>
	<dict>
		<key>speedup</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.5375,0.4125 }</string>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>friction</key>
					<real>0.2</real>
					<key>restitution</key>
					<real>0.2</real>
					<key>filter_categoryBits</key>
					<integer>1</integer>
					<key>filter_groupIndex</key>
					<integer>0</integer>
					<key>filter_maskBits</key>
					<integer>65535</integer>
					<key>isSensor</key>
					<false/>
					<key>id</key>
					<string></string>
					<key>fixture_type</key>
					<string>CIRCLE</string>
					<key>circle</key>
					<dict>
						<key>radius</key>
						<real>28.636</real>
						<key>position</key>
						<string>{ -1.000,1.000 }</string>
					</dict>
				</dict>
			</array>
		</dict>
		<key>powerup</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.5345,0.4516 }</string>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>friction</key>
					<real>0.2</real>
					<key>restitution</key>
					<real>0.2</real>
					<key>filter_categoryBits</key>
					<integer>1</integer>
					<key>filter_groupIndex</key>
					<integer>0</integer>
					<key>filter_maskBits</key>
					<integer>65535</integer>
					<key>isSensor</key>
					<false/>
					<key>id</key>
					<string></string>
					<key>fixture_type</key>
					<string>CIRCLE</string>
					<key>circle</key>
					<dict>
						<key>radius</key>
						<real>26.019</real>
						<key>position</key>
						<string>{ -1.000,3.000 }</string>
					</dict>
				</dict>
			</array>
		</dict>
		<key>invisible</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.5125,0.4667 }</string>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>friction</key>
					<real>0.2</real>
					<key>restitution</key>
					<real>0.2</real>
					<key>filter_categoryBits</key>
					<integer>1</integer>
					<key>filter_groupIndex</key>
					<integer>0</integer>
					<key>filter_maskBits</key>
					<integer>65535</integer>
					<key>isSensor</key>
					<false/>
					<key>id</key>
					<string></string>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ -30.000,-44.000 }</string>
							<string>{ 30.000,-43.000 }</string>
							<string>{ 26.000,53.000 }</string>
							<string>{ -30.000,51.000 }</string>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<key>defense</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.5000,0.4516 }</string>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>friction</key>
					<real>0.2</real>
					<key>restitution</key>
					<real>0.2</real>
					<key>filter_categoryBits</key>
					<integer>1</integer>
					<key>filter_groupIndex</key>
					<integer>0</integer>
					<key>filter_maskBits</key>
					<integer>65535</integer>
					<key>isSensor</key>
					<false/>
					<key>id</key>
					<string></string>
					<key>fixture_type</key>
					<string>CIRCLE</string>
					<key>circle</key>
					<dict>
						<key>radius</key>
						<real>25</real>
						<key>position</key>
						<string>{ 1.000,2.000 }</string>
					</dict>
				</dict>
			</array>
		</dict>
		<key>container1</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.4954,0.3297 }</string>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>friction</key>
					<real>0.2</real>
					<key>restitution</key>
					<real>0.2</real>
					<key>filter_categoryBits</key>
					<integer>1</integer>
					<key>filter_groupIndex</key>
					<integer>0</integer>
					<key>filter_maskBits</key>
					<integer>65535</integer>
					<key>isSensor</key>
					<false/>
					<key>id</key>
					<string></string>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ -31.830,39.240 }</string>
							<string>{ -31.830,-41.760 }</string>
							<string>{ 32.170,-41.760 }</string>
							<string>{ 32.170,39.240 }</string>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<key>coin_2</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.5195,0.4557 }</string>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>friction</key>
					<real>0.2</real>
					<key>restitution</key>
					<real>0.2</real>
					<key>filter_categoryBits</key>
					<integer>1</integer>
					<key>filter_groupIndex</key>
					<integer>0</integer>
					<key>filter_maskBits</key>
					<integer>65535</integer>
					<key>isSensor</key>
					<false/>
					<key>id</key>
					<string></string>
					<key>fixture_type</key>
					<string>CIRCLE</string>
					<key>circle</key>
					<dict>
						<key>radius</key>
						<real>37.014</real>
						<key>position</key>
						<string>{ -1.000,3.000 }</string>
					</dict>
				</dict>
			</array>
		</dict>
		<key>coin_1</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.5065,0.4684 }</string>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>friction</key>
					<real>0.2</real>
					<key>restitution</key>
					<real>0.2</real>
					<key>filter_categoryBits</key>
					<integer>1</integer>
					<key>filter_groupIndex</key>
					<integer>0</integer>
					<key>filter_maskBits</key>
					<integer>65535</integer>
					<key>isSensor</key>
					<false/>
					<key>id</key>
					<string></string>
					<key>fixture_type</key>
					<string>CIRCLE</string>
					<key>circle</key>
					<dict>
						<key>radius</key>
						<real>30</real>
						<key>position</key>
						<string>{ -1.000,2.000 }</string>
					</dict>
				</dict>
			</array>
		</dict>
		<key>bag_1</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.5304,0.5172 }</string>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>friction</key>
					<real>0.2</real>
					<key>restitution</key>
					<real>0.2</real>
					<key>filter_categoryBits</key>
					<integer>1</integer>
					<key>filter_groupIndex</key>
					<integer>0</integer>
					<key>filter_maskBits</key>
					<integer>65535</integer>
					<key>isSensor</key>
					<false/>
					<key>id</key>
					<string></string>
					<key>fixture_type</key>
					<string>CIRCLE</string>
					<key>circle</key>
					<dict>
						<key>radius</key>
						<real>40.012</real>
						<key>position</key>
						<string>{ -2.000,2.000 }</string>
					</dict>
				</dict>
			</array>
		</dict>
		<key>bag_2</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.4825,0.5046 }</string>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<integer>1</integer>
					<key>friction</key>
					<real>0.2</real>
					<key>restitution</key>
					<real>0.2</real>
					<key>filter_categoryBits</key>
					<integer>1</integer>
					<key>filter_groupIndex</key>
					<integer>0</integer>
					<key>filter_maskBits</key>
					<integer>65535</integer>
					<key>isSensor</key>
					<false/>
					<key>id</key>
					<string></string>
					<key>fixture_type</key>
					<string>CIRCLE</string>
					<key>circle</key>
					<dict>
						<key>radius</key>
						<real>45</real>
						<key>position</key>
						<string>{ -2.000,3.000 }</string>
					</dict>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
