<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>1</integer>
		<key>ptm_ratio</key>
		<real>32</real>
	</dict>
	<key>bodies</key>
	<dict>
		<key>tower2</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.5097,0.0483 }</string>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>friction</key>
					<real>1</real>
					<key>restitution</key>
					<real>0</real>
					<key>filter_categoryBits</key>
					<integer>1</integer>
					<key>filter_groupIndex</key>
					<integer>0</integer>
					<key>filter_maskBits</key>
					<integer>65535</integer>
					<key>isSensor</key>
					<false/>
					<key>id</key>
					<string></string>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ -10.000,380.000 }</string>
							<string>{ -72.000,343.000 }</string>
							<string>{ -31.000,-4.000 }</string>
							<string>{ 31.000,-3.000 }</string>
							<string>{ 64.000,343.000 }</string>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<key>tower1</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.5180,0.0384 }</string>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>friction</key>
					<real>1</real>
					<key>restitution</key>
					<real>0</real>
					<key>filter_categoryBits</key>
					<integer>1</integer>
					<key>filter_groupIndex</key>
					<integer>0</integer>
					<key>filter_maskBits</key>
					<integer>65535</integer>
					<key>isSensor</key>
					<false/>
					<key>id</key>
					<string></string>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ -8.000,380.000 }</string>
							<string>{ -80.000,322.000 }</string>
							<string>{ -41.000,-4.000 }</string>
							<string>{ 40.000,-4.000 }</string>
							<string>{ 69.000,326.000 }</string>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<key>tower3</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.5267,0.0064 }</string>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>friction</key>
					<real>0.5</real>
					<key>restitution</key>
					<real>0</real>
					<key>filter_categoryBits</key>
					<integer>1</integer>
					<key>filter_groupIndex</key>
					<integer>0</integer>
					<key>filter_maskBits</key>
					<integer>65535</integer>
					<key>isSensor</key>
					<false/>
					<key>id</key>
					<string></string>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ -36.000,298.000 }</string>
							<string>{ -36.000,-0.000 }</string>
							<string>{ 34.000,-1.000 }</string>
							<string>{ 34.000,298.000 }</string>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<key>tower4</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.5533,0.0096 }</string>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>friction</key>
					<real>0.5</real>
					<key>restitution</key>
					<real>0</real>
					<key>filter_categoryBits</key>
					<integer>1</integer>
					<key>filter_groupIndex</key>
					<integer>0</integer>
					<key>filter_maskBits</key>
					<integer>65535</integer>
					<key>isSensor</key>
					<false/>
					<key>id</key>
					<string></string>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 36.000,-2.000 }</string>
							<string>{ 36.000,302.000 }</string>
							<string>{ -37.000,303.000 }</string>
							<string>{ -38.000,-2.000 }</string>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<key>tower5</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.4620,0.0556 }</string>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>friction</key>
					<real>0.5</real>
					<key>restitution</key>
					<real>0</real>
					<key>filter_categoryBits</key>
					<integer>1</integer>
					<key>filter_groupIndex</key>
					<integer>0</integer>
					<key>filter_maskBits</key>
					<integer>65535</integer>
					<key>isSensor</key>
					<false/>
					<key>id</key>
					<string></string>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ -32.000,182.000 }</string>
							<string>{ -31.000,-1.000 }</string>
							<string>{ 31.000,-1.000 }</string>
							<string>{ 32.000,182.000 }</string>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<key>tower6</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.4747,0.0509 }</string>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>friction</key>
					<real>0.5</real>
					<key>restitution</key>
					<real>0</real>
					<key>filter_categoryBits</key>
					<integer>1</integer>
					<key>filter_groupIndex</key>
					<integer>0</integer>
					<key>filter_maskBits</key>
					<integer>65535</integer>
					<key>isSensor</key>
					<false/>
					<key>id</key>
					<string></string>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 32.000,193.000 }</string>
							<string>{ -32.000,192.000 }</string>
							<string>{ -31.000,-1.000 }</string>
							<string>{ 31.000,-0.000 }</string>
						</array>
					</array>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
