<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>magic_energy_ball1_end_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,756},{188,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,181}}</string>
                <key>sourceSize</key>
                <string>{188,181}</string>
            </dict>
            <key>magic_energy_ball1_end_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,833},{156,265}}</string>
                <key>offset</key>
                <string>{-14,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,265}}</string>
                <key>sourceSize</key>
                <string>{184,347}</string>
            </dict>
            <key>magic_energy_ball1_end_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,940},{150,159}}</string>
                <key>offset</key>
                <string>{-27,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,159}}</string>
                <key>sourceSize</key>
                <string>{204,301}</string>
            </dict>
            <key>magic_energy_ball1_end_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{398,399}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,399}}</string>
                <key>sourceSize</key>
                <string>{404,405}</string>
            </dict>
            <key>magic_energy_ball1_end_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{384,371}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{384,371}}</string>
                <key>sourceSize</key>
                <string>{386,371}</string>
            </dict>
            <key>magic_energy_ball1_end_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,403},{388,375}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{388,375}}</string>
                <key>sourceSize</key>
                <string>{390,375}</string>
            </dict>
            <key>magic_energy_ball1_end_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,2},{372,361}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{372,361}}</string>
                <key>sourceSize</key>
                <string>{374,361}</string>
            </dict>
            <key>magic_energy_ball1_end_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,780},{354,341}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,341}}</string>
                <key>sourceSize</key>
                <string>{354,341}</string>
            </dict>
            <key>magic_energy_ball1_end_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1102,635},{314,303}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{314,303}}</string>
                <key>sourceSize</key>
                <string>{316,303}</string>
            </dict>
            <key>magic_energy_ball1_end_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,394},{336,239}}</string>
                <key>offset</key>
                <string>{8,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,36},{336,239}}</string>
                <key>sourceSize</key>
                <string>{352,275}</string>
            </dict>
            <key>magic_energy_ball1_end_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1614,496},{248,215}}</string>
                <key>offset</key>
                <string>{52,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,96},{248,215}}</string>
                <key>sourceSize</key>
                <string>{352,311}</string>
            </dict>
            <key>magic_energy_ball2_end_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,375},{432,242}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{432,242}}</string>
                <key>sourceSize</key>
                <string>{446,242}</string>
            </dict>
            <key>magic_energy_ball2_end_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,178},{462,214}}</string>
                <key>offset</key>
                <string>{-7,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{462,214}}</string>
                <key>sourceSize</key>
                <string>{476,238}</string>
            </dict>
            <key>magic_energy_ball2_end_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,619},{460,204}}</string>
                <key>offset</key>
                <string>{-8,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{460,204}}</string>
                <key>sourceSize</key>
                <string>{476,226}</string>
            </dict>
            <key>magic_energy_ball2_end_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1626,178},{1,1}}</string>
                <key>offset</key>
                <string>{-1.5,0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{4,2}</string>
            </dict>
            <key>magic_energy_ball2_end_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,365},{306,236}}</string>
                <key>offset</key>
                <string>{24,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,8},{306,236}}</string>
                <key>sourceSize</key>
                <string>{354,244}</string>
            </dict>
            <key>magic_energy_ball2_end_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1672,2},{364,242}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{364,242}}</string>
                <key>sourceSize</key>
                <string>{368,244}</string>
            </dict>
            <key>magic_energy_ball2_end_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1626,246},{400,248}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{400,248}}</string>
                <key>sourceSize</key>
                <string>{402,254}</string>
            </dict>
            <key>magic_energy_ball_middle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,939},{187,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{187,179}}</string>
                <key>sourceSize</key>
                <string>{187,181}</string>
            </dict>
            <key>magic_energy_ball_middle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,991},{129,125}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,26},{129,125}}</string>
                <key>sourceSize</key>
                <string>{187,181}</string>
            </dict>
            <key>magic_energy_ball_middle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,1007},{127,117}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,27},{127,117}}</string>
                <key>sourceSize</key>
                <string>{187,181}</string>
            </dict>
            <key>magic_energy_ball_middle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1608,888},{161,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{161,157}}</string>
                <key>sourceSize</key>
                <string>{187,181}</string>
            </dict>
            <key>magic_energy_ball_middle_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1614,713},{177,173}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{177,173}}</string>
                <key>sourceSize</key>
                <string>{187,181}</string>
            </dict>
            <key>magic_energy_ball_middle_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,991},{139,135}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,22},{139,135}}</string>
                <key>sourceSize</key>
                <string>{187,181}</string>
            </dict>
            <key>magic_energy_ball_middle_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1911,877},{127,121}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,30},{127,121}}</string>
                <key>sourceSize</key>
                <string>{187,181}</string>
            </dict>
            <key>magic_energy_ball_start_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,1007},{110,96}}</string>
                <key>offset</key>
                <string>{28,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,1},{110,96}}</string>
                <key>sourceSize</key>
                <string>{166,114}</string>
            </dict>
            <key>magic_energy_ball_start_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,2},{508,174}}</string>
                <key>offset</key>
                <string>{-161,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{508,174}}</string>
                <key>sourceSize</key>
                <string>{830,174}</string>
            </dict>
            <key>magic_energy_ball_start_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,825},{442,180}}</string>
                <key>offset</key>
                <string>{-128,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{442,180}}</string>
                <key>sourceSize</key>
                <string>{706,182}</string>
            </dict>
            <key>magic_energy_ball_start_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,635},{108,62}}</string>
                <key>offset</key>
                <string>{27,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,7},{108,62}}</string>
                <key>sourceSize</key>
                <string>{170,70}</string>
            </dict>
            <key>magic_energy_ball_start_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,603},{246,228}}</string>
                <key>offset</key>
                <string>{-10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{246,228}}</string>
                <key>sourceSize</key>
                <string>{282,246}</string>
            </dict>
            <key>magic_energy_ball_start_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,940},{192,162}}</string>
                <key>offset</key>
                <string>{-14,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{192,162}}</string>
                <key>sourceSize</key>
                <string>{230,202}</string>
            </dict>
            <key>magic_energy_ball_start_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1771,888},{138,138}}</string>
                <key>offset</key>
                <string>{7,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{138,138}}</string>
                <key>sourceSize</key>
                <string>{152,174}</string>
            </dict>
            <key>magic_energy_ball_start_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,1007},{128,114}}</string>
                <key>offset</key>
                <string>{25,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,5},{128,114}}</string>
                <key>sourceSize</key>
                <string>{198,142}</string>
            </dict>
            <key>magic_energy_ball_start_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1793,713},{162,156}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,10},{162,156}}</string>
                <key>sourceSize</key>
                <string>{180,178}</string>
            </dict>
            <key>magic_energy_ball_start_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1864,496},{172,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,172}}</string>
                <key>sourceSize</key>
                <string>{172,172}</string>
            </dict>
            <key>magic_energy_ball_start_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1482,394},{360,130}}</string>
                <key>offset</key>
                <string>{-88,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{360,130}}</string>
                <key>sourceSize</key>
                <string>{540,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>magic_energyball_spritesheet.pvr.ccz</string>
            <key>size</key>
            <string>{2038,1128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce4f20e877184a39869a8f8b923b3ea7:2aa88045690062f090f8fae3aa89aa85:9e8ef043cf74c3c1a33cb2e1a2dc7967$</string>
            <key>textureFileName</key>
            <string>magic_energyball_spritesheet.pvr.ccz</string>
        </dict>
    </dict>
</plist>
