<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>map1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,8},{892,292}}</string>
                <key>offset</key>
                <string>{0.5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{892,292}}</string>
                <key>sourceSize</key>
                <string>{891,290}</string>
            </dict>
            <key>map1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,8},{976,288}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{976,288}}</string>
                <key>sourceSize</key>
                <string>{974,288}</string>
            </dict>
            <key>map1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,1312},{804,676}}</string>
                <key>offset</key>
                <string>{0.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{804,676}}</string>
                <key>sourceSize</key>
                <string>{803,676}</string>
            </dict>
            <key>map1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1560,308},{384,548}}</string>
                <key>offset</key>
                <string>{0.5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,548}}</string>
                <key>sourceSize</key>
                <string>{383,546}</string>
            </dict>
            <key>map1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,1320},{932,696}}</string>
                <key>offset</key>
                <string>{0,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{932,696}}</string>
                <key>sourceSize</key>
                <string>{932,695}</string>
            </dict>
            <key>map1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,308},{340,348}}</string>
                <key>offset</key>
                <string>{0.5,-1.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,348}}</string>
                <key>sourceSize</key>
                <string>{339,345}</string>
            </dict>
            <key>map1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,944},{1032,368}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1032,368}}</string>
                <key>sourceSize</key>
                <string>{1032,366}</string>
            </dict>
            <key>map1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,864},{832,440}}</string>
                <key>offset</key>
                <string>{3.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{832,440}}</string>
                <key>sourceSize</key>
                <string>{833,440}</string>
            </dict>
            <key>map1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,308},{1188,300}}</string>
                <key>offset</key>
                <string>{1.5,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1188,300}}</string>
                <key>sourceSize</key>
                <string>{1185,299}</string>
            </dict>
            <key>map1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,616},{1128,320}}</string>
                <key>offset</key>
                <string>{0.5,-1.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1128,320}}</string>
                <key>sourceSize</key>
                <string>{1127,317}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map1_spritesheet_1.pvr.ccz</string>
            <key>size</key>
            <string>{2024,2024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:21fa74bfc92ef664c5140d12a273e51a:039476934875d990b180ea7a45a38a8f:37d02658e5dbb9c09f086c34e567f47b$</string>
            <key>textureFileName</key>
            <string>map1_spritesheet_1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
