<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>map1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,1544},{408,516}}</string>
                <key>offset</key>
                <string>{0.5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{408,516}}</string>
                <key>sourceSize</key>
                <string>{407,516}</string>
            </dict>
            <key>map1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,1368},{396,528}}</string>
                <key>offset</key>
                <string>{1.5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,528}}</string>
                <key>sourceSize</key>
                <string>{393,526}</string>
            </dict>
            <key>map1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,132},{992,664}}</string>
                <key>offset</key>
                <string>{0.5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{992,664}}</string>
                <key>sourceSize</key>
                <string>{991,700}</string>
            </dict>
            <key>map1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,8},{1000,116}}</string>
                <key>offset</key>
                <string>{0.5,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,116}}</string>
                <key>sourceSize</key>
                <string>{999,115}</string>
            </dict>
            <key>map1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1560,820},{716,364}}</string>
                <key>offset</key>
                <string>{-0.5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{716,364}}</string>
                <key>sourceSize</key>
                <string>{717,362}</string>
            </dict>
            <key>map1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,1368},{728,572}}</string>
                <key>offset</key>
                <string>{1.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{728,572}}</string>
                <key>sourceSize</key>
                <string>{725,572}</string>
            </dict>
            <key>map1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,820},{520,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,720}}</string>
                <key>sourceSize</key>
                <string>{520,720}</string>
            </dict>
            <key>map1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,804},{556,816}}</string>
                <key>offset</key>
                <string>{1,-0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{556,816}}</string>
                <key>sourceSize</key>
                <string>{554,815}</string>
            </dict>
            <key>map1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,8},{908,804}}</string>
                <key>offset</key>
                <string>{0,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{908,804}}</string>
                <key>sourceSize</key>
                <string>{908,803}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map1_spritesheet_2.pvr.ccz</string>
            <key>size</key>
            <string>{1960,1960}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5bac66b853baf39257352d7c5584c6ac:3c176dc7fbea80d8d99ef2dc10724b6e:66c7223a38dcf10a7bf6fe8f2371d35c$</string>
            <key>textureFileName</key>
            <string>map1_spritesheet_2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
