<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1049,2},{158,257}}</string>
                <key>offset</key>
                <string>{0,-135}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,285},{158,257}}</string>
                <key>sourceSize</key>
                <string>{158,557}</string>
            </dict>
            <key>effect_die_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,521}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,22},{128,521}}</string>
                <key>sourceSize</key>
                <string>{158,557}</string>
            </dict>
            <key>effect_die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1263,726},{158,283}}</string>
                <key>offset</key>
                <string>{0,-137}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,274},{158,283}}</string>
                <key>sourceSize</key>
                <string>{158,557}</string>
            </dict>
            <key>effect_die_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,2},{148,297}}</string>
                <key>offset</key>
                <string>{-5,-130}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,260},{148,297}}</string>
                <key>sourceSize</key>
                <string>{158,557}</string>
            </dict>
            <key>effect_die_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{158,355}}</string>
                <key>offset</key>
                <string>{0,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,202},{158,355}}</string>
                <key>sourceSize</key>
                <string>{158,557}</string>
            </dict>
            <key>effect_die_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,397},{158,359}}</string>
                <key>offset</key>
                <string>{0,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,189},{158,359}}</string>
                <key>sourceSize</key>
                <string>{158,557}</string>
            </dict>
            <key>effect_die_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{158,393}}</string>
                <key>offset</key>
                <string>{0,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,163},{158,393}}</string>
                <key>sourceSize</key>
                <string>{158,557}</string>
            </dict>
            <key>effect_die_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,455},{158,423}}</string>
                <key>offset</key>
                <string>{0,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,121},{158,423}}</string>
                <key>sourceSize</key>
                <string>{158,557}</string>
            </dict>
            <key>effect_die_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{158,451}}</string>
                <key>offset</key>
                <string>{0,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,76},{158,451}}</string>
                <key>sourceSize</key>
                <string>{158,557}</string>
            </dict>
            <key>effect_die_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,525},{148,481}}</string>
                <key>offset</key>
                <string>{-5,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,54},{148,481}}</string>
                <key>sourceSize</key>
                <string>{158,557}</string>
            </dict>
            <key>slash_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,758},{78,94}}</string>
                <key>offset</key>
                <string>{24,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,17},{78,94}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>slash_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,624},{100,126}}</string>
                <key>offset</key>
                <string>{12,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,16},{100,126}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>slash_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,880},{106,138}}</string>
                <key>offset</key>
                <string>{9,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,15},{106,138}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>slash_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,624},{110,144}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,15},{110,144}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>smoke_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,301},{272,227}}</string>
                <key>offset</key>
                <string>{22,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,41},{272,227}}</string>
                <key>sourceSize</key>
                <string>{316,293}</string>
            </dict>
            <key>smoke_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,2},{310,285}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,285}}</string>
                <key>sourceSize</key>
                <string>{316,293}</string>
            </dict>
            <key>smoke_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1263,2},{290,245}}</string>
                <key>offset</key>
                <string>{3,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,39},{290,245}}</string>
                <key>sourceSize</key>
                <string>{316,293}</string>
            </dict>
            <key>smoke_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,726},{294,253}}</string>
                <key>offset</key>
                <string>{-10,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,34},{294,253}}</string>
                <key>sourceSize</key>
                <string>{316,293}</string>
            </dict>
            <key>smoke_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,751},{308,267}}</string>
                <key>offset</key>
                <string>{-4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{308,267}}</string>
                <key>sourceSize</key>
                <string>{316,293}</string>
            </dict>
            <key>smoke_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,359},{316,281}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{316,281}}</string>
                <key>sourceSize</key>
                <string>{316,293}</string>
            </dict>
            <key>smoke_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,314},{308,265}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,23},{308,265}}</string>
                <key>sourceSize</key>
                <string>{316,293}</string>
            </dict>
            <key>smoke_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,758},{292,259}}</string>
                <key>offset</key>
                <string>{12,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,8},{292,259}}</string>
                <key>sourceSize</key>
                <string>{316,293}</string>
            </dict>
            <key>smoke_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1263,294},{284,245}}</string>
                <key>offset</key>
                <string>{16,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,13},{284,245}}</string>
                <key>sourceSize</key>
                <string>{316,293}</string>
            </dict>
            <key>tower_orb_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,880},{140,70}}</string>
                <key>offset</key>
                <string>{38,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,7},{140,70}}</string>
                <key>sourceSize</key>
                <string>{216,82}</string>
            </dict>
            <key>tower_orb_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,580},{144,72}}</string>
                <key>offset</key>
                <string>{36,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,4},{144,72}}</string>
                <key>sourceSize</key>
                <string>{216,82}</string>
            </dict>
            <key>tower_orb_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,580},{144,72}}</string>
                <key>offset</key>
                <string>{36,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,5},{144,72}}</string>
                <key>sourceSize</key>
                <string>{216,82}</string>
            </dict>
            <key>tower_orb_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1423,870},{142,70}}</string>
                <key>offset</key>
                <string>{37,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,5},{142,70}}</string>
                <key>sourceSize</key>
                <string>{216,82}</string>
            </dict>
            <key>tower_orb_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1402,580},{144,70}}</string>
                <key>offset</key>
                <string>{36,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,7},{144,70}}</string>
                <key>sourceSize</key>
                <string>{216,82}</string>
            </dict>
            <key>tower_orb_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1330,580},{144,70}}</string>
                <key>offset</key>
                <string>{36,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,4},{144,70}}</string>
                <key>sourceSize</key>
                <string>{216,82}</string>
            </dict>
            <key>tower_orb_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,880},{140,70}}</string>
                <key>offset</key>
                <string>{38,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,7},{140,70}}</string>
                <key>sourceSize</key>
                <string>{216,82}</string>
            </dict>
            <key>tower_orb_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,677},{144,72}}</string>
                <key>offset</key>
                <string>{36,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,4},{144,72}}</string>
                <key>sourceSize</key>
                <string>{216,82}</string>
            </dict>
            <key>tower_orb_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,677},{144,72}}</string>
                <key>offset</key>
                <string>{36,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,5},{144,72}}</string>
                <key>sourceSize</key>
                <string>{216,82}</string>
            </dict>
            <key>tower_orb_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1423,726},{142,70}}</string>
                <key>offset</key>
                <string>{37,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,5},{142,70}}</string>
                <key>sourceSize</key>
                <string>{216,82}</string>
            </dict>
            <key>tower_orb_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1258,580},{144,70}}</string>
                <key>offset</key>
                <string>{36,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,7},{144,70}}</string>
                <key>sourceSize</key>
                <string>{216,82}</string>
            </dict>
            <key>tower_orb_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,580},{144,70}}</string>
                <key>offset</key>
                <string>{36,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,4},{144,70}}</string>
                <key>sourceSize</key>
                <string>{216,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>other_effect_spritesheet.pvr.ccz</string>
            <key>size</key>
            <string>{1510,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87be3d9913b8ac4378dd07873c92880b:8c07a6150377416902ce7410f026cce1:cb1a9e4220d4f50ff4611e797ae23e50$</string>
            <key>textureFileName</key>
            <string>other_effect_spritesheet.pvr.ccz</string>
        </dict>
    </dict>
</plist>
