<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{3010,1054}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3010,1054}}</string>
                <key>sourceSize</key>
                <string>{3010,1054}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>background2_spritesheet.png</string>
            <key>size</key>
            <string>{4096,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ac0fa25199bcbf2219e03c449f1d54b8:2ba981fa7d33c69fb72582c62ce2f236:97c62d38d0e2ab66c57660159f988988$</string>
            <key>textureFileName</key>
            <string>background2_spritesheet.png</string>
        </dict>
    </dict>
</plist>
