<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{490,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{490,277}}</string>
                <key>sourceSize</key>
                <string>{490,277}</string>
            </dict>
            <key>background2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,491},{452,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{452,69}}</string>
                <key>sourceSize</key>
                <string>{452,69}</string>
            </dict>
            <key>background3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,281},{490,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{490,208}}</string>
                <key>sourceSize</key>
                <string>{490,208}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>background_sheet_1.png</string>
            <key>size</key>
            <string>{494,562}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cbbe348d0c49c8d0bba9a611376a0215:3004e19f5c868b4e664ab710dd7a0d29:a0a2c77fcb6376b7ee0e6d2529189aee$</string>
            <key>textureFileName</key>
            <string>background_sheet_1.png</string>
        </dict>
    </dict>
</plist>
