<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arb.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,1088},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>brus.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,784},{150,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,151}}</string>
                <key>sourceSize</key>
                <string>{150,151}</string>
            </dict>
            <key>chn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1675},{148,146}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{148,146}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>chn_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,422},{208,208}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{208,208}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>credits.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,784},{150,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,151}}</string>
                <key>sourceSize</key>
                <string>{150,151}</string>
            </dict>
            <key>credits_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,784},{150,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,151}}</string>
                <key>sourceSize</key>
                <string>{150,151}</string>
            </dict>
            <key>credits_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,422},{208,208}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{208,208}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>facebook.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1523},{150,149}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{150,149}}</string>
                <key>sourceSize</key>
                <string>{150,151}</string>
            </dict>
            <key>facebook_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,784},{150,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,151}}</string>
                <key>sourceSize</key>
                <string>{150,151}</string>
            </dict>
            <key>facebook_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1371},{150,149}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{150,149}}</string>
                <key>sourceSize</key>
                <string>{150,151}</string>
            </dict>
            <key>fra.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,1675},{146,146}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{146,146}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>fra_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,422},{208,208}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{208,208}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>gamecenter.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,764},{150,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,151}}</string>
                <key>sourceSize</key>
                <string>{150,151}</string>
            </dict>
            <key>gamecenter_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,632},{150,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,151}}</string>
                <key>sourceSize</key>
                <string>{150,151}</string>
            </dict>
            <key>gamecenter_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,1220},{150,149}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{150,149}}</string>
                <key>sourceSize</key>
                <string>{150,151}</string>
            </dict>
            <key>ger.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1825},{146,146}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{146,146}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ger_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{208,208}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{208,208}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>googleplay.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,1088},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>googleplay_controller.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,632},{150,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,151}}</string>
                <key>sourceSize</key>
                <string>{150,151}</string>
            </dict>
            <key>googleplay_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,1088},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>googleplay_disable_controller.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,632},{150,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,151}}</string>
                <key>sourceSize</key>
                <string>{150,151}</string>
            </dict>
            <key>googleplay_music.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1088},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>googleplay_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1088},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>googleplay_off_controller.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,632},{150,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,151}}</string>
                <key>sourceSize</key>
                <string>{150,151}</string>
            </dict>
            <key>ita.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,1068},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ita_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,212},{208,208}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{208,208}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>itunes.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,936},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>jpn.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,936},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>kor.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,936},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>music.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,632},{150,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,151}}</string>
                <key>sourceSize</key>
                <string>{150,151}</string>
            </dict>
            <key>music_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{152,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,153}}</string>
                <key>sourceSize</key>
                <string>{152,153}</string>
            </dict>
            <key>music_off_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,212},{208,208}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{208,208}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>music_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,212},{208,208}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{208,208}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>ptbr.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,936},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>rus.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,612},{150,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,151}}</string>
                <key>sourceSize</key>
                <string>{150,151}</string>
            </dict>
            <key>rus_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{208,208}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{208,208}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>sound.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,460},{150,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,151}}</string>
                <key>sourceSize</key>
                <string>{150,151}</string>
            </dict>
            <key>sound_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,308},{150,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,151}}</string>
                <key>sourceSize</key>
                <string>{150,151}</string>
            </dict>
            <key>sound_off_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,2},{208,208}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{208,208}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>sound_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{208,208}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{208,208}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>spa.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,936},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>spa_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{208,208}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{208,208}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>support.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,916},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>tur.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,784},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>usbr.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,156},{150,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,151}}</string>
                <key>sourceSize</key>
                <string>{150,151}</string>
            </dict>
            <key>usbr_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{208,208}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{208,208}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>batchSettings.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b998181f6b4c5271cbbb975fa99ee5e0:8cffd9b94957027c01d159ffd56b1f88:565c0092b175a8488d8c4382f61b4a70$</string>
            <key>textureFileName</key>
            <string>batchSettings.png</string>
        </dict>
    </dict>
</plist>
