<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>bag_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {115, 116}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{115, 116}</string>
			<key>spriteSourceSize</key>
			<string>{115, 116}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{254, 0}, {115, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bag_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {114, 109}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{114, 109}</string>
			<key>spriteSourceSize</key>
			<string>{114, 109}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 182}, {114, 109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>coin_1_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 9}, {56, 58}}</string>
			<key>spriteOffset</key>
			<string>{1, -2}</string>
			<key>spriteSize</key>
			<string>{56, 58}</string>
			<key>spriteSourceSize</key>
			<string>{72, 72}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{136, 227}, {56, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>coin_1_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 9}, {50, 58}}</string>
			<key>spriteOffset</key>
			<string>{3, -2}</string>
			<key>spriteSize</key>
			<string>{50, 58}</string>
			<key>spriteSourceSize</key>
			<string>{72, 72}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{194, 227}, {50, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>coin_1_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{21, 9}, {36, 58}}</string>
			<key>spriteOffset</key>
			<string>{3, -2}</string>
			<key>spriteSize</key>
			<string>{36, 58}</string>
			<key>spriteSourceSize</key>
			<string>{72, 72}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{364, 118}, {36, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>coin_1_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{29, 9}, {18, 58}}</string>
			<key>spriteOffset</key>
			<string>{2, -2}</string>
			<key>spriteSize</key>
			<string>{18, 58}</string>
			<key>spriteSourceSize</key>
			<string>{72, 72}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{371, 0}, {18, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>coin_1_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{29, 9}, {18, 58}}</string>
			<key>spriteOffset</key>
			<string>{2, -2}</string>
			<key>spriteSize</key>
			<string>{18, 58}</string>
			<key>spriteSourceSize</key>
			<string>{72, 72}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{116, 182}, {18, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>coin_1_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 10}, {36, 56}}</string>
			<key>spriteOffset</key>
			<string>{1, -2}</string>
			<key>spriteSize</key>
			<string>{36, 56}</string>
			<key>spriteSourceSize</key>
			<string>{72, 72}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{402, 119}, {36, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>coin_1_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 8}, {48, 58}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{48, 58}</string>
			<key>spriteSourceSize</key>
			<string>{72, 72}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{246, 227}, {48, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>coin_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 6}, {73, 73}}</string>
			<key>spriteOffset</key>
			<string>{2, -3}</string>
			<key>spriteSize</key>
			<string>{73, 73}</string>
			<key>spriteSourceSize</key>
			<string>{77, 79}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{238, 368}, {73, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>container_item_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{74, 40}, {106, 117}}</string>
			<key>spriteOffset</key>
			<string>{1, -20}</string>
			<key>spriteSize</key>
			<string>{106, 117}</string>
			<key>spriteSourceSize</key>
			<string>{252, 157}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{402, 0}, {106, 117}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>container_item_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{73, 38}, {108, 119}}</string>
			<key>spriteOffset</key>
			<string>{1, -19}</string>
			<key>spriteSize</key>
			<string>{108, 119}</string>
			<key>spriteSourceSize</key>
			<string>{252, 157}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{364, 178}, {108, 119}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>container_item_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{61, 44}, {144, 113}}</string>
			<key>spriteOffset</key>
			<string>{7, -22}</string>
			<key>spriteSize</key>
			<string>{144, 113}</string>
			<key>spriteSourceSize</key>
			<string>{252, 157}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 67}, {144, 113}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>container_item_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 50}, {216, 107}}</string>
			<key>spriteOffset</key>
			<string>{-2, -25}</string>
			<key>spriteSize</key>
			<string>{216, 107}</string>
			<key>spriteSourceSize</key>
			<string>{252, 157}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{146, 118}, {216, 107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>container_item_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 50}, {236, 107}}</string>
			<key>spriteOffset</key>
			<string>{0, -25}</string>
			<key>spriteSize</key>
			<string>{236, 107}</string>
			<key>spriteSourceSize</key>
			<string>{252, 157}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 293}, {236, 107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>container_item_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 92}, {252, 65}}</string>
			<key>spriteOffset</key>
			<string>{0, -46}</string>
			<key>spriteSize</key>
			<string>{252, 65}</string>
			<key>spriteSourceSize</key>
			<string>{252, 157}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {252, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>container_item_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 90}, {244, 67}}</string>
			<key>spriteOffset</key>
			<string>{-4, -45}</string>
			<key>spriteSize</key>
			<string>{244, 67}</string>
			<key>spriteSourceSize</key>
			<string>{252, 157}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{238, 299}, {244, 67}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>textureFileName</key>
		<string>item_spritesheet.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>