<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>magic_fireball_end_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,826},{166,142}}</string>
                <key>offset</key>
                <string>{-12,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{166,142}}</string>
                <key>sourceSize</key>
                <string>{190,148}</string>
            </dict>
            <key>magic_fireball_end_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,2},{198,182}}</string>
                <key>offset</key>
                <string>{16,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{198,182}}</string>
                <key>sourceSize</key>
                <string>{230,214}</string>
            </dict>
            <key>magic_fireball_end_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,186},{194,180}}</string>
                <key>offset</key>
                <string>{18,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{194,180}}</string>
                <key>sourceSize</key>
                <string>{230,214}</string>
            </dict>
            <key>magic_fireball_end_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,558},{216,224}}</string>
                <key>offset</key>
                <string>{28,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,0},{216,224}}</string>
                <key>sourceSize</key>
                <string>{272,304}</string>
            </dict>
            <key>magic_fireball_end_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,776},{214,224}}</string>
                <key>offset</key>
                <string>{29,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,0},{214,224}}</string>
                <key>sourceSize</key>
                <string>{272,304}</string>
            </dict>
            <key>magic_fireball_end_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,608},{228,248}}</string>
                <key>offset</key>
                <string>{35,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,0},{228,248}}</string>
                <key>sourceSize</key>
                <string>{298,356}</string>
            </dict>
            <key>magic_fireball_end_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,468},{226,250}}</string>
                <key>offset</key>
                <string>{36,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,0},{226,250}}</string>
                <key>sourceSize</key>
                <string>{298,356}</string>
            </dict>
            <key>magic_fireball_end_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,208},{222,258}}</string>
                <key>offset</key>
                <string>{35,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,0},{222,258}}</string>
                <key>sourceSize</key>
                <string>{292,378}</string>
            </dict>
            <key>magic_fireball_end_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,432},{222,256}}</string>
                <key>offset</key>
                <string>{35,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,0},{222,256}}</string>
                <key>sourceSize</key>
                <string>{292,378}</string>
            </dict>
            <key>magic_fireball_end_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{232,256}}</string>
                <key>offset</key>
                <string>{36,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,0},{232,256}}</string>
                <key>sourceSize</key>
                <string>{304,382}</string>
            </dict>
            <key>magic_fireball_end_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,374},{232,256}}</string>
                <key>offset</key>
                <string>{36,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,0},{232,256}}</string>
                <key>sourceSize</key>
                <string>{304,382}</string>
            </dict>
            <key>magic_fireball_end_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,992},{156,158}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{156,158}}</string>
                <key>sourceSize</key>
                <string>{156,160}</string>
            </dict>
            <key>magic_fireball_end_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{230,276}}</string>
                <key>offset</key>
                <string>{36,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,0},{230,276}}</string>
                <key>sourceSize</key>
                <string>{302,388}</string>
            </dict>
            <key>magic_fireball_end_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{230,276}}</string>
                <key>offset</key>
                <string>{36,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,0},{230,276}}</string>
                <key>sourceSize</key>
                <string>{302,388}</string>
            </dict>
            <key>magic_fireball_end_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{204,268}}</string>
                <key>offset</key>
                <string>{46,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,0},{204,268}}</string>
                <key>sourceSize</key>
                <string>{296,402}</string>
            </dict>
            <key>magic_fireball_end_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{204,268}}</string>
                <key>offset</key>
                <string>{46,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,0},{204,268}}</string>
                <key>sourceSize</key>
                <string>{296,402}</string>
            </dict>
            <key>magic_fireball_end_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,184},{188,260}}</string>
                <key>offset</key>
                <string>{42,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,0},{188,260}}</string>
                <key>sourceSize</key>
                <string>{272,390}</string>
            </dict>
            <key>magic_fireball_end_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,184},{188,260}}</string>
                <key>offset</key>
                <string>{42,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,0},{188,260}}</string>
                <key>sourceSize</key>
                <string>{272,390}</string>
            </dict>
            <key>magic_fireball_end_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,2},{180,262}}</string>
                <key>offset</key>
                <string>{42,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,0},{180,262}}</string>
                <key>sourceSize</key>
                <string>{264,396}</string>
            </dict>
            <key>magic_fireball_end_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,2},{180,262}}</string>
                <key>offset</key>
                <string>{42,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,0},{180,262}}</string>
                <key>sourceSize</key>
                <string>{264,396}</string>
            </dict>
            <key>magic_fireball_end_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,656},{30,150}}</string>
                <key>offset</key>
                <string>{-7,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,150}}</string>
                <key>sourceSize</key>
                <string>{44,176}</string>
            </dict>
            <key>magic_fireball_end_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,656},{30,150}}</string>
                <key>offset</key>
                <string>{-7,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,150}}</string>
                <key>sourceSize</key>
                <string>{44,176}</string>
            </dict>
            <key>magic_fireball_end_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,868},{172,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,176}}</string>
                <key>sourceSize</key>
                <string>{172,176}</string>
            </dict>
            <key>magic_fireball_end_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,368},{188,190}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,190}}</string>
                <key>sourceSize</key>
                <string>{188,194}</string>
            </dict>
            <key>magic_fireball_end_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,826},{176,180}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,180}}</string>
                <key>sourceSize</key>
                <string>{176,182}</string>
            </dict>
            <key>magic_fireball_end_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,838},{164,166}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,166}}</string>
                <key>sourceSize</key>
                <string>{164,170}</string>
            </dict>
            <key>magic_fireball_end_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,992},{164,164}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,164}}</string>
                <key>sourceSize</key>
                <string>{164,168}</string>
            </dict>
            <key>magic_fireball_end_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,696},{182,170}}</string>
                <key>offset</key>
                <string>{10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{182,170}}</string>
                <key>sourceSize</key>
                <string>{202,184}</string>
            </dict>
            <key>magic_fireball_end_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,656},{184,168}}</string>
                <key>offset</key>
                <string>{9,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{184,168}}</string>
                <key>sourceSize</key>
                <string>{202,184}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>magic_fireball_end.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f09c63834efdeb58c3b447246c0bdcf9:3faa2460d07434c71c4202eecde1c52e:1ee3d728f3e8ff9825e4b8ee79193c00$</string>
            <key>textureFileName</key>
            <string>magic_fireball_end.png</string>
        </dict>
    </dict>
</plist>
