<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>magic_lightning_arrow_end_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1835,590},{176,201}}</string>
                <key>offset</key>
                <string>{-21,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,52},{176,201}}</string>
                <key>sourceSize</key>
                <string>{336,323}</string>
            </dict>
            <key>magic_lightning_arrow_end_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1535,868},{280,281}}</string>
                <key>offset</key>
                <string>{-13,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,12},{280,281}}</string>
                <key>sourceSize</key>
                <string>{336,323}</string>
            </dict>
            <key>magic_lightning_arrow_end_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1251,613},{282,267}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,18},{282,267}}</string>
                <key>sourceSize</key>
                <string>{336,323}</string>
            </dict>
            <key>magic_lightning_arrow_end_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,323},{296,255}}</string>
                <key>offset</key>
                <string>{-10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,30},{296,255}}</string>
                <key>sourceSize</key>
                <string>{336,323}</string>
            </dict>
            <key>magic_lightning_arrow_end_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,321},{294,273}}</string>
                <key>offset</key>
                <string>{-10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,24},{294,273}}</string>
                <key>sourceSize</key>
                <string>{336,323}</string>
            </dict>
            <key>magic_lightning_arrow_end_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,321},{294,301}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,11},{294,301}}</string>
                <key>sourceSize</key>
                <string>{336,323}</string>
            </dict>
            <key>magic_lightning_arrow_end_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{324,319}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{324,319}}</string>
                <key>sourceSize</key>
                <string>{336,323}</string>
            </dict>
            <key>magic_lightning_arrow_end_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{324,321}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{324,321}}</string>
                <key>sourceSize</key>
                <string>{336,323}</string>
            </dict>
            <key>magic_lightning_arrow_end_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1306,2},{324,317}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{324,317}}</string>
                <key>sourceSize</key>
                <string>{336,323}</string>
            </dict>
            <key>magic_lightning_arrow_end_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,2},{324,317}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{324,317}}</string>
                <key>sourceSize</key>
                <string>{336,323}</string>
            </dict>
            <key>magic_lightning_arrow_end_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,2},{324,317}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{324,317}}</string>
                <key>sourceSize</key>
                <string>{336,323}</string>
            </dict>
            <key>magic_lightning_arrow_end_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1548,590},{276,285}}</string>
                <key>offset</key>
                <string>{-21,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,21},{276,285}}</string>
                <key>sourceSize</key>
                <string>{336,323}</string>
            </dict>
            <key>magic_lightning_arrow_end_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1632,2},{322,293}}</string>
                <key>offset</key>
                <string>{-7,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{322,293}}</string>
                <key>sourceSize</key>
                <string>{336,323}</string>
            </dict>
            <key>magic_lightning_arrow_end_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1632,297},{322,291}}</string>
                <key>offset</key>
                <string>{-7,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{322,291}}</string>
                <key>sourceSize</key>
                <string>{336,323}</string>
            </dict>
            <key>magic_lightning_arrow_end_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,325},{294,289}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,11},{294,289}}</string>
                <key>sourceSize</key>
                <string>{336,323}</string>
            </dict>
            <key>magic_lightning_arrow_end_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,596},{292,289}}</string>
                <key>offset</key>
                <string>{7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,11},{292,289}}</string>
                <key>sourceSize</key>
                <string>{336,323}</string>
            </dict>
            <key>magic_lightning_arrow_end_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,1144},{270,261}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,30},{270,261}}</string>
                <key>sourceSize</key>
                <string>{336,323}</string>
            </dict>
            <key>magic_lightning_arrow_end_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1172},{266,257}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,34},{266,257}}</string>
                <key>sourceSize</key>
                <string>{336,323}</string>
            </dict>
            <key>magic_lightning_arrow_end_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,887},{248,273}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,24},{248,273}}</string>
                <key>sourceSize</key>
                <string>{336,323}</string>
            </dict>
            <key>magic_lightning_arrow_end_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,899},{288,271}}</string>
                <key>offset</key>
                <string>{14,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,24},{288,271}}</string>
                <key>sourceSize</key>
                <string>{336,323}</string>
            </dict>
            <key>magic_lightning_arrow_end_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1956,2},{1,1}}</string>
                <key>offset</key>
                <string>{-167.5,161}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{336,323}</string>
            </dict>
            <key>magic_lightning_arrow_end_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,865},{290,277}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,25},{290,277}}</string>
                <key>sourceSize</key>
                <string>{336,323}</string>
            </dict>
            <key>magic_lightning_arrow_end_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,580},{294,283}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,19},{294,283}}</string>
                <key>sourceSize</key>
                <string>{336,323}</string>
            </dict>
            <key>magic_lightning_arrow_end_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,616},{294,281}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,21},{294,281}}</string>
                <key>sourceSize</key>
                <string>{336,323}</string>
            </dict>
            <key>magic_lightning_arrow_end_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1253,321},{290,293}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,15},{290,293}}</string>
                <key>sourceSize</key>
                <string>{336,323}</string>
            </dict>
            <key>magic_lightning_arrow_end_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,617},{292,271}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,23},{292,271}}</string>
                <key>sourceSize</key>
                <string>{336,323}</string>
            </dict>
            <key>magic_lightning_arrow_end_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,890},{270,265}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,26},{270,265}}</string>
                <key>sourceSize</key>
                <string>{336,323}</string>
            </dict>
            <key>magic_lightning_arrow_end_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1251,882},{268,275}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,28},{268,275}}</string>
                <key>sourceSize</key>
                <string>{336,323}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>magic_lightning_arrow_end.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:27c051e8cef9caa34ba801af158b7798:c6a918ff28a2e409ce3a53e96081babf:f208a87de3d19552c8ed767a450fb71c$</string>
            <key>textureFileName</key>
            <string>magic_lightning_arrow_end.png</string>
        </dict>
    </dict>
</plist>
