<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>magic_fireball_start_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,828},{140,148}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{140,148}}</string>
                <key>sourceSize</key>
                <string>{146,150}</string>
            </dict>
            <key>magic_fireball_start_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,176},{78,94}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{78,94}}</string>
                <key>sourceSize</key>
                <string>{90,98}</string>
            </dict>
            <key>magic_fireball_start_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,356},{60,82}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{60,82}}</string>
                <key>sourceSize</key>
                <string>{64,86}</string>
            </dict>
            <key>magic_fireball_start_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,272},{78,82}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{78,82}}</string>
                <key>sourceSize</key>
                <string>{78,86}</string>
            </dict>
            <key>magic_fireball_start_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,1076},{100,114}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,114}}</string>
                <key>sourceSize</key>
                <string>{100,132}</string>
            </dict>
            <key>magic_fireball_start_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,960},{122,124}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,124}}</string>
                <key>sourceSize</key>
                <string>{122,132}</string>
            </dict>
            <key>magic_fireball_start_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,682},{144,144}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,144}}</string>
                <key>sourceSize</key>
                <string>{146,150}</string>
            </dict>
            <key>magic_fireball_start_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,666},{166,160}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,160}}</string>
                <key>sourceSize</key>
                <string>{168,160}</string>
            </dict>
            <key>magic_fireball_start_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,184},{188,180}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,180}}</string>
                <key>sourceSize</key>
                <string>{190,180}</string>
            </dict>
            <key>magic_fireball_start_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,520},{176,170}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,170}}</string>
                <key>sourceSize</key>
                <string>{178,170}</string>
            </dict>
            <key>magic_fireball_start_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,664},{166,160}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,160}}</string>
                <key>sourceSize</key>
                <string>{168,160}</string>
            </dict>
            <key>magic_fireball_start_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,682},{138,148}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{138,148}}</string>
                <key>sourceSize</key>
                <string>{146,154}</string>
            </dict>
            <key>magic_fireball_start_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,358},{154,152}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,152}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
            <key>magic_fireball_start_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,666},{144,156}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,156}}</string>
                <key>sourceSize</key>
                <string>{146,172}</string>
            </dict>
            <key>magic_fireball_start_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,826},{132,150}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,150}}</string>
                <key>sourceSize</key>
                <string>{134,172}</string>
            </dict>
            <key>magic_fireball_start_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,822},{124,146}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,146}}</string>
                <key>sourceSize</key>
                <string>{124,174}</string>
            </dict>
            <key>magic_fireball_start_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,960},{124,142}}</string>
                <key>offset</key>
                <string>{6,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{124,142}}</string>
                <key>sourceSize</key>
                <string>{136,176}</string>
            </dict>
            <key>magic_fireball_start_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,1086},{128,132}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{128,132}}</string>
                <key>sourceSize</key>
                <string>{132,144}</string>
            </dict>
            <key>magic_fireball_start_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,970},{138,136}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{138,136}}</string>
                <key>sourceSize</key>
                <string>{142,144}</string>
            </dict>
            <key>magic_fireball_start_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,520},{178,142}}</string>
                <key>offset</key>
                <string>{15,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{178,142}}</string>
                <key>sourceSize</key>
                <string>{208,144}</string>
            </dict>
            <key>magic_fireball_start_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,366},{222,150}}</string>
                <key>offset</key>
                <string>{33,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,0},{222,150}}</string>
                <key>sourceSize</key>
                <string>{288,150}</string>
            </dict>
            <key>magic_fireball_start_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,358},{266,160}}</string>
                <key>offset</key>
                <string>{48,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,0},{266,160}}</string>
                <key>sourceSize</key>
                <string>{362,160}</string>
            </dict>
            <key>magic_fireball_start_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,812},{134,146}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,12},{134,146}}</string>
                <key>sourceSize</key>
                <string>{136,158}</string>
            </dict>
            <key>magic_fireball_start_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{310,170}}</string>
                <key>offset</key>
                <string>{66,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,0},{310,170}}</string>
                <key>sourceSize</key>
                <string>{442,170}</string>
            </dict>
            <key>magic_fireball_start_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,176},{358,180}}</string>
                <key>offset</key>
                <string>{83,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,0},{358,180}}</string>
                <key>sourceSize</key>
                <string>{524,180}</string>
            </dict>
            <key>magic_fireball_start_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{374,174}}</string>
                <key>offset</key>
                <string>{96,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,0},{374,174}}</string>
                <key>sourceSize</key>
                <string>{566,174}</string>
            </dict>
            <key>magic_fireball_start_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{406,172}}</string>
                <key>offset</key>
                <string>{116,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,0},{406,172}}</string>
                <key>sourceSize</key>
                <string>{638,176}</string>
            </dict>
            <key>magic_fireball_start_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{408,168}}</string>
                <key>offset</key>
                <string>{121,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,0},{408,168}}</string>
                <key>sourceSize</key>
                <string>{650,176}</string>
            </dict>
            <key>magic_fireball_start_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,512},{212,152}}</string>
                <key>offset</key>
                <string>{26,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,0},{212,152}}</string>
                <key>sourceSize</key>
                <string>{264,152}</string>
            </dict>
            <key>magic_fireball_start_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,520},{208,144}}</string>
                <key>offset</key>
                <string>{28,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,0},{208,144}}</string>
                <key>sourceSize</key>
                <string>{264,144}</string>
            </dict>
            <key>magic_fireball_start_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,838},{142,136}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,136}}</string>
                <key>sourceSize</key>
                <string>{144,136}</string>
            </dict>
            <key>magic_fireball_start_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,976},{134,130}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,130}}</string>
                <key>sourceSize</key>
                <string>{136,130}</string>
            </dict>
            <key>magic_fireball_start_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,948},{126,128}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,128}}</string>
                <key>sourceSize</key>
                <string>{128,134}</string>
            </dict>
            <key>magic_fireball_start_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,812},{134,146}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,12},{134,146}}</string>
                <key>sourceSize</key>
                <string>{136,158}</string>
            </dict>
            <key>magic_fireball_start_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1108},{118,130}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,130}}</string>
                <key>sourceSize</key>
                <string>{120,144}</string>
            </dict>
            <key>magic_fireball_start_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,960},{112,128}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,128}}</string>
                <key>sourceSize</key>
                <string>{112,146}</string>
            </dict>
            <key>magic_fireball_start_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,828},{130,144}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,144}}</string>
                <key>sourceSize</key>
                <string>{132,160}</string>
            </dict>
            <key>magic_fireball_start_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,692},{150,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,144}}</string>
                <key>sourceSize</key>
                <string>{150,144}</string>
            </dict>
            <key>magic_fireball_start_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,518},{208,162}}</string>
                <key>offset</key>
                <string>{-20,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,162}}</string>
                <key>sourceSize</key>
                <string>{248,162}</string>
            </dict>
            <key>magic_fireball_start_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,2},{188,180}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,180}}</string>
                <key>sourceSize</key>
                <string>{190,180}</string>
            </dict>
            <key>magic_fireball_start_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,948},{130,136}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{130,136}}</string>
                <key>sourceSize</key>
                <string>{134,150}</string>
            </dict>
            <key>magic_fireball_start_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,948},{130,136}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{130,136}}</string>
                <key>sourceSize</key>
                <string>{134,150}</string>
            </dict>
            <key>magic_fireball_start_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,1074},{114,122}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{114,122}}</string>
                <key>sourceSize</key>
                <string>{118,128}</string>
            </dict>
            <key>magic_fireball_start_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,1074},{114,122}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{114,122}}</string>
                <key>sourceSize</key>
                <string>{118,128}</string>
            </dict>
            <key>magic_fireball_start_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,1084},{96,94}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{96,94}}</string>
                <key>sourceSize</key>
                <string>{102,98}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>magic_fireball_start.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b7bc784f513f11c64e0b49fda3e3fed:796d17bd96aa8e6f0fede36f0d2843e0:90d15e8b4861e3183fff1a3a8226370f$</string>
            <key>textureFileName</key>
            <string>magic_fireball_start.png</string>
        </dict>
    </dict>
</plist>
