<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{8,1234},{760,911}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{760,911}}</string>
                <key>sourceSize</key>
                <string>{760,911}</string>
            </dict>
            <key>background2.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,8},{1813,1218}}</string>
                <key>offset</key>
                <string>{-81,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1813,1218}}</string>
                <key>sourceSize</key>
                <string>{1975,1218}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map1_background_spritesheet_1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:087e6791944593745b58c045dbdc22fc:e5988a2d00d0684bdc2cfa986ac40383:cafbdfbf5d7d61d8e3914d61da308ff4$</string>
            <key>textureFileName</key>
            <string>map1_background_spritesheet_1.png</string>
        </dict>
    </dict>
</plist>
