<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>map1_background_1_small.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{600,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,360}}</string>
                <key>sourceSize</key>
                <string>{600,360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map1_background1_small.png</string>
            <key>size</key>
            <string>{604,364}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:183e05329b273b21e98447e8fbc6f897:21506b1998ca7e47d332da950c99524d:74c1271b353c0ebdade86fbeec01c690$</string>
            <key>textureFileName</key>
            <string>map1_background1_small.png</string>
        </dict>
    </dict>
</plist>
