<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{2412,1062}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2412,1062}}</string>
                <key>sourceSize</key>
                <string>{2412,1062}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map2_background_spritesheet.png</string>
            <key>size</key>
            <string>{4096,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87789b7c0125b05bafa667cc1d0c26e5:67576312dd767e37d4a16e16eb286903:d94877089e627f28f0fc3df5a22ed4d3$</string>
            <key>textureFileName</key>
            <string>map2_background_spritesheet.png</string>
        </dict>
    </dict>
</plist>
