<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>1</integer>
		<key>ptm_ratio</key>
		<real>32</real>
	</dict>
	<key>bodies</key>
	<dict>
		<key>map1</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.5000,0.5000 }</string>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>friction</key>
					<real>0.5</real>
					<key>restitution</key>
					<real>0</real>
					<key>filter_categoryBits</key>
					<integer>1</integer>
					<key>filter_groupIndex</key>
					<integer>0</integer>
					<key>filter_maskBits</key>
					<integer>65535</integer>
					<key>isSensor</key>
					<false/>
					<key>id</key>
					<string></string>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ -1057.500,-174.500 }</string>
							<string>{ -1116.500,-156.500 }</string>
							<string>{ -1135.500,-178.500 }</string>
						</array>
						<array>
							<string>{ -1124.500,-324.500 }</string>
							<string>{ -1135.500,-178.500 }</string>
							<string>{ -1170.500,-183.500 }</string>
						</array>
						<array>
							<string>{ -1135.500,-178.500 }</string>
							<string>{ -1116.500,-156.500 }</string>
							<string>{ -1842.500,-170.500 }</string>
							<string>{ -1843.500,-193.500 }</string>
							<string>{ -1170.500,-183.500 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>friction</key>
					<real>0.5</real>
					<key>restitution</key>
					<real>0</real>
					<key>filter_categoryBits</key>
					<integer>1</integer>
					<key>filter_groupIndex</key>
					<integer>0</integer>
					<key>filter_maskBits</key>
					<integer>65535</integer>
					<key>isSensor</key>
					<false/>
					<key>id</key>
					<string></string>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ -905.500,-515.500 }</string>
							<string>{ -902.500,-349.500 }</string>
							<string>{ -1102.500,-321.500 }</string>
						</array>
						<array>
							<string>{ -794.500,-318.500 }</string>
							<string>{ -1102.500,-321.500 }</string>
							<string>{ -902.500,-349.500 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>friction</key>
					<real>0.5</real>
					<key>restitution</key>
					<real>0</real>
					<key>filter_categoryBits</key>
					<integer>1</integer>
					<key>filter_groupIndex</key>
					<integer>0</integer>
					<key>filter_maskBits</key>
					<integer>65535</integer>
					<key>isSensor</key>
					<false/>
					<key>id</key>
					<string></string>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ -721.500,101.500 }</string>
							<string>{ -682.500,11.500 }</string>
							<string>{ -632.500,20.500 }</string>
						</array>
						<array>
							<string>{ -965.500,7.500 }</string>
							<string>{ -764.500,-20.500 }</string>
							<string>{ -682.500,11.500 }</string>
						</array>
						<array>
							<string>{ -632.500,20.500 }</string>
							<string>{ -682.500,11.500 }</string>
							<string>{ -764.500,-20.500 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>friction</key>
					<real>0.5</real>
					<key>restitution</key>
					<real>0</real>
					<key>filter_categoryBits</key>
					<integer>1</integer>
					<key>filter_groupIndex</key>
					<integer>0</integer>
					<key>filter_maskBits</key>
					<integer>65535</integer>
					<key>isSensor</key>
					<false/>
					<key>id</key>
					<string></string>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 1235.500,119.500 }</string>
							<string>{ -721.500,113.500 }</string>
							<string>{ -643.500,104.500 }</string>
							<string>{ 583.500,98.500 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>friction</key>
					<real>0</real>
					<key>restitution</key>
					<real>0</real>
					<key>filter_categoryBits</key>
					<integer>1</integer>
					<key>filter_groupIndex</key>
					<integer>0</integer>
					<key>filter_maskBits</key>
					<integer>65535</integer>
					<key>isSensor</key>
					<false/>
					<key>id</key>
					<string></string>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 269.500,467.500 }</string>
							<string>{ 98.500,494.500 }</string>
							<string>{ 134.500,449.500 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>friction</key>
					<real>0.5</real>
					<key>restitution</key>
					<real>0</real>
					<key>filter_categoryBits</key>
					<integer>1</integer>
					<key>filter_groupIndex</key>
					<integer>0</integer>
					<key>filter_maskBits</key>
					<integer>65535</integer>
					<key>isSensor</key>
					<false/>
					<key>id</key>
					<string></string>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ -334.500,-495.500 }</string>
							<string>{ -866.500,-503.500 }</string>
							<string>{ -368.500,-581.500 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>friction</key>
					<real>0.5</real>
					<key>restitution</key>
					<real>0</real>
					<key>filter_categoryBits</key>
					<integer>1</integer>
					<key>filter_groupIndex</key>
					<integer>0</integer>
					<key>filter_maskBits</key>
					<integer>65535</integer>
					<key>isSensor</key>
					<false/>
					<key>id</key>
					<string></string>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 1694.500,-761.500 }</string>
							<string>{ 1708.500,-556.500 }</string>
							<string>{ 1666.500,-584.500 }</string>
						</array>
						<array>
							<string>{ -336.500,-612.500 }</string>
							<string>{ 1666.500,-584.500 }</string>
							<string>{ 1708.500,-556.500 }</string>
							<string>{ -336.500,-572.500 }</string>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<key>map2</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.5000,0.5000 }</string>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>friction</key>
					<real>0.5</real>
					<key>restitution</key>
					<real>0</real>
					<key>filter_categoryBits</key>
					<integer>1</integer>
					<key>filter_groupIndex</key>
					<integer>0</integer>
					<key>filter_maskBits</key>
					<integer>65535</integer>
					<key>isSensor</key>
					<false/>
					<key>id</key>
					<string></string>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 716.500,108.500 }</string>
							<string>{ -1233.500,118.500 }</string>
							<string>{ 611.500,28.500 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>friction</key>
					<real>0.5</real>
					<key>restitution</key>
					<real>0</real>
					<key>filter_categoryBits</key>
					<integer>1</integer>
					<key>filter_groupIndex</key>
					<integer>0</integer>
					<key>filter_maskBits</key>
					<integer>65535</integer>
					<key>isSensor</key>
					<false/>
					<key>id</key>
					<string></string>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 964.500,1.500 }</string>
							<string>{ 629.500,6.500 }</string>
							<string>{ 609.500,-48.500 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>friction</key>
					<real>0.5</real>
					<key>restitution</key>
					<real>0</real>
					<key>filter_categoryBits</key>
					<integer>1</integer>
					<key>filter_groupIndex</key>
					<integer>0</integer>
					<key>filter_maskBits</key>
					<integer>65535</integer>
					<key>isSensor</key>
					<false/>
					<key>id</key>
					<string></string>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 1042.500,-311.500 }</string>
							<string>{ 1079.500,-198.500 }</string>
							<string>{ 1016.500,-174.500 }</string>
						</array>
						<array>
							<string>{ 1842.500,-175.500 }</string>
							<string>{ 1016.500,-174.500 }</string>
							<string>{ 1079.500,-198.500 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>friction</key>
					<real>0.5</real>
					<key>restitution</key>
					<real>0</real>
					<key>filter_categoryBits</key>
					<integer>1</integer>
					<key>filter_groupIndex</key>
					<integer>0</integer>
					<key>filter_maskBits</key>
					<integer>65535</integer>
					<key>isSensor</key>
					<false/>
					<key>id</key>
					<string></string>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ -1690.500,-751.500 }</string>
							<string>{ -1673.500,-588.500 }</string>
							<string>{ -1703.500,-551.500 }</string>
						</array>
						<array>
							<string>{ 313.500,-578.500 }</string>
							<string>{ -1703.500,-551.500 }</string>
							<string>{ -1673.500,-588.500 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>friction</key>
					<real>0.5</real>
					<key>restitution</key>
					<real>0</real>
					<key>filter_categoryBits</key>
					<integer>1</integer>
					<key>filter_groupIndex</key>
					<integer>0</integer>
					<key>filter_maskBits</key>
					<integer>65535</integer>
					<key>isSensor</key>
					<false/>
					<key>id</key>
					<string></string>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 829.500,-498.500 }</string>
							<string>{ 333.500,-494.500 }</string>
							<string>{ 339.500,-578.500 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>friction</key>
					<real>0.5</real>
					<key>restitution</key>
					<real>0</real>
					<key>filter_categoryBits</key>
					<integer>1</integer>
					<key>filter_groupIndex</key>
					<integer>0</integer>
					<key>filter_maskBits</key>
					<integer>65535</integer>
					<key>isSensor</key>
					<false/>
					<key>id</key>
					<string></string>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 793.500,-315.500 }</string>
							<string>{ 936.500,-324.500 }</string>
							<string>{ 1093.500,-315.500 }</string>
						</array>
					</array>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
