<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>map2_background3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{2637,1437}}</string>
                <key>offset</key>
                <string>{-21,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2637,1437}}</string>
                <key>sourceSize</key>
                <string>{2679,1437}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map2_background3_spritesheet.png</string>
            <key>size</key>
            <string>{4096,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa14671b6f0fca9bad940215bd6f522d:da2fcd4b7d2f3989e7a3ad5b3440b833:9f03e8b706319efad58b788eefef5a12$</string>
            <key>textureFileName</key>
            <string>map2_background3_spritesheet.png</string>
        </dict>
    </dict>
</plist>
