<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>monkey_attack_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{25, 0}, {170, 252}}</string>
			<key>spriteOffset</key>
			<string>{-7, 10}</string>
			<key>spriteSize</key>
			<string>{170, 252}</string>
			<key>spriteSourceSize</key>
			<string>{234, 272}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{670, 811}, {170, 252}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>monkey_attack_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 0}, {224, 260}}</string>
			<key>spriteOffset</key>
			<string>{5, 6}</string>
			<key>spriteSize</key>
			<string>{224, 260}</string>
			<key>spriteSourceSize</key>
			<string>{234, 272}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 831}, {224, 260}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>monkey_attack_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {234, 260}}</string>
			<key>spriteOffset</key>
			<string>{0, 6}</string>
			<key>spriteSize</key>
			<string>{234, 260}</string>
			<key>spriteSourceSize</key>
			<string>{234, 272}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{984, 236}, {260, 234}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>monkey_attack_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {234, 260}}</string>
			<key>spriteOffset</key>
			<string>{0, 6}</string>
			<key>spriteSize</key>
			<string>{234, 260}</string>
			<key>spriteSourceSize</key>
			<string>{234, 272}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{984, 0}, {260, 234}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>monkey_attack_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 36}, {224, 224}}</string>
			<key>spriteOffset</key>
			<string>{-5, -12}</string>
			<key>spriteSize</key>
			<string>{224, 224}</string>
			<key>spriteSourceSize</key>
			<string>{234, 272}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{226, 831}, {224, 224}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>monkey_attack_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{47, 46}, {144, 184}}</string>
			<key>spriteOffset</key>
			<string>{2, -2}</string>
			<key>spriteSize</key>
			<string>{144, 184}</string>
			<key>spriteSourceSize</key>
			<string>{234, 272}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1037, 1130}, {144, 184}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>monkey_fall_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{33, 16}, {158, 221}}</string>
			<key>spriteOffset</key>
			<string>{8, -1}</string>
			<key>spriteSize</key>
			<string>{158, 221}</string>
			<key>spriteSourceSize</key>
			<string>{208, 251}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1410}, {158, 221}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>monkey_fall_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{33, 16}, {158, 221}}</string>
			<key>spriteOffset</key>
			<string>{8, -1}</string>
			<key>spriteSize</key>
			<string>{158, 221}</string>
			<key>spriteSourceSize</key>
			<string>{208, 251}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{160, 1410}, {158, 221}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>monkey_fall_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{34, 16}, {156, 221}}</string>
			<key>spriteOffset</key>
			<string>{8, -1}</string>
			<key>spriteSize</key>
			<string>{156, 221}</string>
			<key>spriteSourceSize</key>
			<string>{208, 251}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1194, 1003}, {156, 221}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>monkey_fall_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{34, 16}, {158, 221}}</string>
			<key>spriteOffset</key>
			<string>{9, -1}</string>
			<key>spriteSize</key>
			<string>{158, 221}</string>
			<key>spriteSourceSize</key>
			<string>{208, 251}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{583, 1118}, {158, 221}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>monkey_fall_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{34, 16}, {158, 221}}</string>
			<key>spriteOffset</key>
			<string>{9, -1}</string>
			<key>spriteSize</key>
			<string>{158, 221}</string>
			<key>spriteSourceSize</key>
			<string>{208, 251}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{420, 1294}, {158, 221}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>monkey_fly_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{42, 34}, {145, 190}}</string>
			<key>spriteOffset</key>
			<string>{6, -12}</string>
			<key>spriteSize</key>
			<string>{145, 190}</string>
			<key>spriteSourceSize</key>
			<string>{217, 234}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1227, 776}, {190, 145}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>monkey_fly_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{42, 34}, {145, 190}}</string>
			<key>spriteOffset</key>
			<string>{6, -12}</string>
			<key>spriteSize</key>
			<string>{145, 190}</string>
			<key>spriteSourceSize</key>
			<string>{217, 234}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1440, 300}, {190, 145}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>monkey_fly_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{42, 34}, {151, 190}}</string>
			<key>spriteOffset</key>
			<string>{9, -12}</string>
			<key>spriteSize</key>
			<string>{151, 190}</string>
			<key>spriteSourceSize</key>
			<string>{217, 234}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1246, 153}, {190, 151}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>monkey_fly_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{42, 34}, {151, 190}}</string>
			<key>spriteOffset</key>
			<string>{9, -12}</string>
			<key>spriteSize</key>
			<string>{151, 190}</string>
			<key>spriteSourceSize</key>
			<string>{217, 234}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1246, 0}, {190, 151}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>monkey_fly_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{42, 34}, {145, 190}}</string>
			<key>spriteOffset</key>
			<string>{6, -12}</string>
			<key>spriteSize</key>
			<string>{145, 190}</string>
			<key>spriteSourceSize</key>
			<string>{217, 234}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1411, 457}, {190, 145}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>monkey_idle_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 22}, {135, 190}}</string>
			<key>spriteOffset</key>
			<string>{-10, 3}</string>
			<key>spriteSize</key>
			<string>{135, 190}</string>
			<key>spriteSourceSize</key>
			<string>{187, 240}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1609, 588}, {190, 135}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>monkey_idle_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 22}, {135, 190}}</string>
			<key>spriteOffset</key>
			<string>{-10, 3}</string>
			<key>spriteSize</key>
			<string>{135, 190}</string>
			<key>spriteSourceSize</key>
			<string>{187, 240}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1183, 1226}, {190, 135}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>monkey_idle_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 22}, {135, 190}}</string>
			<key>spriteOffset</key>
			<string>{-10, 3}</string>
			<key>spriteSize</key>
			<string>{135, 190}</string>
			<key>spriteSourceSize</key>
			<string>{187, 240}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1632, 0}, {135, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>monkey_idle_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 23}, {137, 188}}</string>
			<key>spriteOffset</key>
			<string>{-10, 3}</string>
			<key>spriteSize</key>
			<string>{137, 188}</string>
			<key>spriteSourceSize</key>
			<string>{187, 240}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1421, 747}, {188, 137}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>monkey_idle_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 24}, {139, 188}}</string>
			<key>spriteOffset</key>
			<string>{-10, 2}</string>
			<key>spriteSize</key>
			<string>{139, 188}</string>
			<key>spriteSourceSize</key>
			<string>{187, 240}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1603, 447}, {188, 139}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>monkey_idle_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 25}, {141, 186}}</string>
			<key>spriteOffset</key>
			<string>{-10, 2}</string>
			<key>spriteSize</key>
			<string>{141, 186}</string>
			<key>spriteSourceSize</key>
			<string>{187, 240}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1352, 923}, {186, 141}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>monkey_idle_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 25}, {141, 186}}</string>
			<key>spriteOffset</key>
			<string>{-10, 2}</string>
			<key>spriteSize</key>
			<string>{141, 186}</string>
			<key>spriteSourceSize</key>
			<string>{187, 240}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1421, 604}, {186, 141}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>monkey_idle_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 24}, {139, 188}}</string>
			<key>spriteOffset</key>
			<string>{-10, 2}</string>
			<key>spriteSize</key>
			<string>{139, 188}</string>
			<key>spriteSourceSize</key>
			<string>{187, 240}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1632, 192}, {188, 139}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>monkey_idle_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 23}, {137, 188}}</string>
			<key>spriteOffset</key>
			<string>{-10, 3}</string>
			<key>spriteSize</key>
			<string>{137, 188}</string>
			<key>spriteSourceSize</key>
			<string>{187, 240}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1769, 0}, {188, 137}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>monkey_jump_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{63, 64}, {110, 157}}</string>
			<key>spriteOffset</key>
			<string>{20, -25}</string>
			<key>spriteSize</key>
			<string>{110, 157}</string>
			<key>spriteSourceSize</key>
			<string>{196, 235}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1632, 333}, {157, 110}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>monkey_jump_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{47, 42}, {128, 181}}</string>
			<key>spriteOffset</key>
			<string>{13, -15}</string>
			<key>spriteSize</key>
			<string>{128, 181}</string>
			<key>spriteSourceSize</key>
			<string>{196, 235}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{580, 1341}, {128, 181}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>monkey_run_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 24}, {131, 180}}</string>
			<key>spriteOffset</key>
			<string>{14, 6}</string>
			<key>spriteSize</key>
			<string>{131, 180}</string>
			<key>spriteSourceSize</key>
			<string>{179, 240}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1352, 1066}, {180, 131}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>monkey_run_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{41, 28}, {129, 184}}</string>
			<key>spriteOffset</key>
			<string>{16, -0}</string>
			<key>spriteSize</key>
			<string>{129, 184}</string>
			<key>spriteSourceSize</key>
			<string>{179, 240}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1822, 139}, {184, 129}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>monkey_run_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{39, 28}, {129, 184}}</string>
			<key>spriteOffset</key>
			<string>{14, -0}</string>
			<key>spriteSize</key>
			<string>{129, 184}</string>
			<key>spriteSourceSize</key>
			<string>{179, 240}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1793, 333}, {184, 129}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>monkey_run_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 31}, {145, 192}}</string>
			<key>spriteOffset</key>
			<string>{-3, -7}</string>
			<key>spriteSize</key>
			<string>{145, 192}</string>
			<key>spriteSourceSize</key>
			<string>{179, 240}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1227, 629}, {192, 145}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>monkey_run_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 27}, {149, 192}}</string>
			<key>spriteOffset</key>
			<string>{-4, -3}</string>
			<key>spriteSize</key>
			<string>{149, 192}</string>
			<key>spriteSourceSize</key>
			<string>{179, 240}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1438, 0}, {192, 149}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>monkey_run_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 23}, {145, 188}}</string>
			<key>spriteOffset</key>
			<string>{0, 3}</string>
			<key>spriteSize</key>
			<string>{145, 188}</string>
			<key>spriteSourceSize</key>
			<string>{179, 240}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{743, 1130}, {145, 188}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>monkey_run_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 21}, {155, 182}}</string>
			<key>spriteOffset</key>
			<string>{-2, 8}</string>
			<key>spriteSize</key>
			<string>{155, 182}</string>
			<key>spriteSourceSize</key>
			<string>{179, 240}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1227, 472}, {182, 155}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>monkey_run_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 23}, {145, 188}}</string>
			<key>spriteOffset</key>
			<string>{1, 3}</string>
			<key>spriteSize</key>
			<string>{145, 188}</string>
			<key>spriteSourceSize</key>
			<string>{179, 240}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{890, 1130}, {145, 188}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>monkey_run_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 27}, {149, 192}}</string>
			<key>spriteOffset</key>
			<string>{-2, -3}</string>
			<key>spriteSize</key>
			<string>{149, 192}</string>
			<key>spriteSourceSize</key>
			<string>{179, 240}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1246, 306}, {192, 149}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>monkey_run_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 31}, {147, 192}}</string>
			<key>spriteOffset</key>
			<string>{-1, -7}</string>
			<key>spriteSize</key>
			<string>{147, 192}</string>
			<key>spriteSourceSize</key>
			<string>{179, 240}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1438, 151}, {192, 147}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>monkey_skill_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {275, 500}}</string>
			<key>spriteOffset</key>
			<string>{-26, -0}</string>
			<key>spriteSize</key>
			<string>{275, 500}</string>
			<key>spriteSourceSize</key>
			<string>{327, 500}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{950, 501}, {275, 500}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>monkey_skill_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 284}, {305, 216}}</string>
			<key>spriteOffset</key>
			<string>{-1, -142}</string>
			<key>spriteSize</key>
			<string>{305, 216}</string>
			<key>spriteSourceSize</key>
			<string>{327, 500}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{452, 811}, {216, 305}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>monkey_skill_11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 288}, {315, 212}}</string>
			<key>spriteOffset</key>
			<string>{6, -144}</string>
			<key>spriteSize</key>
			<string>{315, 212}</string>
			<key>spriteSourceSize</key>
			<string>{327, 500}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1093}, {212, 315}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>monkey_skill_12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {327, 500}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{327, 500}</string>
			<key>spriteSourceSize</key>
			<string>{327, 500}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{329, 0}, {327, 500}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>monkey_skill_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{126, 294}, {161, 174}}</string>
			<key>spriteOffset</key>
			<string>{43, -131}</string>
			<key>spriteSize</key>
			<string>{161, 174}</string>
			<key>spriteSourceSize</key>
			<string>{327, 500}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{420, 1118}, {161, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>monkey_skill_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 275}, {307, 204}}</string>
			<key>spriteOffset</key>
			<string>{10, -127}</string>
			<key>spriteSize</key>
			<string>{307, 204}</string>
			<key>spriteSourceSize</key>
			<string>{327, 500}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{214, 1093}, {204, 307}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>monkey_skill_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 277}, {321, 204}}</string>
			<key>spriteOffset</key>
			<string>{-3, -129}</string>
			<key>spriteSize</key>
			<string>{321, 204}</string>
			<key>spriteSourceSize</key>
			<string>{327, 500}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{658, 295}, {321, 204}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>monkey_skill_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {327, 500}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{327, 500}</string>
			<key>spriteSourceSize</key>
			<string>{327, 500}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {327, 500}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>monkey_skill_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{142, 0}, {125, 350}}</string>
			<key>spriteOffset</key>
			<string>{41, 75}</string>
			<key>spriteSize</key>
			<string>{125, 350}</string>
			<key>spriteSourceSize</key>
			<string>{327, 500}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{842, 1003}, {350, 125}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>monkey_skill_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{34, 0}, {293, 324}}</string>
			<key>spriteOffset</key>
			<string>{17, 88}</string>
			<key>spriteSize</key>
			<string>{293, 324}</string>
			<key>spriteSourceSize</key>
			<string>{327, 500}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{658, 0}, {324, 293}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>monkey_skill_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {327, 446}}</string>
			<key>spriteOffset</key>
			<string>{0, 27}</string>
			<key>spriteSize</key>
			<string>{327, 446}</string>
			<key>spriteSourceSize</key>
			<string>{327, 500}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 502}, {446, 327}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>monkey_skill_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {307, 500}}</string>
			<key>spriteOffset</key>
			<string>{-10, -0}</string>
			<key>spriteSize</key>
			<string>{307, 500}</string>
			<key>spriteSourceSize</key>
			<string>{327, 500}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{448, 502}, {500, 307}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>textureFileName</key>
		<string>monkey_spritesheet.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>