<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>1</integer>
		<key>ptm_ratio</key>
		<real>32</real>
	</dict>
	<key>bodies</key>
	<dict>
		<key>creep_2_sensor</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.4849,0.4836 }</string>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>1e-14</real>
					<key>friction</key>
					<real>0</real>
					<key>restitution</key>
					<real>0</real>
					<key>filter_categoryBits</key>
					<integer>1</integer>
					<key>filter_groupIndex</key>
					<integer>0</integer>
					<key>filter_maskBits</key>
					<integer>65535</integer>
					<key>isSensor</key>
					<false/>
					<key>id</key>
					<string></string>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ -390.730,-12.909 }</string>
							<string>{ 390.270,-11.909 }</string>
							<string>{ 393.270,10.091 }</string>
							<string>{ -391.730,11.091 }</string>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<key>creep_1_sensor</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.5663,0.3272 }</string>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>1e-14</real>
					<key>friction</key>
					<real>0</real>
					<key>restitution</key>
					<real>0</real>
					<key>filter_categoryBits</key>
					<integer>1</integer>
					<key>filter_groupIndex</key>
					<integer>0</integer>
					<key>filter_maskBits</key>
					<integer>65535</integer>
					<key>isSensor</key>
					<true/>
					<key>id</key>
					<string></string>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ -94.000,9.000 }</string>
							<string>{ -94.000,-31.000 }</string>
							<string>{ 93.000,-31.000 }</string>
							<string>{ 93.000,9.000 }</string>
						</array>
					</array>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
