<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>pig_attack_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 33}, {127, 163}}</string>
			<key>spriteOffset</key>
			<string>{-7, -1}</string>
			<key>spriteSize</key>
			<string>{127, 163}</string>
			<key>spriteSourceSize</key>
			<string>{177, 227}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{397, 0}, {127, 163}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pig_attack_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 33}, {137, 163}}</string>
			<key>spriteOffset</key>
			<string>{-13, -1}</string>
			<key>spriteSize</key>
			<string>{137, 163}</string>
			<key>spriteSourceSize</key>
			<string>{177, 227}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{284, 859}, {137, 163}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pig_attack_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 33}, {137, 163}}</string>
			<key>spriteOffset</key>
			<string>{-13, -1}</string>
			<key>spriteSize</key>
			<string>{137, 163}</string>
			<key>spriteSourceSize</key>
			<string>{177, 227}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{145, 861}, {137, 163}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pig_attack_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 34}, {143, 163}}</string>
			<key>spriteOffset</key>
			<string>{-17, -2}</string>
			<key>spriteSize</key>
			<string>{143, 163}</string>
			<key>spriteSourceSize</key>
			<string>{177, 227}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 861}, {143, 163}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pig_attack_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 33}, {143, 175}}</string>
			<key>spriteOffset</key>
			<string>{-17, -7}</string>
			<key>spriteSize</key>
			<string>{143, 175}</string>
			<key>spriteSourceSize</key>
			<string>{177, 227}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {143, 175}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pig_attack_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 33}, {125, 163}}</string>
			<key>spriteOffset</key>
			<string>{-8, -1}</string>
			<key>spriteSize</key>
			<string>{125, 163}</string>
			<key>spriteSourceSize</key>
			<string>{177, 227}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{371, 508}, {125, 163}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pig_fall_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 2}, {120, 170}}</string>
			<key>spriteOffset</key>
			<string>{5, -1}</string>
			<key>spriteSize</key>
			<string>{120, 170}</string>
			<key>spriteSourceSize</key>
			<string>{140, 172}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 177}, {120, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pig_fall_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 2}, {120, 168}}</string>
			<key>spriteOffset</key>
			<string>{5, -0}</string>
			<key>spriteSize</key>
			<string>{120, 168}</string>
			<key>spriteSourceSize</key>
			<string>{140, 172}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{249, 517}, {120, 168}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pig_fall_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 2}, {120, 168}}</string>
			<key>spriteOffset</key>
			<string>{5, -0}</string>
			<key>spriteSize</key>
			<string>{120, 168}</string>
			<key>spriteSourceSize</key>
			<string>{140, 172}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{225, 347}, {120, 168}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pig_fall_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 2}, {120, 168}}</string>
			<key>spriteOffset</key>
			<string>{5, -0}</string>
			<key>spriteSize</key>
			<string>{120, 168}</string>
			<key>spriteSourceSize</key>
			<string>{140, 172}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{127, 519}, {120, 168}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pig_fall_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 2}, {120, 168}}</string>
			<key>spriteOffset</key>
			<string>{5, -0}</string>
			<key>spriteSize</key>
			<string>{120, 168}</string>
			<key>spriteSourceSize</key>
			<string>{140, 172}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{368, 687}, {120, 168}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pig_fall_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 2}, {120, 168}}</string>
			<key>spriteOffset</key>
			<string>{5, -0}</string>
			<key>spriteSize</key>
			<string>{120, 168}</string>
			<key>spriteSourceSize</key>
			<string>{140, 172}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{246, 689}, {120, 168}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pig_fly_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 5}, {85, 162}}</string>
			<key>spriteOffset</key>
			<string>{2, -0}</string>
			<key>spriteSize</key>
			<string>{85, 162}</string>
			<key>spriteSourceSize</key>
			<string>{103, 172}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{553, 837}, {85, 162}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pig_fly_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 5}, {85, 162}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{85, 162}</string>
			<key>spriteSourceSize</key>
			<string>{103, 172}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{498, 500}, {85, 162}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pig_fly_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 5}, {85, 162}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{85, 162}</string>
			<key>spriteSourceSize</key>
			<string>{103, 172}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{573, 164}, {85, 162}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pig_fly_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 4}, {83, 162}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{83, 162}</string>
			<key>spriteSourceSize</key>
			<string>{103, 172}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{577, 664}, {83, 162}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pig_fly_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 4}, {83, 162}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{83, 162}</string>
			<key>spriteSourceSize</key>
			<string>{103, 172}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{585, 500}, {83, 162}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pig_fly_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 5}, {85, 162}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{85, 162}</string>
			<key>spriteSourceSize</key>
			<string>{103, 172}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{620, 0}, {85, 162}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pig_fly_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 5}, {85, 162}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{85, 162}</string>
			<key>spriteSourceSize</key>
			<string>{103, 172}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{490, 673}, {85, 162}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pig_idle_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 7}, {121, 166}}</string>
			<key>spriteOffset</key>
			<string>{-6, -0}</string>
			<key>spriteSize</key>
			<string>{121, 166}</string>
			<key>spriteSourceSize</key>
			<string>{165, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{347, 340}, {121, 166}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pig_idle_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 6}, {121, 168}}</string>
			<key>spriteOffset</key>
			<string>{-6, -0}</string>
			<key>spriteSize</key>
			<string>{121, 168}</string>
			<key>spriteSourceSize</key>
			<string>{165, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 691}, {121, 168}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pig_idle_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 6}, {123, 168}}</string>
			<key>spriteOffset</key>
			<string>{-7, -0}</string>
			<key>spriteSize</key>
			<string>{123, 168}</string>
			<key>spriteSourceSize</key>
			<string>{165, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{145, 0}, {123, 168}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pig_idle_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 6}, {125, 166}}</string>
			<key>spriteOffset</key>
			<string>{-8, 1}</string>
			<key>spriteSize</key>
			<string>{125, 166}</string>
			<key>spriteSourceSize</key>
			<string>{165, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{270, 0}, {125, 166}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pig_idle_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 5}, {125, 168}}</string>
			<key>spriteOffset</key>
			<string>{-8, 1}</string>
			<key>spriteSize</key>
			<string>{125, 168}</string>
			<key>spriteSourceSize</key>
			<string>{165, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 521}, {125, 168}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pig_idle_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 5}, {125, 168}}</string>
			<key>spriteOffset</key>
			<string>{-8, 1}</string>
			<key>spriteSize</key>
			<string>{125, 168}</string>
			<key>spriteSourceSize</key>
			<string>{165, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{98, 349}, {125, 168}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pig_idle_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 6}, {123, 168}}</string>
			<key>spriteOffset</key>
			<string>{-7, -0}</string>
			<key>spriteSize</key>
			<string>{123, 168}</string>
			<key>spriteSourceSize</key>
			<string>{165, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{122, 177}, {123, 168}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pig_idle_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 6}, {121, 168}}</string>
			<key>spriteOffset</key>
			<string>{-6, -0}</string>
			<key>spriteSize</key>
			<string>{121, 168}</string>
			<key>spriteSourceSize</key>
			<string>{165, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{123, 691}, {121, 168}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pig_jump_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{25, 0}, {86, 157}}</string>
			<key>spriteOffset</key>
			<string>{7, -0}</string>
			<key>spriteSize</key>
			<string>{86, 157}</string>
			<key>spriteSourceSize</key>
			<string>{122, 157}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{707, 0}, {86, 157}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pig_jump_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 6}, {90, 151}}</string>
			<key>spriteOffset</key>
			<string>{4, -3}</string>
			<key>spriteSize</key>
			<string>{90, 151}</string>
			<key>spriteSourceSize</key>
			<string>{122, 157}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{670, 490}, {90, 151}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pig_jump_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{25, 0}, {86, 157}}</string>
			<key>spriteOffset</key>
			<string>{7, -0}</string>
			<key>spriteSize</key>
			<string>{86, 157}</string>
			<key>spriteSourceSize</key>
			<string>{122, 157}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{640, 828}, {86, 157}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pig_run_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 12}, {130, 160}}</string>
			<key>spriteOffset</key>
			<string>{-13, 11}</string>
			<key>spriteSize</key>
			<string>{130, 160}</string>
			<key>spriteSourceSize</key>
			<string>{162, 206}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{596, 328}, {130, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pig_run_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 14}, {128, 156}}</string>
			<key>spriteOffset</key>
			<string>{-12, 11}</string>
			<key>spriteSize</key>
			<string>{128, 156}</string>
			<key>spriteSourceSize</key>
			<string>{162, 206}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{662, 664}, {128, 156}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pig_run_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 13}, {128, 166}}</string>
			<key>spriteOffset</key>
			<string>{-13, 7}</string>
			<key>spriteSize</key>
			<string>{128, 166}</string>
			<key>spriteSourceSize</key>
			<string>{162, 206}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{423, 857}, {128, 166}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pig_run_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 18}, {108, 168}}</string>
			<key>spriteOffset</key>
			<string>{-11, 1}</string>
			<key>spriteSize</key>
			<string>{108, 168}</string>
			<key>spriteSourceSize</key>
			<string>{162, 206}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{247, 170}, {108, 168}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pig_run_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{30, 13}, {94, 162}}</string>
			<key>spriteOffset</key>
			<string>{-4, 9}</string>
			<key>spriteSize</key>
			<string>{94, 162}</string>
			<key>spriteSourceSize</key>
			<string>{162, 206}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{477, 165}, {94, 162}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pig_run_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{36, 12}, {90, 160}}</string>
			<key>spriteOffset</key>
			<string>{0, 11}</string>
			<key>spriteSize</key>
			<string>{90, 160}</string>
			<key>spriteSourceSize</key>
			<string>{162, 206}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{660, 164}, {90, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pig_run_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{33, 12}, {92, 162}}</string>
			<key>spriteOffset</key>
			<string>{-2, 10}</string>
			<key>spriteSize</key>
			<string>{92, 162}</string>
			<key>spriteSourceSize</key>
			<string>{162, 206}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{526, 0}, {92, 162}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pig_run_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{29, 13}, {96, 170}}</string>
			<key>spriteOffset</key>
			<string>{-4, 5}</string>
			<key>spriteSize</key>
			<string>{96, 170}</string>
			<key>spriteSourceSize</key>
			<string>{162, 206}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 349}, {96, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pig_run_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 20}, {118, 166}}</string>
			<key>spriteOffset</key>
			<string>{-10, -0}</string>
			<key>spriteSize</key>
			<string>{118, 166}</string>
			<key>spriteSourceSize</key>
			<string>{162, 206}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{357, 168}, {118, 166}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pig_run_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 12}, {124, 162}}</string>
			<key>spriteOffset</key>
			<string>{-12, 10}</string>
			<key>spriteSize</key>
			<string>{124, 162}</string>
			<key>spriteSourceSize</key>
			<string>{162, 206}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{470, 336}, {124, 162}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>pig</string>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>pig_default</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>pig_default</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>