<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>1</integer>
		<key>ptm_ratio</key>
		<real>32</real>
	</dict>
	<key>bodies</key>
	<dict>
		<key>monkey_normal_attack</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.3996,0.4412 }</string>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>1e-14</real>
					<key>friction</key>
					<real>0</real>
					<key>restitution</key>
					<real>0</real>
					<key>filter_categoryBits</key>
					<integer>1</integer>
					<key>filter_groupIndex</key>
					<integer>0</integer>
					<key>filter_maskBits</key>
					<integer>65535</integer>
					<key>isSensor</key>
					<true/>
					<key>id</key>
					<string></string>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 79.500,55.000 }</string>
							<string>{ -76.500,55.000 }</string>
							<string>{ -76.500,-106.000 }</string>
							<string>{ 73.500,-107.000 }</string>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<key>monkey_aura</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.5000,0.5000 }</string>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>1e-14</real>
					<key>friction</key>
					<real>0</real>
					<key>restitution</key>
					<real>0</real>
					<key>filter_categoryBits</key>
					<integer>1</integer>
					<key>filter_groupIndex</key>
					<integer>0</integer>
					<key>filter_maskBits</key>
					<integer>65535</integer>
					<key>isSensor</key>
					<true/>
					<key>id</key>
					<string></string>
					<key>fixture_type</key>
					<string>CIRCLE</string>
					<key>circle</key>
					<dict>
						<key>radius</key>
						<real>110</real>
						<key>position</key>
						<string>{ 0.500,0.000 }</string>
					</dict>
				</dict>
			</array>
		</dict>
		<key>fire_pillar</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.5000,0.5000 }</string>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>friction</key>
					<real>0</real>
					<key>restitution</key>
					<real>0</real>
					<key>filter_categoryBits</key>
					<integer>1</integer>
					<key>filter_groupIndex</key>
					<integer>0</integer>
					<key>filter_maskBits</key>
					<integer>65535</integer>
					<key>isSensor</key>
					<true/>
					<key>id</key>
					<string></string>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ -65.000,161.000 }</string>
							<string>{ -64.000,-254.000 }</string>
							<string>{ 59.000,-254.000 }</string>
							<string>{ 59.000,161.000 }</string>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<key>lightning_arrow</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.5000,0.5000 }</string>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>friction</key>
					<real>0</real>
					<key>restitution</key>
					<real>0</real>
					<key>filter_categoryBits</key>
					<integer>1</integer>
					<key>filter_groupIndex</key>
					<integer>0</integer>
					<key>filter_maskBits</key>
					<integer>65535</integer>
					<key>isSensor</key>
					<true/>
					<key>id</key>
					<string></string>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 68.000,6.500 }</string>
							<string>{ -70.000,5.500 }</string>
							<string>{ -70.000,-9.500 }</string>
							<string>{ 68.000,-9.500 }</string>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<key>magic_bomb</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.5000,0.5000 }</string>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>friction</key>
					<real>0</real>
					<key>restitution</key>
					<real>0</real>
					<key>filter_categoryBits</key>
					<integer>1</integer>
					<key>filter_groupIndex</key>
					<integer>0</integer>
					<key>filter_maskBits</key>
					<integer>65535</integer>
					<key>isSensor</key>
					<true/>
					<key>id</key>
					<string></string>
					<key>fixture_type</key>
					<string>CIRCLE</string>
					<key>circle</key>
					<dict>
						<key>radius</key>
						<real>33.242</real>
						<key>position</key>
						<string>{ 0.000,0.000 }</string>
					</dict>
				</dict>
			</array>
		</dict>
		<key>magic_iceball</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.5048,0.5073 }</string>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>friction</key>
					<real>0</real>
					<key>restitution</key>
					<real>0</real>
					<key>filter_categoryBits</key>
					<integer>1</integer>
					<key>filter_groupIndex</key>
					<integer>0</integer>
					<key>filter_maskBits</key>
					<integer>65535</integer>
					<key>isSensor</key>
					<true/>
					<key>id</key>
					<string></string>
					<key>fixture_type</key>
					<string>CIRCLE</string>
					<key>circle</key>
					<dict>
						<key>radius</key>
						<real>59.008</real>
						<key>position</key>
						<string>{ -1.000,-2.667 }</string>
					</dict>
				</dict>
			</array>
		</dict>
		<key>magic_energyball</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.5000,0.5000 }</string>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>friction</key>
					<real>0</real>
					<key>restitution</key>
					<real>0</real>
					<key>filter_categoryBits</key>
					<integer>1</integer>
					<key>filter_groupIndex</key>
					<integer>0</integer>
					<key>filter_maskBits</key>
					<integer>65535</integer>
					<key>isSensor</key>
					<true/>
					<key>id</key>
					<string></string>
					<key>fixture_type</key>
					<string>CIRCLE</string>
					<key>circle</key>
					<dict>
						<key>radius</key>
						<real>37.014</real>
						<key>position</key>
						<string>{ 5.500,-0.500 }</string>
					</dict>
				</dict>
			</array>
		</dict>
		<key>charms_projectile</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.8056,0.4761 }</string>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>friction</key>
					<real>0</real>
					<key>restitution</key>
					<real>0</real>
					<key>filter_categoryBits</key>
					<integer>1</integer>
					<key>filter_groupIndex</key>
					<integer>0</integer>
					<key>filter_maskBits</key>
					<integer>65535</integer>
					<key>isSensor</key>
					<true/>
					<key>id</key>
					<string></string>
					<key>fixture_type</key>
					<string>CIRCLE</string>
					<key>circle</key>
					<dict>
						<key>radius</key>
						<real>15</real>
						<key>position</key>
						<string>{ -0.000,-0.663 }</string>
					</dict>
				</dict>
			</array>
		</dict>
		<key>gold_projectile</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.7126,0.5097 }</string>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>friction</key>
					<real>0</real>
					<key>restitution</key>
					<real>0</real>
					<key>filter_categoryBits</key>
					<integer>1</integer>
					<key>filter_groupIndex</key>
					<integer>0</integer>
					<key>filter_maskBits</key>
					<integer>65535</integer>
					<key>isSensor</key>
					<true/>
					<key>id</key>
					<string></string>
					<key>fixture_type</key>
					<string>CIRCLE</string>
					<key>circle</key>
					<dict>
						<key>radius</key>
						<real>14.036</real>
						<key>position</key>
						<string>{ 0.003,0.670 }</string>
					</dict>
				</dict>
			</array>
		</dict>
		<key>magic_fireball</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.5585,0.5056 }</string>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>friction</key>
					<real>0</real>
					<key>restitution</key>
					<real>0</real>
					<key>filter_categoryBits</key>
					<integer>1</integer>
					<key>filter_groupIndex</key>
					<integer>0</integer>
					<key>filter_maskBits</key>
					<integer>65535</integer>
					<key>isSensor</key>
					<true/>
					<key>id</key>
					<string></string>
					<key>fixture_type</key>
					<string>CIRCLE</string>
					<key>circle</key>
					<dict>
						<key>radius</key>
						<real>20.1</real>
						<key>position</key>
						<string>{ -6.000,-1.000 }</string>
					</dict>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
