<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,2},{87,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,17}}</string>
                <key>sourceSize</key>
                <string>{87,17}</string>
            </dict>
            <key>attack_deactive.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,469},{132,136}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{132,136}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>attack_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,520},{132,136}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{132,136}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>attack_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>aura_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{225,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,222}}</string>
                <key>sourceSize</key>
                <string>{225,222}</string>
            </dict>
            <key>aura_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,378},{161,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,32},{161,158}}</string>
                <key>sourceSize</key>
                <string>{225,222}</string>
            </dict>
            <key>aura_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{181,178}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,22},{181,178}}</string>
                <key>sourceSize</key>
                <string>{225,222}</string>
            </dict>
            <key>aura_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,2},{203,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{203,200}}</string>
                <key>sourceSize</key>
                <string>{225,222}</string>
            </dict>
            <key>big.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,356},{166,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,111}}</string>
                <key>sourceSize</key>
                <string>{166,111}</string>
            </dict>
            <key>jump_deactive.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,829},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>jump_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,622},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>jump_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,520},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>left_deactive.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,722},{105,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,130}}</string>
                <key>sourceSize</key>
                <string>{105,130}</string>
            </dict>
            <key>left_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,654},{105,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,130}}</string>
                <key>sourceSize</key>
                <string>{105,130}</string>
            </dict>
            <key>left_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,629},{105,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,130}}</string>
                <key>sourceSize</key>
                <string>{105,130}</string>
            </dict>
            <key>normal_meelee_deactive.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,350},{172,170}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,170}}</string>
                <key>sourceSize</key>
                <string>{172,172}</string>
            </dict>
            <key>normal_meelee_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,348},{172,170}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,170}}</string>
                <key>sourceSize</key>
                <string>{172,172}</string>
            </dict>
            <key>normal_meelee_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,204},{172,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,172}}</string>
                <key>sourceSize</key>
                <string>{172,172}</string>
            </dict>
            <key>right_deactive.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,601},{105,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,130}}</string>
                <key>sourceSize</key>
                <string>{105,130}</string>
            </dict>
            <key>right_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,522},{105,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,130}}</string>
                <key>sourceSize</key>
                <string>{105,130}</string>
            </dict>
            <key>right_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,469},{105,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,130}}</string>
                <key>sourceSize</key>
                <string>{105,130}</string>
            </dict>
            <key>skill_1_deactive.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,182},{172,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,172}}</string>
                <key>sourceSize</key>
                <string>{172,172}</string>
            </dict>
            <key>skill_1_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,176},{172,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,172}}</string>
                <key>sourceSize</key>
                <string>{172,172}</string>
            </dict>
            <key>skill_1_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,2},{172,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,172}}</string>
                <key>sourceSize</key>
                <string>{172,172}</string>
            </dict>
            <key>skill_2_deactive.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,176},{172,170}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,170}}</string>
                <key>sourceSize</key>
                <string>{172,172}</string>
            </dict>
            <key>skill_2_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{172,170}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,170}}</string>
                <key>sourceSize</key>
                <string>{172,172}</string>
            </dict>
            <key>skill_2_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,2},{172,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,172}}</string>
                <key>sourceSize</key>
                <string>{172,172}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>test_sheet.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b025d4c9b5e189e8ff90ecd49c8800d5:41bdbc56507cc6490fbb6f33441cc6b4:3c2c48a76179ec4ab57555f1b88cee55$</string>
            <key>textureFileName</key>
            <string>test_sheet.png</string>
        </dict>
    </dict>
</plist>
