<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>magic_fire_pillar_start_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,360},{12,15}}</string>
                <key>offset</key>
                <string>{-10,3.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,23},{12,15}}</string>
                <key>sourceSize</key>
                <string>{128,68}</string>
            </dict>
            <key>magic_fire_pillar_start_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,333},{21,25}}</string>
                <key>offset</key>
                <string>{-11.5,4.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,17},{21,25}}</string>
                <key>sourceSize</key>
                <string>{128,68}</string>
            </dict>
            <key>magic_fire_pillar_start_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,333},{25,18}}</string>
                <key>offset</key>
                <string>{-14.5,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,20},{25,18}}</string>
                <key>sourceSize</key>
                <string>{128,68}</string>
            </dict>
            <key>magic_fire_pillar_start_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,333},{25,18}}</string>
                <key>offset</key>
                <string>{-14.5,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,20},{25,18}}</string>
                <key>sourceSize</key>
                <string>{128,68}</string>
            </dict>
            <key>magic_fire_pillar_start_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,208},{32,47}}</string>
                <key>offset</key>
                <string>{-11,-9.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,20},{32,47}}</string>
                <key>sourceSize</key>
                <string>{128,68}</string>
            </dict>
            <key>magic_fire_pillar_start_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,208},{32,47}}</string>
                <key>offset</key>
                <string>{-11,-9.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,20},{32,47}}</string>
                <key>sourceSize</key>
                <string>{128,68}</string>
            </dict>
            <key>magic_fire_pillar_start_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,343},{41,52}}</string>
                <key>offset</key>
                <string>{-11.5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,14},{41,52}}</string>
                <key>sourceSize</key>
                <string>{128,68}</string>
            </dict>
            <key>magic_fire_pillar_start_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,343},{41,52}}</string>
                <key>offset</key>
                <string>{-11.5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,14},{41,52}}</string>
                <key>sourceSize</key>
                <string>{128,68}</string>
            </dict>
            <key>magic_fire_pillar_start_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,352},{44,48}}</string>
                <key>offset</key>
                <string>{-16,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,18},{44,48}}</string>
                <key>sourceSize</key>
                <string>{128,68}</string>
            </dict>
            <key>magic_fire_pillar_start_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,352},{44,48}}</string>
                <key>offset</key>
                <string>{-16,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,18},{44,48}}</string>
                <key>sourceSize</key>
                <string>{128,68}</string>
            </dict>
            <key>magic_fire_pillar_start_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,352},{43,44}}</string>
                <key>offset</key>
                <string>{-17.5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,22},{43,44}}</string>
                <key>sourceSize</key>
                <string>{128,68}</string>
            </dict>
            <key>magic_fire_pillar_start_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,360},{12,15}}</string>
                <key>offset</key>
                <string>{-10,3.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,23},{12,15}}</string>
                <key>sourceSize</key>
                <string>{128,68}</string>
            </dict>
            <key>magic_fire_pillar_start_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,272},{46,59}}</string>
                <key>offset</key>
                <string>{-21,-3.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,8},{46,59}}</string>
                <key>sourceSize</key>
                <string>{128,68}</string>
            </dict>
            <key>magic_fire_pillar_start_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,208},{50,64}}</string>
                <key>offset</key>
                <string>{-27,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,3},{50,64}}</string>
                <key>sourceSize</key>
                <string>{128,68}</string>
            </dict>
            <key>magic_fire_pillar_start_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,208},{50,64}}</string>
                <key>offset</key>
                <string>{-27,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,3},{50,64}}</string>
                <key>sourceSize</key>
                <string>{128,68}</string>
            </dict>
            <key>magic_fire_pillar_start_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,274},{67,62}}</string>
                <key>offset</key>
                <string>{-19.5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,4},{67,62}}</string>
                <key>sourceSize</key>
                <string>{128,68}</string>
            </dict>
            <key>magic_fire_pillar_start_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,274},{76,62}}</string>
                <key>offset</key>
                <string>{-15,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,4},{76,62}}</string>
                <key>sourceSize</key>
                <string>{128,68}</string>
            </dict>
            <key>magic_fire_pillar_start_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{109,66}}</string>
                <key>offset</key>
                <string>{-2.5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{109,66}}</string>
                <key>sourceSize</key>
                <string>{128,68}</string>
            </dict>
            <key>magic_fire_pillar_start_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{109,66}}</string>
                <key>offset</key>
                <string>{-2.5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{109,66}}</string>
                <key>sourceSize</key>
                <string>{128,68}</string>
            </dict>
            <key>magic_fire_pillar_start_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{114,66}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{114,66}}</string>
                <key>sourceSize</key>
                <string>{128,68}</string>
            </dict>
            <key>magic_fire_pillar_start_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,140},{123,66}}</string>
                <key>offset</key>
                <string>{-0.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{123,66}}</string>
                <key>sourceSize</key>
                <string>{128,68}</string>
            </dict>
            <key>magic_fire_pillar_start_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{123,67}}</string>
                <key>offset</key>
                <string>{-0.5,0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{123,67}}</string>
                <key>sourceSize</key>
                <string>{128,68}</string>
            </dict>
            <key>magic_fire_pillar_start_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,377},{15,16}}</string>
                <key>offset</key>
                <string>{-13.5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,23},{15,16}}</string>
                <key>sourceSize</key>
                <string>{128,68}</string>
            </dict>
            <key>magic_fire_pillar_start_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,67}}</string>
                <key>offset</key>
                <string>{1,0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{126,67}}</string>
                <key>sourceSize</key>
                <string>{128,68}</string>
            </dict>
            <key>magic_fire_pillar_start_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,71},{124,68}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,68}}</string>
                <key>sourceSize</key>
                <string>{128,68}</string>
            </dict>
            <key>magic_fire_pillar_start_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,71},{124,68}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,68}}</string>
                <key>sourceSize</key>
                <string>{128,68}</string>
            </dict>
            <key>magic_fire_pillar_start_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,71},{124,67}}</string>
                <key>offset</key>
                <string>{2,0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{124,67}}</string>
                <key>sourceSize</key>
                <string>{128,68}</string>
            </dict>
            <key>magic_fire_pillar_start_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,71},{124,67}}</string>
                <key>offset</key>
                <string>{2,0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{124,67}}</string>
                <key>sourceSize</key>
                <string>{128,68}</string>
            </dict>
            <key>magic_fire_pillar_start_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,141},{121,63}}</string>
                <key>offset</key>
                <string>{4.5,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{121,63}}</string>
                <key>sourceSize</key>
                <string>{128,68}</string>
            </dict>
            <key>magic_fire_pillar_start_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,208},{29,63}}</string>
                <key>offset</key>
                <string>{-41.5,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{29,63}}</string>
                <key>sourceSize</key>
                <string>{128,68}</string>
            </dict>
            <key>magic_fire_pillar_start_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,242},{28,47}}</string>
                <key>offset</key>
                <string>{-44,-9.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,20},{28,47}}</string>
                <key>sourceSize</key>
                <string>{128,68}</string>
            </dict>
            <key>magic_fire_pillar_start_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,242},{28,47}}</string>
                <key>offset</key>
                <string>{-44,-9.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,20},{28,47}}</string>
                <key>sourceSize</key>
                <string>{128,68}</string>
            </dict>
            <key>magic_fire_pillar_start_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,377},{15,16}}</string>
                <key>offset</key>
                <string>{-13.5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,23},{15,16}}</string>
                <key>sourceSize</key>
                <string>{128,68}</string>
            </dict>
            <key>magic_fire_pillar_start_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,377},{17,16}}</string>
                <key>offset</key>
                <string>{-13.5,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,20},{17,16}}</string>
                <key>sourceSize</key>
                <string>{128,68}</string>
            </dict>
            <key>magic_fire_pillar_start_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,377},{17,16}}</string>
                <key>offset</key>
                <string>{-13.5,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,20},{17,16}}</string>
                <key>sourceSize</key>
                <string>{128,68}</string>
            </dict>
            <key>magic_fire_pillar_start_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,356},{19,20}}</string>
                <key>offset</key>
                <string>{-12.5,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,18},{19,20}}</string>
                <key>sourceSize</key>
                <string>{128,68}</string>
            </dict>
            <key>magic_fire_pillar_start_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,356},{19,20}}</string>
                <key>offset</key>
                <string>{-12.5,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,18},{19,20}}</string>
                <key>sourceSize</key>
                <string>{128,68}</string>
            </dict>
            <key>magic_fire_pillar_start_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,333},{21,25}}</string>
                <key>offset</key>
                <string>{-11.5,4.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,17},{21,25}}</string>
                <key>sourceSize</key>
                <string>{128,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>magic_fire_pillar_spritesheet_1.png</string>
            <key>size</key>
            <string>{255,398}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3468798c04433a01acaafcd935677a83:d73f2a1d1e2677fde12aa8656abf3115:b8c17d1c8ed8b621b762e3a91c4fd30c$</string>
            <key>textureFileName</key>
            <string>magic_fire_pillar_spritesheet_1.png</string>
        </dict>
    </dict>
</plist>
