<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>magic_lightning_arrow_end_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,187},{45,51}}</string>
                <key>offset</key>
                <string>{-5.5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{45,51}}</string>
                <key>sourceSize</key>
                <string>{84,81}</string>
            </dict>
            <key>magic_lightning_arrow_end_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,223},{71,71}}</string>
                <key>offset</key>
                <string>{-3.5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{71,71}}</string>
                <key>sourceSize</key>
                <string>{84,81}</string>
            </dict>
            <key>magic_lightning_arrow_end_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,295},{72,68}}</string>
                <key>offset</key>
                <string>{0,2.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{72,68}}</string>
                <key>sourceSize</key>
                <string>{84,81}</string>
            </dict>
            <key>magic_lightning_arrow_end_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,251},{75,65}}</string>
                <key>offset</key>
                <string>{-2.5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,7},{75,65}}</string>
                <key>sourceSize</key>
                <string>{84,81}</string>
            </dict>
            <key>magic_lightning_arrow_end_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{75,69}}</string>
                <key>offset</key>
                <string>{-2.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{75,69}}</string>
                <key>sourceSize</key>
                <string>{84,81}</string>
            </dict>
            <key>magic_lightning_arrow_end_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,2},{74,76}}</string>
                <key>offset</key>
                <string>{-1,0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{74,76}}</string>
                <key>sourceSize</key>
                <string>{84,81}</string>
            </dict>
            <key>magic_lightning_arrow_end_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,167},{82,80}}</string>
                <key>offset</key>
                <string>{-1,0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,80}}</string>
                <key>sourceSize</key>
                <string>{84,81}</string>
            </dict>
            <key>magic_lightning_arrow_end_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{81,81}}</string>
                <key>offset</key>
                <string>{-0.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{84,81}</string>
            </dict>
            <key>magic_lightning_arrow_end_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,84},{81,80}}</string>
                <key>offset</key>
                <string>{-0.5,0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{81,80}}</string>
                <key>sourceSize</key>
                <string>{84,81}</string>
            </dict>
            <key>magic_lightning_arrow_end_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{82,80}}</string>
                <key>offset</key>
                <string>{1,0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{82,80}}</string>
                <key>sourceSize</key>
                <string>{84,81}</string>
            </dict>
            <key>magic_lightning_arrow_end_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{82,80}}</string>
                <key>offset</key>
                <string>{1,0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{82,80}}</string>
                <key>sourceSize</key>
                <string>{84,81}</string>
            </dict>
            <key>magic_lightning_arrow_end_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,223},{70,72}}</string>
                <key>offset</key>
                <string>{-5,-0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{70,72}}</string>
                <key>sourceSize</key>
                <string>{84,81}</string>
            </dict>
            <key>magic_lightning_arrow_end_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{81,74}}</string>
                <key>offset</key>
                <string>{-1.5,2.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{81,74}}</string>
                <key>sourceSize</key>
                <string>{84,81}</string>
            </dict>
            <key>magic_lightning_arrow_end_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,251},{81,73}}</string>
                <key>offset</key>
                <string>{-1.5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{81,73}}</string>
                <key>sourceSize</key>
                <string>{84,81}</string>
            </dict>
            <key>magic_lightning_arrow_end_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,2},{75,73}}</string>
                <key>offset</key>
                <string>{1.5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{75,73}}</string>
                <key>sourceSize</key>
                <string>{84,81}</string>
            </dict>
            <key>magic_lightning_arrow_end_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{74,73}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{74,73}}</string>
                <key>sourceSize</key>
                <string>{84,81}</string>
            </dict>
            <key>magic_lightning_arrow_end_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,153},{68,66}}</string>
                <key>offset</key>
                <string>{0,0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{68,66}}</string>
                <key>sourceSize</key>
                <string>{84,81}</string>
            </dict>
            <key>magic_lightning_arrow_end_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,77},{67,65}}</string>
                <key>offset</key>
                <string>{0.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{67,65}}</string>
                <key>sourceSize</key>
                <string>{84,81}</string>
            </dict>
            <key>magic_lightning_arrow_end_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,294},{62,69}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{62,69}}</string>
                <key>sourceSize</key>
                <string>{84,81}</string>
            </dict>
            <key>magic_lightning_arrow_end_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,153},{73,68}}</string>
                <key>offset</key>
                <string>{3.5,0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{73,68}}</string>
                <key>sourceSize</key>
                <string>{84,81}</string>
            </dict>
            <key>magic_lightning_arrow_end_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,2},{1,1}}</string>
                <key>offset</key>
                <string>{-41.5,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{84,81}</string>
            </dict>
            <key>magic_lightning_arrow_end_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,222},{73,70}}</string>
                <key>offset</key>
                <string>{-2.5,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{73,70}}</string>
                <key>sourceSize</key>
                <string>{84,81}</string>
            </dict>
            <key>magic_lightning_arrow_end_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,328},{74,72}}</string>
                <key>offset</key>
                <string>{-2,0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{74,72}}</string>
                <key>sourceSize</key>
                <string>{84,81}</string>
            </dict>
            <key>magic_lightning_arrow_end_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,78},{74,71}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{74,71}}</string>
                <key>sourceSize</key>
                <string>{84,81}</string>
            </dict>
            <key>magic_lightning_arrow_end_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,78},{73,74}}</string>
                <key>offset</key>
                <string>{-1.5,0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{73,74}}</string>
                <key>sourceSize</key>
                <string>{84,81}</string>
            </dict>
            <key>magic_lightning_arrow_end_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,151},{74,69}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{74,69}}</string>
                <key>sourceSize</key>
                <string>{84,81}</string>
            </dict>
            <key>magic_lightning_arrow_end_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,296},{68,67}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{68,67}}</string>
                <key>sourceSize</key>
                <string>{84,81}</string>
            </dict>
            <key>magic_lightning_arrow_end_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,296},{68,69}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,7},{68,69}}</string>
                <key>sourceSize</key>
                <string>{84,81}</string>
            </dict>
            <key>magic_lightning_arrow_middle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,353},{41,14}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{41,14}}</string>
                <key>sourceSize</key>
                <string>{45,16}</string>
            </dict>
            <key>magic_lightning_arrow_middle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,225},{45,13}}</string>
                <key>offset</key>
                <string>{0,-0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{45,13}}</string>
                <key>sourceSize</key>
                <string>{45,16}</string>
            </dict>
            <key>magic_lightning_arrow_middle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,167},{45,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,16}}</string>
                <key>sourceSize</key>
                <string>{45,16}</string>
            </dict>
            <key>magic_lightning_arrow_middle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,361},{45,12}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,12}}</string>
                <key>sourceSize</key>
                <string>{45,16}</string>
            </dict>
            <key>magic_lightning_arrow_middle_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,375},{41,11}}</string>
                <key>offset</key>
                <string>{0,1.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{41,11}}</string>
                <key>sourceSize</key>
                <string>{45,16}</string>
            </dict>
            <key>magic_lightning_arrow_start_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,230},{25,19}}</string>
                <key>offset</key>
                <string>{0,-1.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{25,19}}</string>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
            <key>magic_lightning_arrow_start_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,328},{47,31}}</string>
                <key>offset</key>
                <string>{7.5,0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{47,31}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>magic_lightning_arrow_start_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,366},{47,31}}</string>
                <key>offset</key>
                <string>{7.5,0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{47,31}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>magic_lightning_arrow_start_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,166},{40,31}}</string>
                <key>offset</key>
                <string>{7,2.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{40,31}}</string>
                <key>sourceSize</key>
                <string>{54,36}</string>
            </dict>
            <key>magic_lightning_arrow_start_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,199},{39,29}}</string>
                <key>offset</key>
                <string>{7.5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{39,29}}</string>
                <key>sourceSize</key>
                <string>{54,33}</string>
            </dict>
            <key>magic_lightning_arrow_start_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,366},{48,32}}</string>
                <key>offset</key>
                <string>{7.5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{63,36}</string>
            </dict>
            <key>magic_lightning_arrow_start_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,366},{48,32}}</string>
                <key>offset</key>
                <string>{7.5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{63,36}</string>
            </dict>
            <key>magic_lightning_arrow_start_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,366},{56,37}}</string>
                <key>offset</key>
                <string>{9.5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{56,37}}</string>
                <key>sourceSize</key>
                <string>{75,43}</string>
            </dict>
            <key>magic_lightning_arrow_start_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,366},{56,37}}</string>
                <key>offset</key>
                <string>{9.5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{56,37}}</string>
                <key>sourceSize</key>
                <string>{75,43}</string>
            </dict>
            <key>magic_lightning_arrow_start_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,77},{63,39}}</string>
                <key>offset</key>
                <string>{11.5,2.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{63,39}}</string>
                <key>sourceSize</key>
                <string>{88,44}</string>
            </dict>
            <key>magic_lightning_arrow_start_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,146},{59,39}}</string>
                <key>offset</key>
                <string>{9.5,2.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{59,39}}</string>
                <key>sourceSize</key>
                <string>{80,44}</string>
            </dict>
            <key>magic_lightning_arrow_start_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,190},{33,19}}</string>
                <key>offset</key>
                <string>{0.5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{33,19}}</string>
                <key>sourceSize</key>
                <string>{34,25}</string>
            </dict>
            <key>magic_lightning_arrow_start_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,78},{71,42}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{71,42}}</string>
                <key>sourceSize</key>
                <string>{89,44}</string>
            </dict>
            <key>magic_lightning_arrow_start_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,223},{71,42}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{71,42}}</string>
                <key>sourceSize</key>
                <string>{89,44}</string>
            </dict>
            <key>magic_lightning_arrow_start_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,286},{65,14}}</string>
                <key>offset</key>
                <string>{-25.5,1.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,14}}</string>
                <key>sourceSize</key>
                <string>{116,17}</string>
            </dict>
            <key>magic_lightning_arrow_start_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{73,22}}</string>
                <key>offset</key>
                <string>{-21.5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,22}}</string>
                <key>sourceSize</key>
                <string>{116,22}</string>
            </dict>
            <key>magic_lightning_arrow_start_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,118},{61,26}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,26}}</string>
                <key>sourceSize</key>
                <string>{93,26}</string>
            </dict>
            <key>magic_lightning_arrow_start_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,223},{61,31}}</string>
                <key>offset</key>
                <string>{-16,0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,31}}</string>
                <key>sourceSize</key>
                <string>{93,32}</string>
            </dict>
            <key>magic_lightning_arrow_start_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,366},{58,34}}</string>
                <key>offset</key>
                <string>{-12.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{58,34}}</string>
                <key>sourceSize</key>
                <string>{83,36}</string>
            </dict>
            <key>magic_lightning_arrow_start_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,144},{60,40}}</string>
                <key>offset</key>
                <string>{-11.5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,40}}</string>
                <key>sourceSize</key>
                <string>{83,40}</string>
            </dict>
            <key>magic_lightning_arrow_start_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,365},{58,38}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{58,38}}</string>
                <key>sourceSize</key>
                <string>{80,40}</string>
            </dict>
            <key>magic_lightning_arrow_start_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,240},{51,43}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{51,43}}</string>
                <key>sourceSize</key>
                <string>{69,47}</string>
            </dict>
            <key>magic_lightning_arrow_start_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,214},{35,17}}</string>
                <key>offset</key>
                <string>{0.5,-1.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{35,17}}</string>
                <key>sourceSize</key>
                <string>{38,20}</string>
            </dict>
            <key>magic_lightning_arrow_start_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,285},{40,41}}</string>
                <key>offset</key>
                <string>{-6,-2.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{40,41}}</string>
                <key>sourceSize</key>
                <string>{52,46}</string>
            </dict>
            <key>magic_lightning_arrow_start_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,294},{6,28}}</string>
                <key>offset</key>
                <string>{8,-2.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,6},{6,28}}</string>
                <key>sourceSize</key>
                <string>{24,35}</string>
            </dict>
            <key>magic_lightning_arrow_start_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,364},{38,15}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,7},{38,15}}</string>
                <key>sourceSize</key>
                <string>{46,23}</string>
            </dict>
            <key>magic_lightning_arrow_start_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,206},{44,15}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{44,15}}</string>
                <key>sourceSize</key>
                <string>{46,23}</string>
            </dict>
            <key>magic_lightning_arrow_start_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,318},{44,13}}</string>
                <key>offset</key>
                <string>{5.5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,5},{44,13}}</string>
                <key>sourceSize</key>
                <string>{57,19}</string>
            </dict>
            <key>magic_lightning_arrow_start_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,272},{44,13}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,5},{44,13}}</string>
                <key>sourceSize</key>
                <string>{62,19}</string>
            </dict>
            <key>magic_lightning_arrow_start_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,146},{42,19}}</string>
                <key>offset</key>
                <string>{15.5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,0},{42,19}}</string>
                <key>sourceSize</key>
                <string>{75,19}</string>
            </dict>
            <key>magic_lightning_arrow_start_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,166},{44,18}}</string>
                <key>offset</key>
                <string>{15,1.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{44,18}}</string>
                <key>sourceSize</key>
                <string>{74,21}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>magic_lightning_arrow_spritesheet.png</string>
            <key>size</key>
            <string>{511,405}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:813781c2bdf2c9827483f70048cafd8a:fd355a7408b1fde003b0725166d3e47d:bd5aad288aa8009fa7a692fbcb0caacf$</string>
            <key>textureFileName</key>
            <string>magic_lightning_arrow_spritesheet.png</string>
        </dict>
    </dict>
</plist>
