<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>magic_bomb_end_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,166},{79,83}}</string>
                <key>offset</key>
                <string>{4,3.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,3},{79,83}}</string>
                <key>sourceSize</key>
                <string>{93,96}</string>
            </dict>
            <key>magic_bomb_end_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,269},{85,79}}</string>
                <key>offset</key>
                <string>{30.5,0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,1},{85,79}}</string>
                <key>sourceSize</key>
                <string>{146,82}</string>
            </dict>
            <key>magic_bomb_end_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,87},{85,76}}</string>
                <key>offset</key>
                <string>{30.5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,1},{85,76}}</string>
                <key>sourceSize</key>
                <string>{146,82}</string>
            </dict>
            <key>magic_bomb_end_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{85,80}}</string>
                <key>offset</key>
                <string>{29.5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,1},{85,80}}</string>
                <key>sourceSize</key>
                <string>{146,86}</string>
            </dict>
            <key>magic_bomb_end_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{85,80}}</string>
                <key>offset</key>
                <string>{29.5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,1},{85,80}}</string>
                <key>sourceSize</key>
                <string>{146,86}</string>
            </dict>
            <key>magic_bomb_end_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{84,84}}</string>
                <key>offset</key>
                <string>{30,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{146,92}</string>
            </dict>
            <key>magic_bomb_end_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{84,84}}</string>
                <key>offset</key>
                <string>{30,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{146,92}</string>
            </dict>
            <key>magic_bomb_end_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{82,88}}</string>
                <key>offset</key>
                <string>{29,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,0},{82,88}}</string>
                <key>sourceSize</key>
                <string>{142,96}</string>
            </dict>
            <key>magic_bomb_end_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{81,88}}</string>
                <key>offset</key>
                <string>{29.5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,0},{81,88}}</string>
                <key>sourceSize</key>
                <string>{142,96}</string>
            </dict>
            <key>magic_bomb_end_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{78,85}}</string>
                <key>offset</key>
                <string>{28,5.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,0},{78,85}}</string>
                <key>sourceSize</key>
                <string>{138,96}</string>
            </dict>
            <key>magic_bomb_end_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{78,85}}</string>
                <key>offset</key>
                <string>{28,5.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,0},{78,85}}</string>
                <key>sourceSize</key>
                <string>{138,96}</string>
            </dict>
            <key>magic_bomb_end_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,319},{75,72}}</string>
                <key>offset</key>
                <string>{11,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,2},{75,72}}</string>
                <key>sourceSize</key>
                <string>{99,75}</string>
            </dict>
            <key>magic_bomb_end_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,318},{70,76}}</string>
                <key>offset</key>
                <string>{23.5,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,1},{70,76}}</string>
                <key>sourceSize</key>
                <string>{119,94}</string>
            </dict>
            <key>magic_bomb_end_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,318},{70,76}}</string>
                <key>offset</key>
                <string>{23.5,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,1},{70,76}}</string>
                <key>sourceSize</key>
                <string>{119,94}</string>
            </dict>
            <key>magic_bomb_end_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,247},{70,76}}</string>
                <key>offset</key>
                <string>{22.5,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,1},{70,76}}</string>
                <key>sourceSize</key>
                <string>{119,94}</string>
            </dict>
            <key>magic_bomb_end_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,247},{70,76}}</string>
                <key>offset</key>
                <string>{22.5,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,1},{70,76}}</string>
                <key>sourceSize</key>
                <string>{119,94}</string>
            </dict>
            <key>magic_bomb_end_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,443},{58,67}}</string>
                <key>offset</key>
                <string>{27.5,12.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,1},{58,67}}</string>
                <key>sourceSize</key>
                <string>{119,94}</string>
            </dict>
            <key>magic_bomb_end_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,443},{58,67}}</string>
                <key>offset</key>
                <string>{27.5,12.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,1},{58,67}}</string>
                <key>sourceSize</key>
                <string>{119,94}</string>
            </dict>
            <key>magic_bomb_end_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{59,46}}</string>
                <key>offset</key>
                <string>{26.5,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,2},{59,46}}</string>
                <key>sourceSize</key>
                <string>{114,96}</string>
            </dict>
            <key>magic_bomb_end_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{59,46}}</string>
                <key>offset</key>
                <string>{26.5,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,2},{59,46}}</string>
                <key>sourceSize</key>
                <string>{114,96}</string>
            </dict>
            <key>magic_bomb_end_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,63},{39,24}}</string>
                <key>offset</key>
                <string>{18,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,2},{39,24}}</string>
                <key>sourceSize</key>
                <string>{79,96}</string>
            </dict>
            <key>magic_bomb_end_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,63},{39,24}}</string>
                <key>offset</key>
                <string>{18,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,2},{39,24}}</string>
                <key>sourceSize</key>
                <string>{79,96}</string>
            </dict>
            <key>magic_bomb_end_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,393},{70,72}}</string>
                <key>offset</key>
                <string>{17,-1.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,4},{70,72}}</string>
                <key>sourceSize</key>
                <string>{106,77}</string>
            </dict>
            <key>magic_bomb_end_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,329},{12,6}}</string>
                <key>offset</key>
                <string>{10.5,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,3},{12,6}}</string>
                <key>sourceSize</key>
                <string>{35,96}</string>
            </dict>
            <key>magic_bomb_end_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,329},{12,6}}</string>
                <key>offset</key>
                <string>{10.5,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,3},{12,6}}</string>
                <key>sourceSize</key>
                <string>{35,96}</string>
            </dict>
            <key>magic_bomb_end_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,243},{78,73}}</string>
                <key>offset</key>
                <string>{13.5,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,3},{78,73}}</string>
                <key>sourceSize</key>
                <string>{107,78}</string>
            </dict>
            <key>magic_bomb_end_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{86,83}}</string>
                <key>offset</key>
                <string>{9,4.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,2},{86,83}}</string>
                <key>sourceSize</key>
                <string>{108,96}</string>
            </dict>
            <key>magic_bomb_end_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,393},{71,75}}</string>
                <key>offset</key>
                <string>{21.5,-1.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,6},{71,75}}</string>
                <key>sourceSize</key>
                <string>{116,84}</string>
            </dict>
            <key>magic_bomb_end_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,390},{71,75}}</string>
                <key>offset</key>
                <string>{22,-1.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,5},{71,75}}</string>
                <key>sourceSize</key>
                <string>{115,82}</string>
            </dict>
            <key>magic_bomb_end_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,165},{84,76}}</string>
                <key>offset</key>
                <string>{29,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,4},{84,76}}</string>
                <key>sourceSize</key>
                <string>{144,80}</string>
            </dict>
            <key>magic_bomb_end_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,88},{84,76}}</string>
                <key>offset</key>
                <string>{29,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,4},{84,76}}</string>
                <key>sourceSize</key>
                <string>{144,80}</string>
            </dict>
            <key>magic_bomb_middle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,296},{22,17}}</string>
                <key>offset</key>
                <string>{-2.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,17}}</string>
                <key>sourceSize</key>
                <string>{27,17}</string>
            </dict>
            <key>magic_bomb_middle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,258},{27,17}}</string>
                <key>offset</key>
                <string>{-5.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,17}}</string>
                <key>sourceSize</key>
                <string>{38,17}</string>
            </dict>
            <key>magic_bomb_middle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,281},{32,17}}</string>
                <key>offset</key>
                <string>{-7.5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,17}}</string>
                <key>sourceSize</key>
                <string>{47,17}</string>
            </dict>
            <key>magic_bomb_middle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,159},{30,17}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,17}}</string>
                <key>sourceSize</key>
                <string>{44,17}</string>
            </dict>
            <key>magic_bomb_middle_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,247},{32,17}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,17}}</string>
                <key>sourceSize</key>
                <string>{46,17}</string>
            </dict>
            <key>magic_bomb_middle_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,239},{29,17}}</string>
                <key>offset</key>
                <string>{-6.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,17}}</string>
                <key>sourceSize</key>
                <string>{42,17}</string>
            </dict>
            <key>magic_bomb_start_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,169},{6,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,6}}</string>
                <key>sourceSize</key>
                <string>{6,6}</string>
            </dict>
            <key>magic_bomb_start_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,202},{9,8}}</string>
                <key>offset</key>
                <string>{0,0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,8}}</string>
                <key>sourceSize</key>
                <string>{9,9}</string>
            </dict>
            <key>magic_bomb_start_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,443},{10,9}}</string>
                <key>offset</key>
                <string>{0,0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,9}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>magic_bomb_start_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,354},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>magic_bomb_start_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,329},{11,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,11}}</string>
                <key>sourceSize</key>
                <string>{11,11}</string>
            </dict>
            <key>magic_bomb_start_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,365},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>magic_bomb_start_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,337},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>magic_bomb_start_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,154},{14,13}}</string>
                <key>offset</key>
                <string>{0,0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,13}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>magic_bomb_start_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,366},{13,12}}</string>
                <key>offset</key>
                <string>{0,0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,12}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>magic_bomb_start_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,351},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>magic_bomb_start_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,380},{11,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,11}}</string>
                <key>sourceSize</key>
                <string>{11,11}</string>
            </dict>
            <key>magic_bomb_start_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,169},{7,6}}</string>
                <key>offset</key>
                <string>{0,0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,6}}</string>
                <key>sourceSize</key>
                <string>{7,7}</string>
            </dict>
            <key>magic_bomb_start_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,337},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>magic_bomb_start_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,352},{13,12}}</string>
                <key>offset</key>
                <string>{0,0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,12}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>magic_bomb_start_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,139},{14,13}}</string>
                <key>offset</key>
                <string>{0,0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,13}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>magic_bomb_start_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,123},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>magic_bomb_start_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,106},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>magic_bomb_start_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,319},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>magic_bomb_start_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,298},{17,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,17}}</string>
                <key>sourceSize</key>
                <string>{17,17}</string>
            </dict>
            <key>magic_bomb_start_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,89},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>magic_bomb_start_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,239},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>magic_bomb_start_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,317},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>magic_bomb_start_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,202},{8,7}}</string>
                <key>offset</key>
                <string>{0,0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,7}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>magic_bomb_start_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,315},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>magic_bomb_start_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,315},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>magic_bomb_start_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,380},{11,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,11}}</string>
                <key>sourceSize</key>
                <string>{11,11}</string>
            </dict>
            <key>magic_bomb_start_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,258},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>magic_bomb_start_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,212},{24,25}}</string>
                <key>offset</key>
                <string>{-0.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>magic_bomb_start_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,212},{24,25}}</string>
                <key>offset</key>
                <string>{-0.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>magic_bomb_start_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,467},{31,34}}</string>
                <key>offset</key>
                <string>{-0.5,-1.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{31,34}}</string>
                <key>sourceSize</key>
                <string>{34,37}</string>
            </dict>
            <key>magic_bomb_start_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,467},{31,34}}</string>
                <key>offset</key>
                <string>{-0.5,-1.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{31,34}}</string>
                <key>sourceSize</key>
                <string>{34,37}</string>
            </dict>
            <key>magic_bomb_start_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,178},{30,32}}</string>
                <key>offset</key>
                <string>{-0.5,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{30,32}}</string>
                <key>sourceSize</key>
                <string>{31,35}</string>
            </dict>
            <key>magic_bomb_start_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,125},{30,32}}</string>
                <key>offset</key>
                <string>{-0.5,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{30,32}}</string>
                <key>sourceSize</key>
                <string>{31,35}</string>
            </dict>
            <key>magic_bomb_start_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,317},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>magic_bomb_start_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,89},{30,34}}</string>
                <key>offset</key>
                <string>{0,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{30,34}}</string>
                <key>sourceSize</key>
                <string>{32,35}</string>
            </dict>
            <key>magic_bomb_start_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,467},{30,34}}</string>
                <key>offset</key>
                <string>{0,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{30,34}}</string>
                <key>sourceSize</key>
                <string>{32,35}</string>
            </dict>
            <key>magic_bomb_start_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,466},{32,35}}</string>
                <key>offset</key>
                <string>{1,0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{32,35}}</string>
                <key>sourceSize</key>
                <string>{34,36}</string>
            </dict>
            <key>magic_bomb_start_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,466},{32,35}}</string>
                <key>offset</key>
                <string>{1,0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{32,35}}</string>
                <key>sourceSize</key>
                <string>{34,36}</string>
            </dict>
            <key>magic_bomb_start_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,466},{31,35}}</string>
                <key>offset</key>
                <string>{1.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{31,35}}</string>
                <key>sourceSize</key>
                <string>{34,37}</string>
            </dict>
            <key>magic_bomb_start_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,466},{31,35}}</string>
                <key>offset</key>
                <string>{1.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{31,35}}</string>
                <key>sourceSize</key>
                <string>{34,37}</string>
            </dict>
            <key>magic_bomb_start_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,277},{19,18}}</string>
                <key>offset</key>
                <string>{0,0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{19,18}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>magic_bomb_start_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,178},{22,18}}</string>
                <key>offset</key>
                <string>{0,0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{22,18}}</string>
                <key>sourceSize</key>
                <string>{24,21}</string>
            </dict>
            <key>magic_bomb_start_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,277},{25,17}}</string>
                <key>offset</key>
                <string>{0,0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{25,17}}</string>
                <key>sourceSize</key>
                <string>{27,20}</string>
            </dict>
            <key>magic_bomb_start_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,366},{9,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,9}}</string>
                <key>sourceSize</key>
                <string>{9,9}</string>
            </dict>
            <key>magic_bomb_start_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,342},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>magic_bomb_start_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,331},{11,10}}</string>
                <key>offset</key>
                <string>{0,0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,10}}</string>
                <key>sourceSize</key>
                <string>{11,11}</string>
            </dict>
            <key>magic_bomb_start_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,331},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>magic_bomb_start_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,455},{9,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,9}}</string>
                <key>sourceSize</key>
                <string>{9,9}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>magic_bomb_start_spritesheet.png</string>
            <key>size</key>
            <string>{308,503}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d7afde740d43e1fd9beee970d175d869:5c215040f2d960f78f98700a67def34f:b1082848cde98d1292be01beae3eb7e9$</string>
            <key>textureFileName</key>
            <string>magic_bomb_start_spritesheet.png</string>
        </dict>
    </dict>
</plist>
