<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>magic_fire_pillar_end_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,195},{27,20}}</string>
                <key>offset</key>
                <string>{-2.5,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,108},{27,20}}</string>
                <key>sourceSize</key>
                <string>{50,130}</string>
            </dict>
            <key>magic_fire_pillar_end_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,86},{36,124}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{36,124}}</string>
                <key>sourceSize</key>
                <string>{50,130}</string>
            </dict>
            <key>magic_fire_pillar_end_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,2},{36,127}}</string>
                <key>offset</key>
                <string>{0,-1.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{36,127}}</string>
                <key>sourceSize</key>
                <string>{50,130}</string>
            </dict>
            <key>magic_fire_pillar_end_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,2},{36,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{36,130}}</string>
                <key>sourceSize</key>
                <string>{50,130}</string>
            </dict>
            <key>magic_fire_pillar_end_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,252},{43,108}}</string>
                <key>offset</key>
                <string>{1.5,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,21},{43,108}}</string>
                <key>sourceSize</key>
                <string>{50,130}</string>
            </dict>
            <key>magic_fire_pillar_end_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,246},{43,108}}</string>
                <key>offset</key>
                <string>{1.5,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,21},{43,108}}</string>
                <key>sourceSize</key>
                <string>{50,130}</string>
            </dict>
            <key>magic_fire_pillar_end_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,291},{37,105}}</string>
                <key>offset</key>
                <string>{-2.5,-11.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,24},{37,105}}</string>
                <key>sourceSize</key>
                <string>{50,130}</string>
            </dict>
            <key>magic_fire_pillar_end_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,248},{37,105}}</string>
                <key>offset</key>
                <string>{-2.5,-11.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,24},{37,105}}</string>
                <key>sourceSize</key>
                <string>{50,130}</string>
            </dict>
            <key>magic_fire_pillar_end_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,251},{43,110}}</string>
                <key>offset</key>
                <string>{-1.5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,20},{43,110}}</string>
                <key>sourceSize</key>
                <string>{50,130}</string>
            </dict>
            <key>magic_fire_pillar_end_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,207},{43,110}}</string>
                <key>offset</key>
                <string>{-1.5,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,20},{43,110}}</string>
                <key>sourceSize</key>
                <string>{50,130}</string>
            </dict>
            <key>magic_fire_pillar_end_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,165},{40,115}}</string>
                <key>offset</key>
                <string>{0,-6.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,14},{40,115}}</string>
                <key>sourceSize</key>
                <string>{50,130}</string>
            </dict>
            <key>magic_fire_pillar_end_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,355},{33,22}}</string>
                <key>offset</key>
                <string>{0.5,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,106},{33,22}}</string>
                <key>sourceSize</key>
                <string>{50,130}</string>
            </dict>
            <key>magic_fire_pillar_end_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,85},{40,115}}</string>
                <key>offset</key>
                <string>{0,-6.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,14},{40,115}}</string>
                <key>sourceSize</key>
                <string>{50,130}</string>
            </dict>
            <key>magic_fire_pillar_end_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,128},{36,118}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,11},{36,118}}</string>
                <key>sourceSize</key>
                <string>{50,130}</string>
            </dict>
            <key>magic_fire_pillar_end_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,127},{36,118}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,11},{36,118}}</string>
                <key>sourceSize</key>
                <string>{50,130}</string>
            </dict>
            <key>magic_fire_pillar_end_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,127},{43,118}}</string>
                <key>offset</key>
                <string>{0.5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{43,118}}</string>
                <key>sourceSize</key>
                <string>{50,130}</string>
            </dict>
            <key>magic_fire_pillar_end_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,40},{43,118}}</string>
                <key>offset</key>
                <string>{0.5,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,11},{43,118}}</string>
                <key>sourceSize</key>
                <string>{50,130}</string>
            </dict>
            <key>magic_fire_pillar_end_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,204},{40,118}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,9},{40,118}}</string>
                <key>sourceSize</key>
                <string>{50,130}</string>
            </dict>
            <key>magic_fire_pillar_end_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,162},{40,118}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,9},{40,118}}</string>
                <key>sourceSize</key>
                <string>{50,130}</string>
            </dict>
            <key>magic_fire_pillar_end_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,40},{44,121}}</string>
                <key>offset</key>
                <string>{0,-2.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,7},{44,121}}</string>
                <key>sourceSize</key>
                <string>{50,130}</string>
            </dict>
            <key>magic_fire_pillar_end_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,128},{44,121}}</string>
                <key>offset</key>
                <string>{0,-2.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{44,121}}</string>
                <key>sourceSize</key>
                <string>{50,130}</string>
            </dict>
            <key>magic_fire_pillar_end_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,127},{47,123}}</string>
                <key>offset</key>
                <string>{1.5,-1.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{47,123}}</string>
                <key>sourceSize</key>
                <string>{50,130}</string>
            </dict>
            <key>magic_fire_pillar_end_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,126},{35,62}}</string>
                <key>offset</key>
                <string>{-0.5,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,66},{35,62}}</string>
                <key>sourceSize</key>
                <string>{50,130}</string>
            </dict>
            <key>magic_fire_pillar_end_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{47,123}}</string>
                <key>offset</key>
                <string>{1.5,-1.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{47,123}}</string>
                <key>sourceSize</key>
                <string>{50,130}</string>
            </dict>
            <key>magic_fire_pillar_end_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{46,124}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{46,124}}</string>
                <key>sourceSize</key>
                <string>{50,130}</string>
            </dict>
            <key>magic_fire_pillar_end_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,2},{46,124}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{46,124}}</string>
                <key>sourceSize</key>
                <string>{50,130}</string>
            </dict>
            <key>magic_fire_pillar_end_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,2},{44,123}}</string>
                <key>offset</key>
                <string>{1,-1.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{44,123}}</string>
                <key>sourceSize</key>
                <string>{50,130}</string>
            </dict>
            <key>magic_fire_pillar_end_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,2},{44,123}}</string>
                <key>offset</key>
                <string>{1,-1.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{44,123}}</string>
                <key>sourceSize</key>
                <string>{50,130}</string>
            </dict>
            <key>magic_fire_pillar_end_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,297},{40,92}}</string>
                <key>offset</key>
                <string>{-2,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,36},{40,92}}</string>
                <key>sourceSize</key>
                <string>{50,130}</string>
            </dict>
            <key>magic_fire_pillar_end_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,297},{40,92}}</string>
                <key>offset</key>
                <string>{-2,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,36},{40,92}}</string>
                <key>sourceSize</key>
                <string>{50,130}</string>
            </dict>
            <key>magic_fire_pillar_end_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,117},{32,76}}</string>
                <key>offset</key>
                <string>{-4,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,43},{32,76}}</string>
                <key>sourceSize</key>
                <string>{50,130}</string>
            </dict>
            <key>magic_fire_pillar_end_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,39},{32,76}}</string>
                <key>offset</key>
                <string>{-4,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,43},{32,76}}</string>
                <key>sourceSize</key>
                <string>{50,130}</string>
            </dict>
            <key>magic_fire_pillar_end_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,195},{36,67}}</string>
                <key>offset</key>
                <string>{-6,-6.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,38},{36,67}}</string>
                <key>sourceSize</key>
                <string>{50,130}</string>
            </dict>
            <key>magic_fire_pillar_end_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,207},{35,67}}</string>
                <key>offset</key>
                <string>{-0.5,-29.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,61},{35,67}}</string>
                <key>sourceSize</key>
                <string>{50,130}</string>
            </dict>
            <key>magic_fire_pillar_end_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,339},{36,67}}</string>
                <key>offset</key>
                <string>{-6,-6.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,38},{36,67}}</string>
                <key>sourceSize</key>
                <string>{50,130}</string>
            </dict>
            <key>magic_fire_pillar_end_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,264},{35,60}}</string>
                <key>offset</key>
                <string>{-5.5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,32},{35,60}}</string>
                <key>sourceSize</key>
                <string>{50,130}</string>
            </dict>
            <key>magic_fire_pillar_end_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,339},{35,60}}</string>
                <key>offset</key>
                <string>{-5.5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,32},{35,60}}</string>
                <key>sourceSize</key>
                <string>{50,130}</string>
            </dict>
            <key>magic_fire_pillar_end_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{35,48}}</string>
                <key>offset</key>
                <string>{-5.5,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,46},{35,48}}</string>
                <key>sourceSize</key>
                <string>{50,130}</string>
            </dict>
            <key>magic_fire_pillar_end_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,162},{1,1}}</string>
                <key>offset</key>
                <string>{-24.5,64.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{50,130}</string>
            </dict>
            <key>magic_fire_pillar_end_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,40},{37,84}}</string>
                <key>offset</key>
                <string>{0.5,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,45},{37,84}}</string>
                <key>sourceSize</key>
                <string>{50,130}</string>
            </dict>
            <key>magic_fire_pillar_end_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,339},{37,94}}</string>
                <key>offset</key>
                <string>{0.5,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,35},{37,94}}</string>
                <key>sourceSize</key>
                <string>{50,130}</string>
            </dict>
            <key>magic_fire_pillar_end_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,330},{34,105}}</string>
                <key>offset</key>
                <string>{-1,-11.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,24},{34,105}}</string>
                <key>sourceSize</key>
                <string>{50,130}</string>
            </dict>
            <key>magic_fire_pillar_end_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,252},{34,112}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,17},{34,112}}</string>
                <key>sourceSize</key>
                <string>{50,130}</string>
            </dict>
            <key>magic_fire_pillar_end_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,124},{36,123}}</string>
                <key>offset</key>
                <string>{-1,-3.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,7},{36,123}}</string>
                <key>sourceSize</key>
                <string>{50,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>magic_fire_pillar_spritesheet_2.png</string>
            <key>size</key>
            <string>{509,379}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1fe56098a06a4645d327c26b39f08ada:8a5886b1e14aee35887152a207f5be7d:da0e6184e0c90f377b80d73f32ead470$</string>
            <key>textureFileName</key>
            <string>magic_fire_pillar_spritesheet_2.png</string>
        </dict>
    </dict>
</plist>
