<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bottom_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,184},{320,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,32}}</string>
                <key>sourceSize</key>
                <string>{320,32}</string>
            </dict>
            <key>button_about_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,218},{71,26}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{71,26}}</string>
                <key>sourceSize</key>
                <string>{81,28}</string>
            </dict>
            <key>button_about_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,142},{71,28}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,28}}</string>
                <key>sourceSize</key>
                <string>{81,28}</string>
            </dict>
            <key>button_option_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,72},{68,29}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{68,29}}</string>
                <key>sourceSize</key>
                <string>{78,35}</string>
            </dict>
            <key>button_option_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{68,29}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{68,29}}</string>
                <key>sourceSize</key>
                <string>{78,35}</string>
            </dict>
            <key>button_play_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,218},{108,31}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{108,31}}</string>
                <key>sourceSize</key>
                <string>{126,35}</string>
            </dict>
            <key>button_play_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,218},{108,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{108,35}}</string>
                <key>sourceSize</key>
                <string>{126,35}</string>
            </dict>
            <key>game_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{243,94}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,94}}</string>
                <key>sourceSize</key>
                <string>{247,94}</string>
            </dict>
            <key>mainmenu_background.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{320,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,180}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mainmenu_spritesheet.png</string>
            <key>size</key>
            <string>{451,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9851ea539b27a01d9b3542db946ddd8a:348efd13b8e8082e81b2fe71c1d198c0:e6151a274fc478b572b3e64079f1fb3c$</string>
            <key>textureFileName</key>
            <string>mainmenu_spritesheet.png</string>
        </dict>
    </dict>
</plist>
