<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>map1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,386},{102,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,129}}</string>
                <key>sourceSize</key>
                <string>{102,129}</string>
            </dict>
            <key>map1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,342},{99,132}}</string>
                <key>offset</key>
                <string>{0.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,132}}</string>
                <key>sourceSize</key>
                <string>{98,132}</string>
            </dict>
            <key>map1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,33},{248,166}}</string>
                <key>offset</key>
                <string>{0,-4.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{248,166}}</string>
                <key>sourceSize</key>
                <string>{248,175}</string>
            </dict>
            <key>map1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{250,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,29}}</string>
                <key>sourceSize</key>
                <string>{250,29}</string>
            </dict>
            <key>map1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,205},{179,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,91}}</string>
                <key>sourceSize</key>
                <string>{179,91}</string>
            </dict>
            <key>map1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{182,143}}</string>
                <key>offset</key>
                <string>{0.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,143}}</string>
                <key>sourceSize</key>
                <string>{181,143}</string>
            </dict>
            <key>map1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,205},{130,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,180}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>map1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,201},{139,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,204}}</string>
                <key>sourceSize</key>
                <string>{139,204}</string>
            </dict>
            <key>map1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{227,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,201}}</string>
                <key>sourceSize</key>
                <string>{227,201}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map1_spritesheet_2.png</string>
            <key>size</key>
            <string>{483,490}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:930b882b52f7ce713e68fb1988d3cdd7:3c176dc7fbea80d8d99ef2dc10724b6e:086bc121b1c3d5d0148a3baecefa5cc9$</string>
            <key>textureFileName</key>
            <string>map1_spritesheet_2.png</string>
        </dict>
    </dict>
</plist>
