<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>map1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{417,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{417,54}}</string>
                <key>sourceSize</key>
                <string>{417,54}</string>
            </dict>
            <key>map1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{441,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{441,48}}</string>
                <key>sourceSize</key>
                <string>{441,48}</string>
            </dict>
            <key>map1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,302},{240,123}}</string>
                <key>offset</key>
                <string>{0.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,123}}</string>
                <key>sourceSize</key>
                <string>{239,123}</string>
            </dict>
            <key>map1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,138},{163,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,135}}</string>
                <key>sourceSize</key>
                <string>{163,135}</string>
            </dict>
            <key>map1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,52},{206,84}}</string>
                <key>offset</key>
                <string>{0.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,84}}</string>
                <key>sourceSize</key>
                <string>{205,84}</string>
            </dict>
            <key>map1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,52},{248,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,230}}</string>
                <key>sourceSize</key>
                <string>{248,230}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map1_spritesheet_3.png</string>
            <key>size</key>
            <string>{501,427}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:28de5229f9de19ab5a6288e1b7261043:44993a29b0689c7a6f2dd7667953bb87:8c36fe64569c8312ddf89e0c9c7af1d6$</string>
            <key>textureFileName</key>
            <string>map1_spritesheet_3.png</string>
        </dict>
    </dict>
</plist>
