<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pig_attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,45},{32,41}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{32,41}}</string>
                <key>sourceSize</key>
                <string>{44,57}</string>
            </dict>
            <key>pig_attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,2},{35,41}}</string>
                <key>offset</key>
                <string>{-3.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{35,41}}</string>
                <key>sourceSize</key>
                <string>{44,57}</string>
            </dict>
            <key>pig_attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,46},{35,41}}</string>
                <key>offset</key>
                <string>{-3.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{35,41}}</string>
                <key>sourceSize</key>
                <string>{44,57}</string>
            </dict>
            <key>pig_attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,2},{36,42}}</string>
                <key>offset</key>
                <string>{-4,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{36,42}}</string>
                <key>sourceSize</key>
                <string>{44,57}</string>
            </dict>
            <key>pig_attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{36,44}}</string>
                <key>offset</key>
                <string>{-4,-1.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{36,44}}</string>
                <key>sourceSize</key>
                <string>{44,57}</string>
            </dict>
            <key>pig_attack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{32,41}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{32,41}}</string>
                <key>sourceSize</key>
                <string>{44,57}</string>
            </dict>
            <key>pig_fall_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{31,43}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{31,43}}</string>
                <key>sourceSize</key>
                <string>{35,43}</string>
            </dict>
            <key>pig_fall_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,47},{31,43}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{31,43}}</string>
                <key>sourceSize</key>
                <string>{35,43}</string>
            </dict>
            <key>pig_fall_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,2},{31,43}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{31,43}}</string>
                <key>sourceSize</key>
                <string>{35,43}</string>
            </dict>
            <key>pig_fall_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,47},{31,43}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{31,43}}</string>
                <key>sourceSize</key>
                <string>{35,43}</string>
            </dict>
            <key>pig_fall_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{31,43}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{31,43}}</string>
                <key>sourceSize</key>
                <string>{35,43}</string>
            </dict>
            <key>pig_fall_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,47},{31,43}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{31,43}}</string>
                <key>sourceSize</key>
                <string>{35,43}</string>
            </dict>
            <key>pig_fly_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,2},{22,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{22,41}}</string>
                <key>sourceSize</key>
                <string>{26,43}</string>
            </dict>
            <key>pig_fly_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{22,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{22,41}}</string>
                <key>sourceSize</key>
                <string>{26,43}</string>
            </dict>
            <key>pig_fly_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,92},{22,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{22,41}}</string>
                <key>sourceSize</key>
                <string>{26,43}</string>
            </dict>
            <key>pig_fly_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,92},{22,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{22,41}}</string>
                <key>sourceSize</key>
                <string>{26,43}</string>
            </dict>
            <key>pig_fly_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,92},{22,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{22,41}}</string>
                <key>sourceSize</key>
                <string>{26,43}</string>
            </dict>
            <key>pig_fly_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,92},{22,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{22,41}}</string>
                <key>sourceSize</key>
                <string>{26,43}</string>
            </dict>
            <key>pig_fly_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,92},{22,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{22,41}}</string>
                <key>sourceSize</key>
                <string>{26,43}</string>
            </dict>
            <key>pig_idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,2},{31,43}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{31,43}}</string>
                <key>sourceSize</key>
                <string>{41,45}</string>
            </dict>
            <key>pig_idle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,47},{31,43}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{31,43}}</string>
                <key>sourceSize</key>
                <string>{41,45}</string>
            </dict>
            <key>pig_idle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,47},{32,43}}</string>
                <key>offset</key>
                <string>{-1.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{32,43}}</string>
                <key>sourceSize</key>
                <string>{41,45}</string>
            </dict>
            <key>pig_idle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,46},{32,42}}</string>
                <key>offset</key>
                <string>{-1.5,0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{32,42}}</string>
                <key>sourceSize</key>
                <string>{41,45}</string>
            </dict>
            <key>pig_idle_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,2},{32,43}}</string>
                <key>offset</key>
                <string>{-1.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{32,43}}</string>
                <key>sourceSize</key>
                <string>{41,45}</string>
            </dict>
            <key>pig_idle_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,48},{32,43}}</string>
                <key>offset</key>
                <string>{-1.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{32,43}}</string>
                <key>sourceSize</key>
                <string>{41,45}</string>
            </dict>
            <key>pig_idle_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,48},{32,43}}</string>
                <key>offset</key>
                <string>{-1.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{32,43}}</string>
                <key>sourceSize</key>
                <string>{41,45}</string>
            </dict>
            <key>pig_idle_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{31,43}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{31,43}}</string>
                <key>sourceSize</key>
                <string>{41,45}</string>
            </dict>
            <key>pig_jump_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,87},{22,40}}</string>
                <key>offset</key>
                <string>{1.5,-0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{22,40}}</string>
                <key>sourceSize</key>
                <string>{31,39}</string>
            </dict>
            <key>pig_jump_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,88},{23,39}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{23,39}}</string>
                <key>sourceSize</key>
                <string>{31,39}</string>
            </dict>
            <key>pig_jump_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,44},{22,40}}</string>
                <key>offset</key>
                <string>{1.5,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{22,40}}</string>
                <key>sourceSize</key>
                <string>{31,39}</string>
            </dict>
            <key>pig_run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,45},{34,40}}</string>
                <key>offset</key>
                <string>{-3.5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{34,40}}</string>
                <key>sourceSize</key>
                <string>{41,52}</string>
            </dict>
            <key>pig_run_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{33,40}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{33,40}}</string>
                <key>sourceSize</key>
                <string>{41,52}</string>
            </dict>
            <key>pig_run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,46},{32,42}}</string>
                <key>offset</key>
                <string>{-3.5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{32,42}}</string>
                <key>sourceSize</key>
                <string>{41,52}</string>
            </dict>
            <key>pig_run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,47},{27,43}}</string>
                <key>offset</key>
                <string>{-3,0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{27,43}}</string>
                <key>sourceSize</key>
                <string>{41,52}</string>
            </dict>
            <key>pig_run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,90},{24,41}}</string>
                <key>offset</key>
                <string>{-1.5,2.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{24,41}}</string>
                <key>sourceSize</key>
                <string>{41,52}</string>
            </dict>
            <key>pig_run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,88},{23,40}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,3},{23,40}}</string>
                <key>sourceSize</key>
                <string>{41,52}</string>
            </dict>
            <key>pig_run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,90},{23,41}}</string>
                <key>offset</key>
                <string>{-1,2.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,3},{23,41}}</string>
                <key>sourceSize</key>
                <string>{41,52}</string>
            </dict>
            <key>pig_run_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,2},{24,43}}</string>
                <key>offset</key>
                <string>{-1.5,1.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{24,43}}</string>
                <key>sourceSize</key>
                <string>{41,52}</string>
            </dict>
            <key>pig_run_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,2},{30,42}}</string>
                <key>offset</key>
                <string>{-2.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{30,42}}</string>
                <key>sourceSize</key>
                <string>{41,52}</string>
            </dict>
            <key>pig_run_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,45},{32,41}}</string>
                <key>offset</key>
                <string>{-3.5,2.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{32,41}}</string>
                <key>sourceSize</key>
                <string>{41,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pig_animation.png</string>
            <key>size</key>
            <string>{499,116}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f01e884a9f2ff66a9e02f9d9d97385a:7a7d8795e05595d36118977d9e7ca5c4:510042cc6972e9dc1def481605373677$</string>
            <key>textureFileName</key>
            <string>pig_animation.png</string>
        </dict>
    </dict>
</plist>
