<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>maincrystal_broken_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1440},{48,77}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,26},{48,77}}</string>
                <key>sourceSize</key>
                <string>{150,107}</string>
            </dict>
            <key>maincrystal_broken_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,889},{112,87}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,20},{112,87}}</string>
                <key>sourceSize</key>
                <string>{150,107}</string>
            </dict>
            <key>maincrystal_broken_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,301},{120,93}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{120,93}}</string>
                <key>sourceSize</key>
                <string>{150,107}</string>
            </dict>
            <key>maincrystal_broken_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{120,93}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{120,93}}</string>
                <key>sourceSize</key>
                <string>{150,107}</string>
            </dict>
            <key>maincrystal_broken_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,695},{110,93}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,14},{110,93}}</string>
                <key>sourceSize</key>
                <string>{150,107}</string>
            </dict>
            <key>maincrystal_broken_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,600},{110,93}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,14},{110,93}}</string>
                <key>sourceSize</key>
                <string>{150,107}</string>
            </dict>
            <key>maincrystal_broken_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,111},{120,93}}</string>
                <key>offset</key>
                <string>{-9,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,14},{120,93}}</string>
                <key>sourceSize</key>
                <string>{150,107}</string>
            </dict>
            <key>maincrystal_broken_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,1361},{48,77}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,26},{48,77}}</string>
                <key>sourceSize</key>
                <string>{150,107}</string>
            </dict>
            <key>maincrystal_broken_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,1282},{48,77}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,26},{48,77}}</string>
                <key>sourceSize</key>
                <string>{150,107}</string>
            </dict>
            <key>maincrystal_broken_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1329},{60,87}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,18},{60,87}}</string>
                <key>sourceSize</key>
                <string>{150,107}</string>
            </dict>
            <key>maincrystal_broken_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,978},{98,97}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,9},{98,97}}</string>
                <key>sourceSize</key>
                <string>{150,107}</string>
            </dict>
            <key>maincrystal_broken_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{108,103}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,3},{108,103}}</string>
                <key>sourceSize</key>
                <string>{150,107}</string>
            </dict>
            <key>maincrystal_broken_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,107}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{112,107}}</string>
                <key>sourceSize</key>
                <string>{150,107}</string>
            </dict>
            <key>maincrystal_broken_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,790},{104,97}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,10},{104,97}}</string>
                <key>sourceSize</key>
                <string>{150,107}</string>
            </dict>
            <key>maincrystal_broken_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,501},{110,97}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,10},{110,97}}</string>
                <key>sourceSize</key>
                <string>{150,107}</string>
            </dict>
            <key>maincrystal_idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,1203},{48,77}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,26},{48,77}}</string>
                <key>sourceSize</key>
                <string>{150,107}</string>
            </dict>
            <key>tower1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1203},{72,124}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{72,124}}</string>
                <key>sourceSize</key>
                <string>{76,124}</string>
            </dict>
            <key>tower2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1077},{76,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{76,124}}</string>
                <key>sourceSize</key>
                <string>{78,124}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tower_spritesheet.png</string>
            <key>size</key>
            <string>{126,1490}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c778f7ceb7f94cf79896fa6fc3345ed4:12ee80278077cd158f6870514d21b142:4f8d11a3cd0013c51cb37921916f0ce4$</string>
            <key>textureFileName</key>
            <string>tower_spritesheet.png</string>
        </dict>
    </dict>
</plist>
