<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>clock.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,103},{40,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,18}}</string>
                <key>sourceSize</key>
                <string>{40,18}</string>
            </dict>
            <key>clock2.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,103},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>defense_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,91},{66,10}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,10}}</string>
                <key>sourceSize</key>
                <string>{68,10}</string>
            </dict>
            <key>failed_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,103},{94,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,18}}</string>
                <key>sourceSize</key>
                <string>{94,18}</string>
            </dict>
            <key>gameover_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,2},{94,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,19}}</string>
                <key>sourceSize</key>
                <string>{94,19}</string>
            </dict>
            <key>invisible_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,80},{80,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{80,9}}</string>
                <key>sourceSize</key>
                <string>{80,13}</string>
            </dict>
            <key>panel_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{239,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,76}}</string>
                <key>sourceSize</key>
                <string>{239,76}</string>
            </dict>
            <key>panel_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,2},{124,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,87}}</string>
                <key>sourceSize</key>
                <string>{124,87}</string>
            </dict>
            <key>panel_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{144,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,37}}</string>
                <key>sourceSize</key>
                <string>{144,37}</string>
            </dict>
            <key>panel_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,2},{99,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,46}}</string>
                <key>sourceSize</key>
                <string>{99,46}</string>
            </dict>
            <key>panel_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,2},{118,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,78}}</string>
                <key>sourceSize</key>
                <string>{118,78}</string>
            </dict>
            <key>pause_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,103},{94,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,18}}</string>
                <key>sourceSize</key>
                <string>{94,18}</string>
            </dict>
            <key>powerup_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,110},{75,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{75,11}}</string>
                <key>sourceSize</key>
                <string>{75,13}</string>
            </dict>
            <key>speedup_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,91},{38,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{38,9}}</string>
                <key>sourceSize</key>
                <string>{40,11}</string>
            </dict>
            <key>victory_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,82},{80,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,26}}</string>
                <key>sourceSize</key>
                <string>{80,26}</string>
            </dict>
            <key>willbeback.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,82},{39,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{39,31}}</string>
                <key>sourceSize</key>
                <string>{39,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_spritesheet_1.png</string>
            <key>size</key>
            <string>{561,123}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa47854c7dc42168aae7247d586888b7:c959238ba5687e291de4cf8482291d8d:7e2651e8f9fd92b59440bf40731e0ab0$</string>
            <key>textureFileName</key>
            <string>ui_spritesheet_1.png</string>
        </dict>
    </dict>
</plist>
