<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button_back_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,642},{56,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,16}}</string>
                <key>sourceSize</key>
                <string>{56,16}</string>
            </dict>
            <key>button_back_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,642},{56,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,16}}</string>
                <key>sourceSize</key>
                <string>{56,16}</string>
            </dict>
            <key>map1_icon_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,561},{67,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,77}}</string>
                <key>sourceSize</key>
                <string>{67,77}</string>
            </dict>
            <key>map1_icon_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,482},{67,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,77}}</string>
                <key>sourceSize</key>
                <string>{67,77}</string>
            </dict>
            <key>map_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,403},{67,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,77}}</string>
                <key>sourceSize</key>
                <string>{67,77}</string>
            </dict>
            <key>map_lock_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,324},{67,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,77}}</string>
                <key>sourceSize</key>
                <string>{67,77}</string>
            </dict>
            <key>panel_1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{271,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,85}}</string>
                <key>sourceSize</key>
                <string>{271,85}</string>
            </dict>
            <key>panel_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{320,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,180}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>panel_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,597},{109,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,43}}</string>
                <key>sourceSize</key>
                <string>{109,43}</string>
            </dict>
            <key>pause_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,640},{43,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,13}}</string>
                <key>sourceSize</key>
                <string>{43,13}</string>
            </dict>
            <key>quit_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,384},{58,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,21}}</string>
                <key>sourceSize</key>
                <string>{58,21}</string>
            </dict>
            <key>quit_button_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,324},{58,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,21}}</string>
                <key>sourceSize</key>
                <string>{58,21}</string>
            </dict>
            <key>resume_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,503},{57,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,21}}</string>
                <key>sourceSize</key>
                <string>{57,21}</string>
            </dict>
            <key>resume_button_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,444},{57,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,21}}</string>
                <key>sourceSize</key>
                <string>{57,21}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_spritesheet_2.png</string>
            <key>size</key>
            <string>{184,660}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:872215747c07445837d7f3b893fa887a:c38c76d946a2974f155ca1d670205123:a0c0c96cf91d49b4a4c7fa46bea5e606$</string>
            <key>textureFileName</key>
            <string>ui_spritesheet_2.png</string>
        </dict>
    </dict>
</plist>
