<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>magic_fire_pillar_end_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,2},{146,418}}</string>
                <key>offset</key>
                <string>{-10,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,98},{146,418}}</string>
                <key>sourceSize</key>
                <string>{200,520}</string>
            </dict>
            <key>magic_fire_pillar_end_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,160},{156,458}}</string>
                <key>offset</key>
                <string>{-1,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,57},{156,458}}</string>
                <key>sourceSize</key>
                <string>{200,520}</string>
            </dict>
            <key>magic_fire_pillar_end_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{156,470}}</string>
                <key>offset</key>
                <string>{-8,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,38},{156,470}}</string>
                <key>sourceSize</key>
                <string>{200,520}</string>
            </dict>
            <key>magic_fire_pillar_end_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,318},{136,246}}</string>
                <key>offset</key>
                <string>{-2,-129}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,266},{136,246}}</string>
                <key>sourceSize</key>
                <string>{200,520}</string>
            </dict>
            <key>magic_fire_pillar_end_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{172,490}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,22},{172,490}}</string>
                <key>sourceSize</key>
                <string>{200,520}</string>
            </dict>
            <key>magic_fire_pillar_end_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,318},{126,302}}</string>
                <key>offset</key>
                <string>{-16,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,172},{126,302}}</string>
                <key>sourceSize</key>
                <string>{200,520}</string>
            </dict>
            <key>magic_fire_pillar_end_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{144,374}}</string>
                <key>offset</key>
                <string>{2,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,140},{144,374}}</string>
                <key>sourceSize</key>
                <string>{200,520}</string>
            </dict>
            <key>magic_fire_pillar_end_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{140,488}}</string>
                <key>offset</key>
                <string>{-3,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,29},{140,488}}</string>
                <key>sourceSize</key>
                <string>{200,520}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>magic_firepillar_spritesheet.pvr.ccz</string>
            <key>size</key>
            <string>{1138,464}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:41ce2dc3a70b74f67b04a3ec0159d1d0:03c75086218ab5e5555abb88a96d854f:43620841e439e5f18a51bf279398869c$</string>
            <key>textureFileName</key>
            <string>magic_firepillar_spritesheet.pvr.ccz</string>
        </dict>
    </dict>
</plist>
