<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>magic_fireball_end_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1064,792},{168,144}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{168,144}}</string>
                <key>sourceSize</key>
                <string>{190,148}</string>
            </dict>
            <key>magic_fireball_end_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,932},{200,184}}</string>
                <key>offset</key>
                <string>{17,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{200,184}}</string>
                <key>sourceSize</key>
                <string>{230,214}</string>
            </dict>
            <key>magic_fireball_end_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,1160},{196,180}}</string>
                <key>offset</key>
                <string>{19,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,0},{196,180}}</string>
                <key>sourceSize</key>
                <string>{230,214}</string>
            </dict>
            <key>magic_fireball_end_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,1184},{216,224}}</string>
                <key>offset</key>
                <string>{28,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,0},{216,224}}</string>
                <key>sourceSize</key>
                <string>{272,304}</string>
            </dict>
            <key>magic_fireball_end_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,960},{216,224}}</string>
                <key>offset</key>
                <string>{28,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,0},{216,224}}</string>
                <key>sourceSize</key>
                <string>{272,304}</string>
            </dict>
            <key>magic_fireball_end_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,432},{232,248}}</string>
                <key>offset</key>
                <string>{35,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,0},{232,248}}</string>
                <key>sourceSize</key>
                <string>{298,356}</string>
            </dict>
            <key>magic_fireball_end_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,672},{228,252}}</string>
                <key>offset</key>
                <string>{37,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,0},{228,252}}</string>
                <key>sourceSize</key>
                <string>{298,356}</string>
            </dict>
            <key>magic_fireball_end_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,428},{224,260}}</string>
                <key>offset</key>
                <string>{34,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,0},{224,260}}</string>
                <key>sourceSize</key>
                <string>{292,378}</string>
            </dict>
            <key>magic_fireball_end_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,696},{224,256}}</string>
                <key>offset</key>
                <string>{34,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,0},{224,256}}</string>
                <key>sourceSize</key>
                <string>{292,378}</string>
            </dict>
            <key>magic_fireball_end_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,372},{232,256}}</string>
                <key>offset</key>
                <string>{36,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,0},{232,256}}</string>
                <key>sourceSize</key>
                <string>{304,382}</string>
            </dict>
            <key>magic_fireball_end_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,188},{232,256}}</string>
                <key>offset</key>
                <string>{36,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,0},{232,256}}</string>
                <key>sourceSize</key>
                <string>{304,382}</string>
            </dict>
            <key>magic_fireball_end_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1116,1772},{156,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,160}}</string>
                <key>sourceSize</key>
                <string>{156,160}</string>
            </dict>
            <key>magic_fireball_end_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,192},{232,276}}</string>
                <key>offset</key>
                <string>{37,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,0},{232,276}}</string>
                <key>sourceSize</key>
                <string>{302,388}</string>
            </dict>
            <key>magic_fireball_end_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,192},{232,276}}</string>
                <key>offset</key>
                <string>{37,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,0},{232,276}}</string>
                <key>sourceSize</key>
                <string>{302,388}</string>
            </dict>
            <key>magic_fireball_end_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,612},{204,268}}</string>
                <key>offset</key>
                <string>{46,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,0},{204,268}}</string>
                <key>sourceSize</key>
                <string>{296,402}</string>
            </dict>
            <key>magic_fireball_end_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,612},{204,268}}</string>
                <key>offset</key>
                <string>{46,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,0},{204,268}}</string>
                <key>sourceSize</key>
                <string>{296,402}</string>
            </dict>
            <key>magic_fireball_end_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,704},{188,260}}</string>
                <key>offset</key>
                <string>{42,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,0},{188,260}}</string>
                <key>sourceSize</key>
                <string>{272,390}</string>
            </dict>
            <key>magic_fireball_end_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,704},{188,260}}</string>
                <key>offset</key>
                <string>{42,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,0},{188,260}}</string>
                <key>sourceSize</key>
                <string>{272,390}</string>
            </dict>
            <key>magic_fireball_end_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,888},{180,264}}</string>
                <key>offset</key>
                <string>{42,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,0},{180,264}}</string>
                <key>sourceSize</key>
                <string>{264,396}</string>
            </dict>
            <key>magic_fireball_end_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,888},{180,264}}</string>
                <key>offset</key>
                <string>{42,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,0},{180,264}}</string>
                <key>sourceSize</key>
                <string>{264,396}</string>
            </dict>
            <key>magic_fireball_end_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,184},{32,152}}</string>
                <key>offset</key>
                <string>{-6,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,152}}</string>
                <key>sourceSize</key>
                <string>{44,176}</string>
            </dict>
            <key>magic_fireball_end_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,184},{32,152}}</string>
                <key>offset</key>
                <string>{-6,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,152}}</string>
                <key>sourceSize</key>
                <string>{44,176}</string>
            </dict>
            <key>magic_fireball_end_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,1540},{172,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,176}}</string>
                <key>sourceSize</key>
                <string>{172,176}</string>
            </dict>
            <key>magic_fireball_end_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,972},{188,192}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,192}}</string>
                <key>sourceSize</key>
                <string>{188,194}</string>
            </dict>
            <key>magic_fireball_end_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,1356},{176,180}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,180}}</string>
                <key>sourceSize</key>
                <string>{176,182}</string>
            </dict>
            <key>magic_fireball_end_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,1552},{164,168}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,168}}</string>
                <key>sourceSize</key>
                <string>{164,170}</string>
            </dict>
            <key>magic_fireball_end_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,1708},{164,164}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,164}}</string>
                <key>sourceSize</key>
                <string>{164,168}</string>
            </dict>
            <key>magic_fireball_end_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,1364},{184,172}}</string>
                <key>offset</key>
                <string>{11,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{184,172}}</string>
                <key>sourceSize</key>
                <string>{202,184}</string>
            </dict>
            <key>magic_fireball_end_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1420},{188,168}}</string>
                <key>offset</key>
                <string>{9,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{188,168}}</string>
                <key>sourceSize</key>
                <string>{202,184}</string>
            </dict>
            <key>magic_fireball_middle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,1168},{188,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,180}}</string>
                <key>sourceSize</key>
                <string>{188,180}</string>
            </dict>
            <key>magic_fireball_middle_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,1184},{188,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,180}}</string>
                <key>sourceSize</key>
                <string>{188,180}</string>
            </dict>
            <key>magic_fireball_middle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,1432},{180,164}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,164}}</string>
                <key>sourceSize</key>
                <string>{190,164}</string>
            </dict>
            <key>magic_fireball_middle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,1244},{180,148}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,148}}</string>
                <key>sourceSize</key>
                <string>{202,146}</string>
            </dict>
            <key>magic_fireball_middle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,372},{164,132}}</string>
                <key>offset</key>
                <string>{-13,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,132}}</string>
                <key>sourceSize</key>
                <string>{190,130}</string>
            </dict>
            <key>magic_fireball_middle_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,8},{156,112}}</string>
                <key>offset</key>
                <string>{-17,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,112}}</string>
                <key>sourceSize</key>
                <string>{190,112}</string>
            </dict>
            <key>magic_fireball_middle_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,468},{156,128}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,128}}</string>
                <key>sourceSize</key>
                <string>{174,126}</string>
            </dict>
            <key>magic_fireball_middle_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,1076},{160,140}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,140}}</string>
                <key>sourceSize</key>
                <string>{172,140}</string>
            </dict>
            <key>magic_fireball_middle_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,1724},{160,156}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,156}}</string>
                <key>sourceSize</key>
                <string>{160,154}</string>
            </dict>
            <key>magic_fireball_middle_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,1544},{176,168}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,168}}</string>
                <key>sourceSize</key>
                <string>{174,166}</string>
            </dict>
            <key>magic_fireball_start_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,1876},{144,148}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{144,148}}</string>
                <key>sourceSize</key>
                <string>{146,150}</string>
            </dict>
            <key>magic_fireball_start_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1116,420},{80,96}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,4},{80,96}}</string>
                <key>sourceSize</key>
                <string>{90,98}</string>
            </dict>
            <key>magic_fireball_start_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,1772},{60,84}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{60,84}}</string>
                <key>sourceSize</key>
                <string>{64,86}</string>
            </dict>
            <key>magic_fireball_start_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,1756},{80,84}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{80,84}}</string>
                <key>sourceSize</key>
                <string>{78,86}</string>
            </dict>
            <key>magic_fireball_start_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1116,192},{100,116}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,116}}</string>
                <key>sourceSize</key>
                <string>{100,132}</string>
            </dict>
            <key>magic_fireball_start_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,660},{124,124}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,124}}</string>
                <key>sourceSize</key>
                <string>{122,132}</string>
            </dict>
            <key>magic_fireball_start_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,1880},{144,144}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,144}}</string>
                <key>sourceSize</key>
                <string>{146,150}</string>
            </dict>
            <key>magic_fireball_start_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,1604},{168,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,160}}</string>
                <key>sourceSize</key>
                <string>{168,160}</string>
            </dict>
            <key>magic_fireball_start_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,1124},{188,180}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,180}}</string>
                <key>sourceSize</key>
                <string>{190,180}</string>
            </dict>
            <key>magic_fireball_start_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,1372},{176,172}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,172}}</string>
                <key>sourceSize</key>
                <string>{178,170}</string>
            </dict>
            <key>magic_fireball_start_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,1532},{168,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,160}}</string>
                <key>sourceSize</key>
                <string>{168,160}</string>
            </dict>
            <key>magic_fireball_start_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,1848},{140,152}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{140,152}}</string>
                <key>sourceSize</key>
                <string>{146,154}</string>
            </dict>
            <key>magic_fireball_start_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,1596},{156,152}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,152}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
            <key>magic_fireball_start_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,1880},{144,156}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,156}}</string>
                <key>sourceSize</key>
                <string>{146,172}</string>
            </dict>
            <key>magic_fireball_start_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,544},{132,152}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,152}}</string>
                <key>sourceSize</key>
                <string>{134,172}</string>
            </dict>
            <key>magic_fireball_start_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,312},{124,148}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,148}}</string>
                <key>sourceSize</key>
                <string>{124,174}</string>
            </dict>
            <key>magic_fireball_start_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,508},{124,144}}</string>
                <key>offset</key>
                <string>{6,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{124,144}}</string>
                <key>sourceSize</key>
                <string>{136,176}</string>
            </dict>
            <key>magic_fireball_start_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,1880},{128,132}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{128,132}}</string>
                <key>sourceSize</key>
                <string>{132,144}</string>
            </dict>
            <key>magic_fireball_start_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,1720},{140,136}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{140,136}}</string>
                <key>sourceSize</key>
                <string>{142,144}</string>
            </dict>
            <key>magic_fireball_start_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,404},{180,144}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{180,144}}</string>
                <key>sourceSize</key>
                <string>{208,144}</string>
            </dict>
            <key>magic_fireball_start_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,1188},{224,152}}</string>
                <key>offset</key>
                <string>{32,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,0},{224,152}}</string>
                <key>sourceSize</key>
                <string>{288,150}</string>
            </dict>
            <key>magic_fireball_start_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,912},{268,160}}</string>
                <key>offset</key>
                <string>{49,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,0},{268,160}}</string>
                <key>sourceSize</key>
                <string>{362,160}</string>
            </dict>
            <key>magic_fireball_start_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,1720},{136,148}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{136,148}}</string>
                <key>sourceSize</key>
                <string>{136,158}</string>
            </dict>
            <key>magic_fireball_start_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,592},{312,172}}</string>
                <key>offset</key>
                <string>{67,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,0},{312,172}}</string>
                <key>sourceSize</key>
                <string>{442,170}</string>
            </dict>
            <key>magic_fireball_start_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,184},{360,180}}</string>
                <key>offset</key>
                <string>{82,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,0},{360,180}}</string>
                <key>sourceSize</key>
                <string>{524,180}</string>
            </dict>
            <key>magic_fireball_start_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,8},{376,176}}</string>
                <key>offset</key>
                <string>{97,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,0},{376,176}}</string>
                <key>sourceSize</key>
                <string>{566,174}</string>
            </dict>
            <key>magic_fireball_start_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,8},{408,172}}</string>
                <key>offset</key>
                <string>{117,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,0},{408,172}}</string>
                <key>sourceSize</key>
                <string>{638,176}</string>
            </dict>
            <key>magic_fireball_start_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,8},{412,168}}</string>
                <key>offset</key>
                <string>{121,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,0},{412,168}}</string>
                <key>sourceSize</key>
                <string>{650,176}</string>
            </dict>
            <key>magic_fireball_start_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,1312},{212,152}}</string>
                <key>offset</key>
                <string>{26,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,0},{212,152}}</string>
                <key>sourceSize</key>
                <string>{264,152}</string>
            </dict>
            <key>magic_fireball_start_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,188},{208,144}}</string>
                <key>offset</key>
                <string>{28,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,0},{208,144}}</string>
                <key>sourceSize</key>
                <string>{264,144}</string>
            </dict>
            <key>magic_fireball_start_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,1876},{144,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,136}}</string>
                <key>sourceSize</key>
                <string>{144,136}</string>
            </dict>
            <key>magic_fireball_start_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,932},{136,132}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,132}}</string>
                <key>sourceSize</key>
                <string>{136,130}</string>
            </dict>
            <key>magic_fireball_start_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,1888},{128,128}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,134}</string>
            </dict>
            <key>magic_fireball_start_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,1720},{136,148}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{136,148}}</string>
                <key>sourceSize</key>
                <string>{136,158}</string>
            </dict>
            <key>magic_fireball_start_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,172},{120,132}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,132}}</string>
                <key>sourceSize</key>
                <string>{120,144}</string>
            </dict>
            <key>magic_fireball_start_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,1756},{112,128}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,128}}</string>
                <key>sourceSize</key>
                <string>{112,146}</string>
            </dict>
            <key>magic_fireball_start_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,632},{132,144}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,144}}</string>
                <key>sourceSize</key>
                <string>{132,160}</string>
            </dict>
            <key>magic_fireball_start_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,1596},{152,144}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,144}}</string>
                <key>sourceSize</key>
                <string>{150,144}</string>
            </dict>
            <key>magic_fireball_start_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,968},{208,164}}</string>
                <key>offset</key>
                <string>{-20,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,164}}</string>
                <key>sourceSize</key>
                <string>{248,162}</string>
            </dict>
            <key>magic_fireball_start_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,1408},{188,180}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,180}}</string>
                <key>sourceSize</key>
                <string>{190,180}</string>
            </dict>
            <key>magic_fireball_start_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,784},{132,140}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{132,140}}</string>
                <key>sourceSize</key>
                <string>{134,150}</string>
            </dict>
            <key>magic_fireball_start_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,784},{132,140}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{132,140}}</string>
                <key>sourceSize</key>
                <string>{134,150}</string>
            </dict>
            <key>magic_fireball_start_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,1748},{116,124}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{116,124}}</string>
                <key>sourceSize</key>
                <string>{118,128}</string>
            </dict>
            <key>magic_fireball_start_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,1748},{116,124}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{116,124}}</string>
                <key>sourceSize</key>
                <string>{118,128}</string>
            </dict>
            <key>magic_fireball_start_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1116,316},{96,96}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{96,96}}</string>
                <key>sourceSize</key>
                <string>{102,98}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>magic_fire_ball_spritesheet.png</string>
            <key>size</key>
            <string>{1356,2032}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4e046bfdc8e7fe9800ea6670bd5ad749:3006a9d109d90b550ae6721dd857dbfb:c8ebbad5b1223550e753ac54995f23c4$</string>
            <key>textureFileName</key>
            <string>magic_fire_ball_spritesheet.png</string>
        </dict>
    </dict>
</plist>
