<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>magic_mass_bomb_middle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1104,432},{188,84}}</string>
                <key>offset</key>
                <string>{6,-5.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,8},{188,84}}</string>
                <key>sourceSize</key>
                <string>{200,89}</string>
            </dict>
            <key>magic_mass_bomb_middle_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,1300},{200,160}}</string>
                <key>offset</key>
                <string>{-4,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,160}}</string>
                <key>sourceSize</key>
                <string>{208,226}</string>
            </dict>
            <key>magic_mass_bomb_middle_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,1072},{216,168}}</string>
                <key>offset</key>
                <string>{-4.5,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,168}}</string>
                <key>sourceSize</key>
                <string>{225,236}</string>
            </dict>
            <key>magic_mass_bomb_middle_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1560,956},{216,168}}</string>
                <key>offset</key>
                <string>{-4.5,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,168}}</string>
                <key>sourceSize</key>
                <string>{225,236}</string>
            </dict>
            <key>magic_mass_bomb_middle_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,816},{232,172}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,172}}</string>
                <key>sourceSize</key>
                <string>{232,242}</string>
            </dict>
            <key>magic_mass_bomb_middle_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,816},{232,172}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,172}}</string>
                <key>sourceSize</key>
                <string>{232,242}</string>
            </dict>
            <key>magic_mass_bomb_middle_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,1408},{244,168}}</string>
                <key>offset</key>
                <string>{0.5,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,168}}</string>
                <key>sourceSize</key>
                <string>{243,234}</string>
            </dict>
            <key>magic_mass_bomb_middle_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1600,776},{244,172}}</string>
                <key>offset</key>
                <string>{2.5,33.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{244,172}}</string>
                <key>sourceSize</key>
                <string>{247,239}</string>
            </dict>
            <key>magic_mass_bomb_middle_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1600,596},{244,172}}</string>
                <key>offset</key>
                <string>{2.5,33.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{244,172}}</string>
                <key>sourceSize</key>
                <string>{247,239}</string>
            </dict>
            <key>magic_mass_bomb_middle_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,672},{244,136}}</string>
                <key>offset</key>
                <string>{0.5,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,136}}</string>
                <key>sourceSize</key>
                <string>{243,254}</string>
            </dict>
            <key>magic_mass_bomb_middle_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,1536},{240,128}}</string>
                <key>offset</key>
                <string>{3,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{240,128}}</string>
                <key>sourceSize</key>
                <string>{242,262}</string>
            </dict>
            <key>magic_mass_bomb_middle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,1540},{176,124}}</string>
                <key>offset</key>
                <string>{-2,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,124}}</string>
                <key>sourceSize</key>
                <string>{180,162}</string>
            </dict>
            <key>magic_mass_bomb_middle_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1196,544},{248,120}}</string>
                <key>offset</key>
                <string>{1.5,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,120}}</string>
                <key>sourceSize</key>
                <string>{245,252}</string>
            </dict>
            <key>magic_mass_bomb_middle_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,1584},{244,80}}</string>
                <key>offset</key>
                <string>{1,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,80}}</string>
                <key>sourceSize</key>
                <string>{242,254}</string>
            </dict>
            <key>magic_mass_bomb_middle_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,1056},{232,68}}</string>
                <key>offset</key>
                <string>{1,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,68}}</string>
                <key>sourceSize</key>
                <string>{230,254}</string>
            </dict>
            <key>magic_mass_bomb_middle_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,1004},{220,60}}</string>
                <key>offset</key>
                <string>{1,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,60}}</string>
                <key>sourceSize</key>
                <string>{218,252}</string>
            </dict>
            <key>magic_mass_bomb_middle_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,1056},{228,64}}</string>
                <key>offset</key>
                <string>{0,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,64}}</string>
                <key>sourceSize</key>
                <string>{228,256}</string>
            </dict>
            <key>magic_mass_bomb_middle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,684},{164,144}}</string>
                <key>offset</key>
                <string>{1,23.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,144}}</string>
                <key>sourceSize</key>
                <string>{162,191}</string>
            </dict>
            <key>magic_mass_bomb_middle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1852,848},{148,148}}</string>
                <key>offset</key>
                <string>{-13.5,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,148}}</string>
                <key>sourceSize</key>
                <string>{175,206}</string>
            </dict>
            <key>magic_mass_bomb_middle_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,1128},{164,156}}</string>
                <key>offset</key>
                <string>{-10.5,31.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,156}}</string>
                <key>sourceSize</key>
                <string>{185,219}</string>
            </dict>
            <key>magic_mass_bomb_middle_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,1496},{164,156}}</string>
                <key>offset</key>
                <string>{-10.5,31.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,156}}</string>
                <key>sourceSize</key>
                <string>{185,219}</string>
            </dict>
            <key>magic_mass_bomb_middle_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,1300},{188,156}}</string>
                <key>offset</key>
                <string>{-7.5,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,156}}</string>
                <key>sourceSize</key>
                <string>{203,224}</string>
            </dict>
            <key>magic_mass_bomb_middle_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,1300},{188,156}}</string>
                <key>offset</key>
                <string>{-7.5,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,156}}</string>
                <key>sourceSize</key>
                <string>{203,224}</string>
            </dict>
            <key>magic_mass_bomb_middle_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,1132},{200,160}}</string>
                <key>offset</key>
                <string>{-4,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,160}}</string>
                <key>sourceSize</key>
                <string>{208,226}</string>
            </dict>
            <key>magic_mass_bomb_start_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,1540},{96,64}}</string>
                <key>offset</key>
                <string>{6.5,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{96,64}}</string>
                <key>sourceSize</key>
                <string>{107,90}</string>
            </dict>
            <key>magic_mass_bomb_start_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1700,1352},{96,92}}</string>
                <key>offset</key>
                <string>{1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,92}}</string>
                <key>sourceSize</key>
                <string>{94,122}</string>
            </dict>
            <key>magic_mass_bomb_start_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1832,1456},{96,96}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,120}</string>
            </dict>
            <key>magic_mass_bomb_start_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1728,1556},{96,96}}</string>
                <key>offset</key>
                <string>{3.5,10.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{97,117}</string>
            </dict>
            <key>magic_mass_bomb_start_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1624,1556},{96,96}}</string>
                <key>offset</key>
                <string>{2.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{99,115}</string>
            </dict>
            <key>magic_mass_bomb_start_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1444,1204},{96,92}}</string>
                <key>offset</key>
                <string>{5.5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{96,92}}</string>
                <key>sourceSize</key>
                <string>{101,112}</string>
            </dict>
            <key>magic_mass_bomb_start_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1728,1452},{96,96}}</string>
                <key>offset</key>
                <string>{4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{104,110}</string>
            </dict>
            <key>magic_mass_bomb_start_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1624,1452},{96,96}}</string>
                <key>offset</key>
                <string>{7,5.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{106,107}</string>
            </dict>
            <key>magic_mass_bomb_start_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1520,1548},{96,96}}</string>
                <key>offset</key>
                <string>{6.5,4.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{107,105}</string>
            </dict>
            <key>magic_mass_bomb_start_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1520,1444},{96,96}}</string>
                <key>offset</key>
                <string>{7,5.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{106,107}</string>
            </dict>
            <key>magic_mass_bomb_start_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1416,1512},{96,96}}</string>
                <key>offset</key>
                <string>{4,5.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{104,107}</string>
            </dict>
            <key>magic_mass_bomb_start_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,672},{128,120}}</string>
                <key>offset</key>
                <string>{-16.5,43.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,120}}</string>
                <key>sourceSize</key>
                <string>{161,207}</string>
            </dict>
            <key>magic_mass_bomb_start_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1340,1204},{96,92}}</string>
                <key>offset</key>
                <string>{5.5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{96,92}}</string>
                <key>sourceSize</key>
                <string>{101,108}</string>
            </dict>
            <key>magic_mass_bomb_start_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1312,1512},{96,96}}</string>
                <key>offset</key>
                <string>{5.5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{101,112}</string>
            </dict>
            <key>magic_mass_bomb_start_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1416,1408},{96,96}}</string>
                <key>offset</key>
                <string>{2.5,8.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{99,113}</string>
            </dict>
            <key>magic_mass_bomb_start_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1804,1352},{92,96}}</string>
                <key>offset</key>
                <string>{1.5,8.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{92,96}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>magic_mass_bomb_start_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1312,1408},{96,96}}</string>
                <key>offset</key>
                <string>{1,10.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{94,117}</string>
            </dict>
            <key>magic_mass_bomb_start_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1908,1352},{96,96}}</string>
                <key>offset</key>
                <string>{1,10.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{94,117}</string>
            </dict>
            <key>magic_mass_bomb_start_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1908,1248},{96,96}}</string>
                <key>offset</key>
                <string>{1,10.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{94,117}</string>
            </dict>
            <key>magic_mass_bomb_start_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1804,1248},{96,96}}</string>
                <key>offset</key>
                <string>{1,10.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{94,117}</string>
            </dict>
            <key>magic_mass_bomb_start_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1700,1248},{96,96}}</string>
                <key>offset</key>
                <string>{1,10.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{94,117}</string>
            </dict>
            <key>magic_mass_bomb_start_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1596,1340},{96,96}}</string>
                <key>offset</key>
                <string>{1,10.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{94,117}</string>
            </dict>
            <key>magic_mass_bomb_start_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,672},{128,120}}</string>
                <key>offset</key>
                <string>{-16.5,43.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,120}}</string>
                <key>sourceSize</key>
                <string>{161,207}</string>
            </dict>
            <key>magic_mass_bomb_start_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1596,1236},{96,96}}</string>
                <key>offset</key>
                <string>{1,10.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{94,117}</string>
            </dict>
            <key>magic_mass_bomb_start_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{1652,1132},{96,96}}</string>
                <key>offset</key>
                <string>{1,10.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{94,117}</string>
            </dict>
            <key>magic_mass_bomb_start_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{1548,1132},{96,96}}</string>
                <key>offset</key>
                <string>{1,10.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{94,117}</string>
            </dict>
            <key>magic_mass_bomb_start_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{1492,1304},{96,96}}</string>
                <key>offset</key>
                <string>{1,10.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{94,117}</string>
            </dict>
            <key>magic_mass_bomb_start_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,1304},{96,96}}</string>
                <key>offset</key>
                <string>{1,10.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{94,117}</string>
            </dict>
            <key>magic_mass_bomb_start_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{1452,544},{132,140}}</string>
                <key>offset</key>
                <string>{-8.5,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,140}}</string>
                <key>sourceSize</key>
                <string>{149,200}</string>
            </dict>
            <key>magic_mass_bomb_start_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,1508},{156,200}}</string>
                <key>offset</key>
                <string>{-21.5,48.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,200}}</string>
                <key>sourceSize</key>
                <string>{199,297}</string>
            </dict>
            <key>magic_mass_bomb_start_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,632},{176,264}}</string>
                <key>offset</key>
                <string>{-32.5,68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,264}}</string>
                <key>sourceSize</key>
                <string>{241,400}</string>
            </dict>
            <key>magic_mass_bomb_start_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,816},{188,232}}</string>
                <key>offset</key>
                <string>{-19,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,232}}</string>
                <key>sourceSize</key>
                <string>{226,348}</string>
            </dict>
            <key>magic_mass_bomb_start_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{1344,856},{196,208}}</string>
                <key>offset</key>
                <string>{-4,49.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,208}}</string>
                <key>sourceSize</key>
                <string>{204,307}</string>
            </dict>
            <key>magic_mass_bomb_start_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,1496},{144,148}}</string>
                <key>offset</key>
                <string>{-6,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,148}}</string>
                <key>sourceSize</key>
                <string>{156,198}</string>
            </dict>
            <key>magic_mass_bomb_start_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{1852,596},{244,148}}</string>
                <key>offset</key>
                <string>{21,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,0},{244,148}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>magic_mass_bomb_start_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,432},{292,192}}</string>
                <key>offset</key>
                <string>{10.5,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{292,192}}</string>
                <key>sourceSize</key>
                <string>{311,348}</string>
            </dict>
            <key>magic_mass_bomb_start_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,1064},{336,240}}</string>
                <key>offset</key>
                <string>{1,87.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,240}}</string>
                <key>sourceSize</key>
                <string>{334,415}</string>
            </dict>
            <key>magic_mass_bomb_start_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,8},{404,284}}</string>
                <key>offset</key>
                <string>{1.5,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,284}}</string>
                <key>sourceSize</key>
                <string>{401,482}</string>
            </dict>
            <key>magic_mass_bomb_start_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,300},{396,280}}</string>
                <key>offset</key>
                <string>{1,97.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,280}}</string>
                <key>sourceSize</key>
                <string>{394,475}</string>
            </dict>
            <key>magic_mass_bomb_start_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,8},{392,276}}</string>
                <key>offset</key>
                <string>{0.5,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{392,276}}</string>
                <key>sourceSize</key>
                <string>{391,472}</string>
            </dict>
            <key>magic_mass_bomb_start_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,588},{388,276}}</string>
                <key>offset</key>
                <string>{0.5,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,276}}</string>
                <key>sourceSize</key>
                <string>{387,468}</string>
            </dict>
            <key>magic_mass_bomb_start_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,8},{384,272}}</string>
                <key>offset</key>
                <string>{1.5,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,272}}</string>
                <key>sourceSize</key>
                <string>{381,462}</string>
            </dict>
            <key>magic_mass_bomb_start_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,872},{380,268}}</string>
                <key>offset</key>
                <string>{1.5,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,268}}</string>
                <key>sourceSize</key>
                <string>{377,458}</string>
            </dict>
            <key>magic_mass_bomb_start_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,8},{384,264}}</string>
                <key>offset</key>
                <string>{4.5,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{384,264}}</string>
                <key>sourceSize</key>
                <string>{391,452}</string>
            </dict>
            <key>magic_mass_bomb_start_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,1496},{144,148}}</string>
                <key>offset</key>
                <string>{-6,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,148}}</string>
                <key>sourceSize</key>
                <string>{156,198}</string>
            </dict>
            <key>magic_mass_bomb_start_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{1604,8},{380,260}}</string>
                <key>offset</key>
                <string>{6.5,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{380,260}}</string>
                <key>sourceSize</key>
                <string>{391,448}</string>
            </dict>
            <key>magic_mass_bomb_start_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,1148},{384,260}}</string>
                <key>offset</key>
                <string>{11.5,91.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{384,260}}</string>
                <key>sourceSize</key>
                <string>{401,443}</string>
            </dict>
            <key>magic_mass_bomb_start_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,1148},{380,252}}</string>
                <key>offset</key>
                <string>{13.5,91.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{380,252}}</string>
                <key>sourceSize</key>
                <string>{401,435}</string>
            </dict>
            <key>magic_mass_bomb_start_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,280},{380,256}}</string>
                <key>offset</key>
                <string>{16.5,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{380,256}}</string>
                <key>sourceSize</key>
                <string>{411,440}</string>
            </dict>
            <key>magic_mass_bomb_start_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,552},{376,252}}</string>
                <key>offset</key>
                <string>{18.5,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{376,252}}</string>
                <key>sourceSize</key>
                <string>{411,440}</string>
            </dict>
            <key>magic_mass_bomb_start_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,292},{376,252}}</string>
                <key>offset</key>
                <string>{18,92.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{376,252}}</string>
                <key>sourceSize</key>
                <string>{412,437}</string>
            </dict>
            <key>magic_mass_bomb_start_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,812},{376,244}}</string>
                <key>offset</key>
                <string>{18,96.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{376,244}}</string>
                <key>sourceSize</key>
                <string>{412,437}</string>
            </dict>
            <key>magic_mass_bomb_start_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{1604,276},{376,164}}</string>
                <key>offset</key>
                <string>{18,114.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{376,164}}</string>
                <key>sourceSize</key>
                <string>{412,393}</string>
            </dict>
            <key>magic_mass_bomb_start_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{1600,448},{376,140}}</string>
                <key>offset</key>
                <string>{18,130}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{376,140}}</string>
                <key>sourceSize</key>
                <string>{412,400}</string>
            </dict>
            <key>magic_mass_bomb_start_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,288},{376,136}}</string>
                <key>offset</key>
                <string>{18,132}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{376,136}}</string>
                <key>sourceSize</key>
                <string>{412,400}</string>
            </dict>
            <key>magic_mass_bomb_start_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,1128},{140,144}}</string>
                <key>offset</key>
                <string>{-5.5,20.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,144}}</string>
                <key>sourceSize</key>
                <string>{151,185}</string>
            </dict>
            <key>magic_mass_bomb_start_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{1988,276},{192,16}}</string>
                <key>offset</key>
                <string>{27.5,191}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,0},{192,16}}</string>
                <key>sourceSize</key>
                <string>{241,398}</string>
            </dict>
            <key>magic_mass_bomb_start_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1340,1060},{132,136}}</string>
                <key>offset</key>
                <string>{-7,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,136}}</string>
                <key>sourceSize</key>
                <string>{146,182}</string>
            </dict>
            <key>magic_mass_bomb_start_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1832,1560},{92,92}}</string>
                <key>offset</key>
                <string>{0,15.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,123}</string>
            </dict>
            <key>magic_mass_bomb_start_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,1304},{96,96}}</string>
                <key>offset</key>
                <string>{1,14.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{94,125}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>magic_mass_bomb_spritesheet_1.png</string>
            <key>size</key>
            <string>{2012,1672}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1540f850240465cf82bd9739e1345501:6ae4c29888a3c44be6616a4497aa2005:9b6db8c9a9f099b0f4907e81c7593ef8$</string>
            <key>textureFileName</key>
            <string>magic_mass_bomb_spritesheet_1.png</string>
        </dict>
    </dict>
</plist>
