<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>magic_bomb_end_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{314,330}}</string>
                <key>offset</key>
                <string>{16,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,12},{314,330}}</string>
                <key>sourceSize</key>
                <string>{370,384}</string>
            </dict>
            <key>magic_bomb_end_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,894},{228,266}}</string>
                <key>offset</key>
                <string>{110,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,4},{228,266}}</string>
                <key>sourceSize</key>
                <string>{474,376}</string>
            </dict>
            <key>magic_bomb_end_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,898},{232,182}}</string>
                <key>offset</key>
                <string>{107,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,9},{232,182}}</string>
                <key>sourceSize</key>
                <string>{456,384}</string>
            </dict>
            <key>magic_bomb_end_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,612},{274,284}}</string>
                <key>offset</key>
                <string>{68,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,19},{274,284}}</string>
                <key>sourceSize</key>
                <string>{424,308}</string>
            </dict>
            <key>magic_bomb_end_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,304},{308,288}}</string>
                <key>offset</key>
                <string>{53,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,15},{308,288}}</string>
                <key>sourceSize</key>
                <string>{428,312}</string>
            </dict>
            <key>magic_bomb_end_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,612},{280,296}}</string>
                <key>offset</key>
                <string>{87,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,27},{280,296}}</string>
                <key>sourceSize</key>
                <string>{464,334}</string>
            </dict>
            <key>magic_bomb_end_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{334,300}}</string>
                <key>offset</key>
                <string>{118,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,17},{334,300}}</string>
                <key>sourceSize</key>
                <string>{574,320}</string>
            </dict>
            <key>magic_bomb_end_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,690},{334,304}}</string>
                <key>offset</key>
                <string>{123,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{247,4},{334,304}}</string>
                <key>sourceSize</key>
                <string>{582,326}</string>
            </dict>
            <key>magic_bomb_end_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{336,318}}</string>
                <key>offset</key>
                <string>{120,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,5},{336,318}}</string>
                <key>sourceSize</key>
                <string>{582,342}</string>
            </dict>
            <key>magic_bomb_end_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{324,348}}</string>
                <key>offset</key>
                <string>{118,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,1},{324,348}}</string>
                <key>sourceSize</key>
                <string>{568,384}</string>
            </dict>
            <key>magic_bomb_end_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,334},{276,302}}</string>
                <key>offset</key>
                <string>{94,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,4},{276,302}}</string>
                <key>sourceSize</key>
                <string>{474,376}</string>
            </dict>
            <key>magic_bomb_middle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,864},{86,68}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,68}}</string>
                <key>sourceSize</key>
                <string>{106,68}</string>
            </dict>
            <key>magic_bomb_middle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,794},{106,68}}</string>
                <key>offset</key>
                <string>{-20,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{106,68}}</string>
                <key>sourceSize</key>
                <string>{150,68}</string>
            </dict>
            <key>magic_bomb_middle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1026},{128,68}}</string>
                <key>offset</key>
                <string>{-30,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,68}}</string>
                <key>sourceSize</key>
                <string>{188,68}</string>
            </dict>
            <key>magic_bomb_middle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,1034},{120,68}}</string>
                <key>offset</key>
                <string>{-27,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,68}}</string>
                <key>sourceSize</key>
                <string>{174,68}</string>
            </dict>
            <key>magic_bomb_middle_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,1026},{124,68}}</string>
                <key>offset</key>
                <string>{-29,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,68}}</string>
                <key>sourceSize</key>
                <string>{184,68}</string>
            </dict>
            <key>magic_bomb_middle_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,724},{116,68}}</string>
                <key>offset</key>
                <string>{-25,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,68}}</string>
                <key>sourceSize</key>
                <string>{166,68}</string>
            </dict>
            <key>magic_bomb_start_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1096},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>magic_bomb_start_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,1032},{84,68}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,7},{84,68}}</string>
                <key>sourceSize</key>
                <string>{96,82}</string>
            </dict>
            <key>magic_bomb_start_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,934},{96,66}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{96,66}}</string>
                <key>sourceSize</key>
                <string>{106,80}</string>
            </dict>
            <key>magic_bomb_start_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,2},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>magic_bomb_start_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,1082},{36,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>magic_bomb_start_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,1026},{48,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>magic_bomb_start_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,416},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>magic_bomb_start_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,370},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>magic_bomb_start_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,304},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>magic_bomb_start_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,898},{120,134}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,14},{120,134}}</string>
                <key>sourceSize</key>
                <string>{136,148}</string>
            </dict>
            <key>magic_bomb_start_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,594},{118,128}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{118,128}}</string>
                <key>sourceSize</key>
                <string>{122,138}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>magic_bomb_spritesheet.pvr.ccz</string>
            <key>size</key>
            <string>{1020,1125}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:93948e4b63bc9bd493def382fe0b3d4c:3db8268fc9f2a3f9f2aeb52f04b9c8bd:1945b5bba6b846cd3b11b71563233708$</string>
            <key>textureFileName</key>
            <string>magic_bomb_spritesheet.pvr.ccz</string>
        </dict>
    </dict>
</plist>
