<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>magic_bomb_end_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,664},{316,332}}</string>
                <key>offset</key>
                <string>{17,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,12},{316,332}}</string>
                <key>sourceSize</key>
                <string>{370,384}</string>
            </dict>
            <key>magic_bomb_end_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,1076},{340,316}}</string>
                <key>offset</key>
                <string>{123,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,4},{340,316}}</string>
                <key>sourceSize</key>
                <string>{582,326}</string>
            </dict>
            <key>magic_bomb_end_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,348},{340,304}}</string>
                <key>offset</key>
                <string>{123,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,4},{340,304}}</string>
                <key>sourceSize</key>
                <string>{582,326}</string>
            </dict>
            <key>magic_bomb_end_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,728},{340,320}}</string>
                <key>offset</key>
                <string>{119,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,4},{340,320}}</string>
                <key>sourceSize</key>
                <string>{582,342}</string>
            </dict>
            <key>magic_bomb_end_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,728},{340,320}}</string>
                <key>offset</key>
                <string>{119,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,4},{340,320}}</string>
                <key>sourceSize</key>
                <string>{582,342}</string>
            </dict>
            <key>magic_bomb_end_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,8},{336,336}}</string>
                <key>offset</key>
                <string>{121,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,0},{336,336}}</string>
                <key>sourceSize</key>
                <string>{582,366}</string>
            </dict>
            <key>magic_bomb_end_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,8},{336,336}}</string>
                <key>offset</key>
                <string>{121,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,0},{336,336}}</string>
                <key>sourceSize</key>
                <string>{582,366}</string>
            </dict>
            <key>magic_bomb_end_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,8},{328,352}}</string>
                <key>offset</key>
                <string>{117,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,0},{328,352}}</string>
                <key>sourceSize</key>
                <string>{566,384}</string>
            </dict>
            <key>magic_bomb_end_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,368},{324,352}}</string>
                <key>offset</key>
                <string>{118,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,0},{324,352}}</string>
                <key>sourceSize</key>
                <string>{568,384}</string>
            </dict>
            <key>magic_bomb_end_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,1424},{312,340}}</string>
                <key>offset</key>
                <string>{113,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,0},{312,340}}</string>
                <key>sourceSize</key>
                <string>{550,384}</string>
            </dict>
            <key>magic_bomb_end_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,1424},{312,340}}</string>
                <key>offset</key>
                <string>{113,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,0},{312,340}}</string>
                <key>sourceSize</key>
                <string>{550,384}</string>
            </dict>
            <key>magic_bomb_end_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1276},{300,288}}</string>
                <key>offset</key>
                <string>{45,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,8},{300,288}}</string>
                <key>sourceSize</key>
                <string>{394,300}</string>
            </dict>
            <key>magic_bomb_end_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,1272},{280,304}}</string>
                <key>offset</key>
                <string>{95,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,4},{280,304}}</string>
                <key>sourceSize</key>
                <string>{474,376}</string>
            </dict>
            <key>magic_bomb_end_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,1272},{280,304}}</string>
                <key>offset</key>
                <string>{95,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,4},{280,304}}</string>
                <key>sourceSize</key>
                <string>{474,376}</string>
            </dict>
            <key>magic_bomb_end_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,988},{280,304}}</string>
                <key>offset</key>
                <string>{91,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,4},{280,304}}</string>
                <key>sourceSize</key>
                <string>{474,376}</string>
            </dict>
            <key>magic_bomb_end_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,988},{280,304}}</string>
                <key>offset</key>
                <string>{91,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,4},{280,304}}</string>
                <key>sourceSize</key>
                <string>{474,376}</string>
            </dict>
            <key>magic_bomb_end_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,1772},{232,268}}</string>
                <key>offset</key>
                <string>{111,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,4},{232,268}}</string>
                <key>sourceSize</key>
                <string>{474,376}</string>
            </dict>
            <key>magic_bomb_end_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,1772},{232,268}}</string>
                <key>offset</key>
                <string>{111,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,4},{232,268}}</string>
                <key>sourceSize</key>
                <string>{474,376}</string>
            </dict>
            <key>magic_bomb_end_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,8},{236,184}}</string>
                <key>offset</key>
                <string>{106,92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,8},{236,184}}</string>
                <key>sourceSize</key>
                <string>{456,384}</string>
            </dict>
            <key>magic_bomb_end_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,8},{236,184}}</string>
                <key>offset</key>
                <string>{106,92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,8},{236,184}}</string>
                <key>sourceSize</key>
                <string>{456,384}</string>
            </dict>
            <key>magic_bomb_end_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,252},{156,96}}</string>
                <key>offset</key>
                <string>{72,136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,8},{156,96}}</string>
                <key>sourceSize</key>
                <string>{316,384}</string>
            </dict>
            <key>magic_bomb_end_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,252},{156,96}}</string>
                <key>offset</key>
                <string>{72,136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,8},{156,96}}</string>
                <key>sourceSize</key>
                <string>{316,384}</string>
            </dict>
            <key>magic_bomb_end_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,1572},{280,288}}</string>
                <key>offset</key>
                <string>{68,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,16},{280,288}}</string>
                <key>sourceSize</key>
                <string>{424,308}</string>
            </dict>
            <key>magic_bomb_end_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,1316},{48,24}}</string>
                <key>offset</key>
                <string>{43,168}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,12},{48,24}}</string>
                <key>sourceSize</key>
                <string>{138,384}</string>
            </dict>
            <key>magic_bomb_end_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,1316},{48,24}}</string>
                <key>offset</key>
                <string>{43,168}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,12},{48,24}}</string>
                <key>sourceSize</key>
                <string>{138,384}</string>
            </dict>
            <key>magic_bomb_end_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,972},{312,292}}</string>
                <key>offset</key>
                <string>{54,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,12},{312,292}}</string>
                <key>sourceSize</key>
                <string>{428,312}</string>
            </dict>
            <key>magic_bomb_end_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,8},{344,332}}</string>
                <key>offset</key>
                <string>{37,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,8},{344,332}}</string>
                <key>sourceSize</key>
                <string>{430,384}</string>
            </dict>
            <key>magic_bomb_end_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,1572},{284,300}}</string>
                <key>offset</key>
                <string>{86,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,24},{284,300}}</string>
                <key>sourceSize</key>
                <string>{464,334}</string>
            </dict>
            <key>magic_bomb_end_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,1560},{284,300}}</string>
                <key>offset</key>
                <string>{88,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,20},{284,300}}</string>
                <key>sourceSize</key>
                <string>{460,326}</string>
            </dict>
            <key>magic_bomb_end_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,660},{336,304}}</string>
                <key>offset</key>
                <string>{117,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,16},{336,304}}</string>
                <key>sourceSize</key>
                <string>{574,320}</string>
            </dict>
            <key>magic_bomb_end_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,352},{336,304}}</string>
                <key>offset</key>
                <string>{117,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,16},{336,304}}</string>
                <key>sourceSize</key>
                <string>{574,320}</string>
            </dict>
            <key>magic_bomb_middle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,1184},{88,68}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,68}}</string>
                <key>sourceSize</key>
                <string>{106,68}</string>
            </dict>
            <key>magic_bomb_middle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,1032},{108,68}}</string>
                <key>offset</key>
                <string>{-21,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,68}}</string>
                <key>sourceSize</key>
                <string>{150,68}</string>
            </dict>
            <key>magic_bomb_middle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,1124},{128,68}}</string>
                <key>offset</key>
                <string>{-30,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,68}}</string>
                <key>sourceSize</key>
                <string>{188,68}</string>
            </dict>
            <key>magic_bomb_middle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,636},{120,68}}</string>
                <key>offset</key>
                <string>{-27,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,68}}</string>
                <key>sourceSize</key>
                <string>{174,68}</string>
            </dict>
            <key>magic_bomb_middle_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,988},{128,68}}</string>
                <key>offset</key>
                <string>{-28,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,68}}</string>
                <key>sourceSize</key>
                <string>{184,68}</string>
            </dict>
            <key>magic_bomb_middle_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,956},{116,68}}</string>
                <key>offset</key>
                <string>{-25,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,68}}</string>
                <key>sourceSize</key>
                <string>{166,68}</string>
            </dict>
            <key>magic_bomb_start_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1196,676},{24,24}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>magic_bomb_start_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,808},{36,32}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,32}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>magic_bomb_start_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,1772},{40,36}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,36}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>magic_bomb_start_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,1416},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>magic_bomb_start_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,1316},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>magic_bomb_start_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,1460},{48,48}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>magic_bomb_start_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,1348},{52,52}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>magic_bomb_start_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,616},{56,52}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,52}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>magic_bomb_start_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,1464},{52,48}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>magic_bomb_start_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,1404},{48,48}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>magic_bomb_start_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,1520},{44,44}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>magic_bomb_start_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,676},{28,24}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,24}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>magic_bomb_start_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,1348},{48,48}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>magic_bomb_start_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,1408},{52,48}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>magic_bomb_start_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,556},{56,52}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,52}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>magic_bomb_start_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,492},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>magic_bomb_start_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,424},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>magic_bomb_start_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,1276},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>magic_bomb_start_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,1192},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>magic_bomb_start_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,356},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>magic_bomb_start_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1168,956},{56,56}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>magic_bomb_start_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,1268},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>magic_bomb_start_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1196,808},{32,28}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,28}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>magic_bomb_start_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,1260},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>magic_bomb_start_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,1260},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>magic_bomb_start_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,1520},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>magic_bomb_start_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,1032},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>magic_bomb_start_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,848},{96,100}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>magic_bomb_start_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,848},{96,100}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>magic_bomb_start_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,1868},{124,136}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{124,136}}</string>
                <key>sourceSize</key>
                <string>{136,148}</string>
            </dict>
            <key>magic_bomb_start_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,1868},{124,136}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{124,136}}</string>
                <key>sourceSize</key>
                <string>{136,148}</string>
            </dict>
            <key>magic_bomb_start_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,712},{120,128}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{120,128}}</string>
                <key>sourceSize</key>
                <string>{122,138}</string>
            </dict>
            <key>magic_bomb_start_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,500},{120,128}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{120,128}}</string>
                <key>sourceSize</key>
                <string>{122,138}</string>
            </dict>
            <key>magic_bomb_start_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,1268},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>magic_bomb_start_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,356},{120,136}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{120,136}}</string>
                <key>sourceSize</key>
                <string>{126,140}</string>
            </dict>
            <key>magic_bomb_start_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,1868},{120,136}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{120,136}}</string>
                <key>sourceSize</key>
                <string>{126,140}</string>
            </dict>
            <key>magic_bomb_start_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,1864},{128,140}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{128,140}}</string>
                <key>sourceSize</key>
                <string>{136,142}</string>
            </dict>
            <key>magic_bomb_start_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,1864},{128,140}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{128,140}}</string>
                <key>sourceSize</key>
                <string>{136,142}</string>
            </dict>
            <key>magic_bomb_start_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,1864},{124,140}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{124,140}}</string>
                <key>sourceSize</key>
                <string>{136,148}</string>
            </dict>
            <key>magic_bomb_start_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,1864},{124,140}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{124,140}}</string>
                <key>sourceSize</key>
                <string>{136,148}</string>
            </dict>
            <key>magic_bomb_start_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,1108},{76,72}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{76,72}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>magic_bomb_start_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,712},{88,72}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{88,72}}</string>
                <key>sourceSize</key>
                <string>{96,82}</string>
            </dict>
            <key>magic_bomb_start_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,1108},{100,68}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{100,68}}</string>
                <key>sourceSize</key>
                <string>{106,80}</string>
            </dict>
            <key>magic_bomb_start_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,1464},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>magic_bomb_start_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,1368},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>magic_bomb_start_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1132,1324},{44,40}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,40}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>magic_bomb_start_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,1324},{40,40}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>magic_bomb_start_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,1820},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>magic_bomb_start_spritesheet.png</string>
            <key>size</key>
            <string>{1232,2012}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d7afde740d43e1fd9beee970d175d869:5c215040f2d960f78f98700a67def34f:b1082848cde98d1292be01beae3eb7e9$</string>
            <key>textureFileName</key>
            <string>magic_bomb_start_spritesheet.png</string>
        </dict>
    </dict>
</plist>
