<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>magic_fire_pillar_end_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1948,780},{108,80}}</string>
                <key>offset</key>
                <string>{-10,-212}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,432},{108,80}}</string>
                <key>sourceSize</key>
                <string>{200,520}</string>
            </dict>
            <key>magic_fire_pillar_end_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,344},{144,496}}</string>
                <key>offset</key>
                <string>{-4,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,24},{144,496}}</string>
                <key>sourceSize</key>
                <string>{200,520}</string>
            </dict>
            <key>magic_fire_pillar_end_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,8},{144,508}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,12},{144,508}}</string>
                <key>sourceSize</key>
                <string>{200,520}</string>
            </dict>
            <key>magic_fire_pillar_end_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,8},{144,520}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{144,520}}</string>
                <key>sourceSize</key>
                <string>{200,520}</string>
            </dict>
            <key>magic_fire_pillar_end_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,1008},{172,432}}</string>
                <key>offset</key>
                <string>{6,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,84},{172,432}}</string>
                <key>sourceSize</key>
                <string>{200,520}</string>
            </dict>
            <key>magic_fire_pillar_end_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,984},{172,432}}</string>
                <key>offset</key>
                <string>{6,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,84},{172,432}}</string>
                <key>sourceSize</key>
                <string>{200,520}</string>
            </dict>
            <key>magic_fire_pillar_end_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,1164},{148,420}}</string>
                <key>offset</key>
                <string>{-10,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,96},{148,420}}</string>
                <key>sourceSize</key>
                <string>{200,520}</string>
            </dict>
            <key>magic_fire_pillar_end_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,992},{148,420}}</string>
                <key>offset</key>
                <string>{-10,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,96},{148,420}}</string>
                <key>sourceSize</key>
                <string>{200,520}</string>
            </dict>
            <key>magic_fire_pillar_end_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,1004},{172,440}}</string>
                <key>offset</key>
                <string>{-6,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,80},{172,440}}</string>
                <key>sourceSize</key>
                <string>{200,520}</string>
            </dict>
            <key>magic_fire_pillar_end_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,828},{172,440}}</string>
                <key>offset</key>
                <string>{-6,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,80},{172,440}}</string>
                <key>sourceSize</key>
                <string>{200,520}</string>
            </dict>
            <key>magic_fire_pillar_end_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,660},{160,460}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,56},{160,460}}</string>
                <key>sourceSize</key>
                <string>{200,520}</string>
            </dict>
            <key>magic_fire_pillar_end_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,1420},{132,88}}</string>
                <key>offset</key>
                <string>{2,-208}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,424},{132,88}}</string>
                <key>sourceSize</key>
                <string>{200,520}</string>
            </dict>
            <key>magic_fire_pillar_end_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,340},{160,460}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,56},{160,460}}</string>
                <key>sourceSize</key>
                <string>{200,520}</string>
            </dict>
            <key>magic_fire_pillar_end_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,512},{144,472}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,44},{144,472}}</string>
                <key>sourceSize</key>
                <string>{200,520}</string>
            </dict>
            <key>magic_fire_pillar_end_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,508},{144,472}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,44},{144,472}}</string>
                <key>sourceSize</key>
                <string>{200,520}</string>
            </dict>
            <key>magic_fire_pillar_end_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,508},{172,472}}</string>
                <key>offset</key>
                <string>{2,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,44},{172,472}}</string>
                <key>sourceSize</key>
                <string>{200,520}</string>
            </dict>
            <key>magic_fire_pillar_end_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,160},{172,472}}</string>
                <key>offset</key>
                <string>{2,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,44},{172,472}}</string>
                <key>sourceSize</key>
                <string>{200,520}</string>
            </dict>
            <key>magic_fire_pillar_end_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,816},{160,472}}</string>
                <key>offset</key>
                <string>{-8,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,36},{160,472}}</string>
                <key>sourceSize</key>
                <string>{200,520}</string>
            </dict>
            <key>magic_fire_pillar_end_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,648},{160,472}}</string>
                <key>offset</key>
                <string>{-8,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,36},{160,472}}</string>
                <key>sourceSize</key>
                <string>{200,520}</string>
            </dict>
            <key>magic_fire_pillar_end_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,160},{176,484}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,28},{176,484}}</string>
                <key>sourceSize</key>
                <string>{200,520}</string>
            </dict>
            <key>magic_fire_pillar_end_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,512},{176,484}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,28},{176,484}}</string>
                <key>sourceSize</key>
                <string>{200,520}</string>
            </dict>
            <key>magic_fire_pillar_end_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,508},{188,492}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,20},{188,492}}</string>
                <key>sourceSize</key>
                <string>{200,520}</string>
            </dict>
            <key>magic_fire_pillar_end_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1744,504},{140,248}}</string>
                <key>offset</key>
                <string>{-2,-128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,264},{140,248}}</string>
                <key>sourceSize</key>
                <string>{200,520}</string>
            </dict>
            <key>magic_fire_pillar_end_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,8},{188,492}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,20},{188,492}}</string>
                <key>sourceSize</key>
                <string>{200,520}</string>
            </dict>
            <key>magic_fire_pillar_end_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,1008},{184,496}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,20},{184,496}}</string>
                <key>sourceSize</key>
                <string>{200,520}</string>
            </dict>
            <key>magic_fire_pillar_end_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,8},{184,496}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,20},{184,496}}</string>
                <key>sourceSize</key>
                <string>{200,520}</string>
            </dict>
            <key>magic_fire_pillar_end_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,8},{176,492}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,20},{176,492}}</string>
                <key>sourceSize</key>
                <string>{200,520}</string>
            </dict>
            <key>magic_fire_pillar_end_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,8},{176,492}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,20},{176,492}}</string>
                <key>sourceSize</key>
                <string>{200,520}</string>
            </dict>
            <key>magic_fire_pillar_end_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{1484,1188},{160,368}}</string>
                <key>offset</key>
                <string>{-8,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,144},{160,368}}</string>
                <key>sourceSize</key>
                <string>{200,520}</string>
            </dict>
            <key>magic_fire_pillar_end_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{1108,1188},{160,368}}</string>
                <key>offset</key>
                <string>{-8,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,144},{160,368}}</string>
                <key>sourceSize</key>
                <string>{200,520}</string>
            </dict>
            <key>magic_fire_pillar_end_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{1892,468},{128,304}}</string>
                <key>offset</key>
                <string>{-16,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,172},{128,304}}</string>
                <key>sourceSize</key>
                <string>{200,520}</string>
            </dict>
            <key>magic_fire_pillar_end_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{1892,156},{128,304}}</string>
                <key>offset</key>
                <string>{-16,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,172},{128,304}}</string>
                <key>sourceSize</key>
                <string>{200,520}</string>
            </dict>
            <key>magic_fire_pillar_end_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,780},{144,268}}</string>
                <key>offset</key>
                <string>{-24,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,152},{144,268}}</string>
                <key>sourceSize</key>
                <string>{200,520}</string>
            </dict>
            <key>magic_fire_pillar_end_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1648,828},{140,268}}</string>
                <key>offset</key>
                <string>{-2,-118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,244},{140,268}}</string>
                <key>sourceSize</key>
                <string>{200,520}</string>
            </dict>
            <key>magic_fire_pillar_end_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{1492,1356},{144,268}}</string>
                <key>offset</key>
                <string>{-24,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,152},{144,268}}</string>
                <key>sourceSize</key>
                <string>{200,520}</string>
            </dict>
            <key>magic_fire_pillar_end_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{1860,1056},{140,240}}</string>
                <key>offset</key>
                <string>{-22,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,128},{140,240}}</string>
                <key>sourceSize</key>
                <string>{200,520}</string>
            </dict>
            <key>magic_fire_pillar_end_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{1768,1356},{140,240}}</string>
                <key>offset</key>
                <string>{-22,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,128},{140,240}}</string>
                <key>sourceSize</key>
                <string>{200,520}</string>
            </dict>
            <key>magic_fire_pillar_end_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{1808,8},{140,192}}</string>
                <key>offset</key>
                <string>{-22,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,184},{140,192}}</string>
                <key>sourceSize</key>
                <string>{200,520}</string>
            </dict>
            <key>magic_fire_pillar_end_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,648},{4,4}}</string>
                <key>offset</key>
                <string>{-98,258}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,4}}</string>
                <key>sourceSize</key>
                <string>{200,520}</string>
            </dict>
            <key>magic_fire_pillar_end_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1736,160},{148,336}}</string>
                <key>offset</key>
                <string>{2,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,180},{148,336}}</string>
                <key>sourceSize</key>
                <string>{200,520}</string>
            </dict>
            <key>magic_fire_pillar_end_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1108,1356},{148,376}}</string>
                <key>offset</key>
                <string>{2,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,140},{148,376}}</string>
                <key>sourceSize</key>
                <string>{200,520}</string>
            </dict>
            <key>magic_fire_pillar_end_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,1320},{136,420}}</string>
                <key>offset</key>
                <string>{-4,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,96},{136,420}}</string>
                <key>sourceSize</key>
                <string>{200,520}</string>
            </dict>
            <key>magic_fire_pillar_end_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,1008},{136,448}}</string>
                <key>offset</key>
                <string>{-4,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,68},{136,448}}</string>
                <key>sourceSize</key>
                <string>{200,520}</string>
            </dict>
            <key>magic_fire_pillar_end_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,496},{144,492}}</string>
                <key>offset</key>
                <string>{-4,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,28},{144,492}}</string>
                <key>sourceSize</key>
                <string>{200,520}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>magic_fire_pillar_spritesheet_2.png</string>
            <key>size</key>
            <string>{2036,1516}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1fe56098a06a4645d327c26b39f08ada:8a5886b1e14aee35887152a207f5be7d:da0e6184e0c90f377b80d73f32ead470$</string>
            <key>textureFileName</key>
            <string>magic_fire_pillar_spritesheet_2.png</string>
        </dict>
    </dict>
</plist>
