<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>map1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,8},{992,804}}</string>
                <key>offset</key>
                <string>{1.5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{992,804}}</string>
                <key>sourceSize</key>
                <string>{989,802}</string>
            </dict>
            <key>map1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,820},{972,444}}</string>
                <key>offset</key>
                <string>{0.5,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{972,444}}</string>
                <key>sourceSize</key>
                <string>{971,443}</string>
            </dict>
            <key>map1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,8},{816,484}}</string>
                <key>offset</key>
                <string>{39.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,0},{816,484}}</string>
                <key>sourceSize</key>
                <string>{889,484}</string>
            </dict>
            <key>map1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,1272},{820,732}}</string>
                <key>offset</key>
                <string>{0.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{820,732}}</string>
                <key>sourceSize</key>
                <string>{819,732}</string>
            </dict>
            <key>map1_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,500},{780,800}}</string>
                <key>offset</key>
                <string>{0.5,-0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{780,800}}</string>
                <key>sourceSize</key>
                <string>{779,799}</string>
            </dict>
            <key>map1_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,1288},{964,552}}</string>
                <key>offset</key>
                <string>{0.5,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{964,552}}</string>
                <key>sourceSize</key>
                <string>{963,551}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map1_spritesheet_4.png</string>
            <key>size</key>
            <string>{1832,2012}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:15502a4b4a32bf3975c8ac9c0e1041a3:e59b2b10a83fa81daa06d4d4f6efb7c0:7e42e2f055b5244521d6714c8cd14082$</string>
            <key>textureFileName</key>
            <string>map1_spritesheet_4.png</string>
        </dict>
    </dict>
</plist>
