<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>map1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{989,802}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{989,802}}</string>
                <key>sourceSize</key>
                <string>{989,802}</string>
            </dict>
            <key>map1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,2},{971,443}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{971,443}}</string>
                <key>sourceSize</key>
                <string>{971,443}</string>
            </dict>
            <key>map1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1540},{811,484}}</string>
                <key>offset</key>
                <string>{39,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,0},{811,484}}</string>
                <key>sourceSize</key>
                <string>{889,484}</string>
            </dict>
            <key>map1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,806},{819,732}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{819,732}}</string>
                <key>sourceSize</key>
                <string>{819,732}</string>
            </dict>
            <key>map1_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,1000},{779,799}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{779,799}}</string>
                <key>sourceSize</key>
                <string>{779,799}</string>
            </dict>
            <key>map1_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,447},{963,551}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{963,551}}</string>
                <key>sourceSize</key>
                <string>{963,551}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map1_spritesheet_4.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0344f2dc3a8f4cd1ecfaa169da980634:7326c3672cfb9f7f87361275adcc3dc5:7e42e2f055b5244521d6714c8cd14082$</string>
            <key>textureFileName</key>
            <string>map1_spritesheet_4.png</string>
        </dict>
    </dict>
</plist>
