<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>map1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,8},{1668,216}}</string>
                <key>offset</key>
                <string>{0.5,-0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1668,216}}</string>
                <key>sourceSize</key>
                <string>{1667,215}</string>
            </dict>
            <key>map1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,8},{1764,192}}</string>
                <key>offset</key>
                <string>{0.5,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1764,192}}</string>
                <key>sourceSize</key>
                <string>{1763,191}</string>
            </dict>
            <key>map1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,1208},{960,492}}</string>
                <key>offset</key>
                <string>{1.5,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,492}}</string>
                <key>sourceSize</key>
                <string>{957,491}</string>
            </dict>
            <key>map1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,552},{652,540}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{652,540}}</string>
                <key>sourceSize</key>
                <string>{650,540}</string>
            </dict>
            <key>map1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,208},{824,336}}</string>
                <key>offset</key>
                <string>{1.5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{824,336}}</string>
                <key>sourceSize</key>
                <string>{821,334}</string>
            </dict>
            <key>map1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,208},{992,920}}</string>
                <key>offset</key>
                <string>{0,-0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{992,920}}</string>
                <key>sourceSize</key>
                <string>{992,919}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map1_spritesheet_3.png</string>
            <key>size</key>
            <string>{2004,1708}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:28de5229f9de19ab5a6288e1b7261043:44993a29b0689c7a6f2dd7667953bb87:8c36fe64569c8312ddf89e0c9c7af1d6$</string>
            <key>textureFileName</key>
            <string>map1_spritesheet_3.png</string>
        </dict>
    </dict>
</plist>
