<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>map1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1131,444},{891,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{891,290}}</string>
                <key>sourceSize</key>
                <string>{891,290}</string>
            </dict>
            <key>map1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,736},{974,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{974,288}}</string>
                <key>sourceSize</key>
                <string>{974,288}</string>
            </dict>
            <key>map1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,1026},{803,676}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{803,676}}</string>
                <key>sourceSize</key>
                <string>{803,676}</string>
            </dict>
            <key>map1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1377,1026},{383,546}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{383,546}}</string>
                <key>sourceSize</key>
                <string>{383,546}</string>
            </dict>
            <key>map1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1026},{932,695}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{932,695}}</string>
                <key>sourceSize</key>
                <string>{932,695}</string>
            </dict>
            <key>map1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1377,1411},{339,345}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{339,345}}</string>
                <key>sourceSize</key>
                <string>{339,345}</string>
            </dict>
            <key>map1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,622},{1032,366}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1032,366}}</string>
                <key>sourceSize</key>
                <string>{1032,366}</string>
            </dict>
            <key>map1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1189,2},{833,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{833,440}}</string>
                <key>sourceSize</key>
                <string>{833,440}</string>
            </dict>
            <key>map1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1185,299}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1185,299}}</string>
                <key>sourceSize</key>
                <string>{1185,299}</string>
            </dict>
            <key>map1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,303},{1127,317}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1127,317}}</string>
                <key>sourceSize</key>
                <string>{1127,317}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map1_spritesheet_1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2eee7c7cef15e4bd8e6404bcc8870ce6:3d39effc8dec095713f38632cbbed4da:db989778f3a23a5a9423be6e6a9835ad$</string>
            <key>textureFileName</key>
            <string>map1_spritesheet_1.png</string>
        </dict>
    </dict>
</plist>
