<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monkey_attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1344,640},{172,252}}</string>
                <key>offset</key>
                <string>{-7,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{172,252}}</string>
                <key>sourceSize</key>
                <string>{234,272}</string>
            </dict>
            <key>monkey_attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,1024},{228,260}}</string>
                <key>offset</key>
                <string>{5,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{228,260}}</string>
                <key>sourceSize</key>
                <string>{234,272}</string>
            </dict>
            <key>monkey_attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1616,1020},{236,260}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,260}}</string>
                <key>sourceSize</key>
                <string>{234,272}</string>
            </dict>
            <key>monkey_attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1348,1020},{236,260}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,260}}</string>
                <key>sourceSize</key>
                <string>{234,272}</string>
            </dict>
            <key>monkey_attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,1024},{224,224}}</string>
                <key>offset</key>
                <string>{-5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{224,224}}</string>
                <key>sourceSize</key>
                <string>{234,272}</string>
            </dict>
            <key>monkey_attack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1728,608},{148,188}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,44},{148,188}}</string>
                <key>sourceSize</key>
                <string>{234,272}</string>
            </dict>
            <key>monkey_fall_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1180,1024},{160,224}}</string>
                <key>offset</key>
                <string>{8,-2.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,16},{160,224}}</string>
                <key>sourceSize</key>
                <string>{208,251}</string>
            </dict>
            <key>monkey_fall_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,1024},{160,224}}</string>
                <key>offset</key>
                <string>{8,-2.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,16},{160,224}}</string>
                <key>sourceSize</key>
                <string>{208,251}</string>
            </dict>
            <key>monkey_fall_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,1024},{160,224}}</string>
                <key>offset</key>
                <string>{8,-2.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,16},{160,224}}</string>
                <key>sourceSize</key>
                <string>{208,251}</string>
            </dict>
            <key>monkey_fall_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,1024},{160,224}}</string>
                <key>offset</key>
                <string>{8,-2.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,16},{160,224}}</string>
                <key>sourceSize</key>
                <string>{208,251}</string>
            </dict>
            <key>monkey_fall_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,1024},{160,224}}</string>
                <key>offset</key>
                <string>{8,-2.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,16},{160,224}}</string>
                <key>sourceSize</key>
                <string>{208,251}</string>
            </dict>
            <key>monkey_fly_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1728,408},{148,192}}</string>
                <key>offset</key>
                <string>{5.5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,32},{148,192}}</string>
                <key>sourceSize</key>
                <string>{217,234}</string>
            </dict>
            <key>monkey_fly_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1728,208},{148,192}}</string>
                <key>offset</key>
                <string>{5.5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,32},{148,192}}</string>
                <key>sourceSize</key>
                <string>{217,234}</string>
            </dict>
            <key>monkey_fly_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1408,820},{156,192}}</string>
                <key>offset</key>
                <string>{9.5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,32},{156,192}}</string>
                <key>sourceSize</key>
                <string>{217,234}</string>
            </dict>
            <key>monkey_fly_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1244,820},{156,192}}</string>
                <key>offset</key>
                <string>{9.5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,32},{156,192}}</string>
                <key>sourceSize</key>
                <string>{217,234}</string>
            </dict>
            <key>monkey_fly_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1728,8},{148,192}}</string>
                <key>offset</key>
                <string>{5.5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,32},{148,192}}</string>
                <key>sourceSize</key>
                <string>{217,234}</string>
            </dict>
            <key>monkey_idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1884,408},{136,192}}</string>
                <key>offset</key>
                <string>{-9.5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,20},{136,192}}</string>
                <key>sourceSize</key>
                <string>{187,240}</string>
            </dict>
            <key>monkey_idle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1884,208},{136,192}}</string>
                <key>offset</key>
                <string>{-9.5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,20},{136,192}}</string>
                <key>sourceSize</key>
                <string>{187,240}</string>
            </dict>
            <key>monkey_idle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1884,8},{136,192}}</string>
                <key>offset</key>
                <string>{-9.5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,20},{136,192}}</string>
                <key>sourceSize</key>
                <string>{187,240}</string>
            </dict>
            <key>monkey_idle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,672},{140,192}}</string>
                <key>offset</key>
                <string>{-11.5,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,20},{140,192}}</string>
                <key>sourceSize</key>
                <string>{187,240}</string>
            </dict>
            <key>monkey_idle_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1392,316},{144,188}}</string>
                <key>offset</key>
                <string>{-9.5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,24},{144,188}}</string>
                <key>sourceSize</key>
                <string>{187,240}</string>
            </dict>
            <key>monkey_idle_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1400,160},{144,188}}</string>
                <key>offset</key>
                <string>{-9.5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,24},{144,188}}</string>
                <key>sourceSize</key>
                <string>{187,240}</string>
            </dict>
            <key>monkey_idle_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1400,8},{144,188}}</string>
                <key>offset</key>
                <string>{-9.5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,24},{144,188}}</string>
                <key>sourceSize</key>
                <string>{187,240}</string>
            </dict>
            <key>monkey_idle_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1728,804},{144,188}}</string>
                <key>offset</key>
                <string>{-9.5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,24},{144,188}}</string>
                <key>sourceSize</key>
                <string>{187,240}</string>
            </dict>
            <key>monkey_idle_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,672},{140,192}}</string>
                <key>offset</key>
                <string>{-11.5,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,20},{140,192}}</string>
                <key>sourceSize</key>
                <string>{187,240}</string>
            </dict>
            <key>monkey_jump_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1604,8},{116,160}}</string>
                <key>offset</key>
                <string>{20,-26.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,64},{116,160}}</string>
                <key>sourceSize</key>
                <string>{196,235}</string>
            </dict>
            <key>monkey_jump_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,176},{132,184}}</string>
                <key>offset</key>
                <string>{12,-14.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,40},{132,184}}</string>
                <key>sourceSize</key>
                <string>{196,235}</string>
            </dict>
            <key>monkey_run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1884,608},{136,180}}</string>
                <key>offset</key>
                <string>{14.5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,24},{136,180}}</string>
                <key>sourceSize</key>
                <string>{179,240}</string>
            </dict>
            <key>monkey_run_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1884,988},{132,184}}</string>
                <key>offset</key>
                <string>{16.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,28},{132,184}}</string>
                <key>sourceSize</key>
                <string>{179,240}</string>
            </dict>
            <key>monkey_run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1884,796},{132,184}}</string>
                <key>offset</key>
                <string>{12.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,28},{132,184}}</string>
                <key>sourceSize</key>
                <string>{179,240}</string>
            </dict>
            <key>monkey_run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,820},{148,196}}</string>
                <key>offset</key>
                <string>{-3.5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,28},{148,196}}</string>
                <key>sourceSize</key>
                <string>{179,240}</string>
            </dict>
            <key>monkey_run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,820},{152,196}}</string>
                <key>offset</key>
                <string>{-5.5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,24},{152,196}}</string>
                <key>sourceSize</key>
                <string>{179,240}</string>
            </dict>
            <key>monkey_run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1572,820},{148,192}}</string>
                <key>offset</key>
                <string>{0.5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,20},{148,192}}</string>
                <key>sourceSize</key>
                <string>{179,240}</string>
            </dict>
            <key>monkey_run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,8},{160,184}}</string>
                <key>offset</key>
                <string>{-1.5,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,20},{160,184}}</string>
                <key>sourceSize</key>
                <string>{179,240}</string>
            </dict>
            <key>monkey_run_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,664},{148,192}}</string>
                <key>offset</key>
                <string>{0.5,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,20},{148,192}}</string>
                <key>sourceSize</key>
                <string>{179,240}</string>
            </dict>
            <key>monkey_run_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,820},{152,196}}</string>
                <key>offset</key>
                <string>{-1.5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,24},{152,196}}</string>
                <key>sourceSize</key>
                <string>{179,240}</string>
            </dict>
            <key>monkey_run_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,820},{152,196}}</string>
                <key>offset</key>
                <string>{-1.5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,28},{152,196}}</string>
                <key>sourceSize</key>
                <string>{179,240}</string>
            </dict>
            <key>monkey_skill_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,516},{276,500}}</string>
                <key>offset</key>
                <string>{-25.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,500}}</string>
                <key>sourceSize</key>
                <string>{327,500}</string>
            </dict>
            <key>monkey_skill_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,8},{308,216}}</string>
                <key>offset</key>
                <string>{-1.5,-142}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,284},{308,216}}</string>
                <key>sourceSize</key>
                <string>{327,500}</string>
            </dict>
            <key>monkey_skill_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,340},{316,212}}</string>
                <key>offset</key>
                <string>{6.5,-144}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,288},{316,212}}</string>
                <key>sourceSize</key>
                <string>{327,500}</string>
            </dict>
            <key>monkey_skill_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,8},{328,500}}</string>
                <key>offset</key>
                <string>{0.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,500}}</string>
                <key>sourceSize</key>
                <string>{327,500}</string>
            </dict>
            <key>monkey_skill_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1544,312},{164,176}}</string>
                <key>offset</key>
                <string>{42.5,-130}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,292},{164,176}}</string>
                <key>sourceSize</key>
                <string>{327,500}</string>
            </dict>
            <key>monkey_skill_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1176,324},{308,208}}</string>
                <key>offset</key>
                <string>{10.5,-126}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,272},{308,208}}</string>
                <key>sourceSize</key>
                <string>{327,500}</string>
            </dict>
            <key>monkey_skill_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,340},{324,204}}</string>
                <key>offset</key>
                <string>{-1.5,-128}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,276},{324,204}}</string>
                <key>sourceSize</key>
                <string>{327,500}</string>
            </dict>
            <key>monkey_skill_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,460},{4,4}}</string>
                <key>offset</key>
                <string>{-161.5,248}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,4}}</string>
                <key>sourceSize</key>
                <string>{327,500}</string>
            </dict>
            <key>monkey_skill_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,460},{128,352}}</string>
                <key>offset</key>
                <string>{40.5,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,0},{128,352}}</string>
                <key>sourceSize</key>
                <string>{327,500}</string>
            </dict>
            <key>monkey_skill_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,8},{296,324}}</string>
                <key>offset</key>
                <string>{16.5,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{296,324}}</string>
                <key>sourceSize</key>
                <string>{327,500}</string>
            </dict>
            <key>monkey_skill_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,8},{328,444}}</string>
                <key>offset</key>
                <string>{0.5,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,444}}</string>
                <key>sourceSize</key>
                <string>{327,500}</string>
            </dict>
            <key>monkey_skill_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,516},{308,500}}</string>
                <key>offset</key>
                <string>{-9.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,500}}</string>
                <key>sourceSize</key>
                <string>{327,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monkey_spritesheet.png</string>
            <key>size</key>
            <string>{2028,1264}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6f520eba74bba506fef7ea8874d0e87c:689381131c5ce8955cd91ed9e137adc8:b8275dce3d3582d7265d3f3e1f3e6697$</string>
            <key>textureFileName</key>
            <string>monkey_spritesheet.png</string>
        </dict>
    </dict>
</plist>
