<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pig_attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1616,180},{128,164}}</string>
                <key>offset</key>
                <string>{-8.5,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,32},{128,164}}</string>
                <key>sourceSize</key>
                <string>{177,227}</string>
            </dict>
            <key>pig_attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1340,8},{140,164}}</string>
                <key>offset</key>
                <string>{-14.5,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,32},{140,164}}</string>
                <key>sourceSize</key>
                <string>{177,227}</string>
            </dict>
            <key>pig_attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,184},{140,164}}</string>
                <key>offset</key>
                <string>{-14.5,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,32},{140,164}}</string>
                <key>sourceSize</key>
                <string>{177,227}</string>
            </dict>
            <key>pig_attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1060,8},{144,168}}</string>
                <key>offset</key>
                <string>{-16.5,-2.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{144,168}}</string>
                <key>sourceSize</key>
                <string>{177,227}</string>
            </dict>
            <key>pig_attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,8},{144,176}}</string>
                <key>offset</key>
                <string>{-16.5,-6.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{144,176}}</string>
                <key>sourceSize</key>
                <string>{177,227}</string>
            </dict>
            <key>pig_attack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1488,8},{128,164}}</string>
                <key>offset</key>
                <string>{-8.5,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,32},{128,164}}</string>
                <key>sourceSize</key>
                <string>{177,227}</string>
            </dict>
            <key>pig_fall_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,8},{124,172}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{124,172}}</string>
                <key>sourceSize</key>
                <string>{140,172}</string>
            </dict>
            <key>pig_fall_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,188},{124,172}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{124,172}}</string>
                <key>sourceSize</key>
                <string>{140,172}</string>
            </dict>
            <key>pig_fall_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,8},{124,172}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{124,172}}</string>
                <key>sourceSize</key>
                <string>{140,172}</string>
            </dict>
            <key>pig_fall_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,188},{124,172}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{124,172}}</string>
                <key>sourceSize</key>
                <string>{140,172}</string>
            </dict>
            <key>pig_fall_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,8},{124,172}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{124,172}}</string>
                <key>sourceSize</key>
                <string>{140,172}</string>
            </dict>
            <key>pig_fall_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,188},{124,172}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{124,172}}</string>
                <key>sourceSize</key>
                <string>{140,172}</string>
            </dict>
            <key>pig_fly_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1720,8},{88,164}}</string>
                <key>offset</key>
                <string>{0.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{88,164}}</string>
                <key>sourceSize</key>
                <string>{103,172}</string>
            </dict>
            <key>pig_fly_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1624,8},{88,164}}</string>
                <key>offset</key>
                <string>{0.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{88,164}}</string>
                <key>sourceSize</key>
                <string>{103,172}</string>
            </dict>
            <key>pig_fly_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,368},{88,164}}</string>
                <key>offset</key>
                <string>{0.5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{88,164}}</string>
                <key>sourceSize</key>
                <string>{103,172}</string>
            </dict>
            <key>pig_fly_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,368},{88,164}}</string>
                <key>offset</key>
                <string>{0.5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{88,164}}</string>
                <key>sourceSize</key>
                <string>{103,172}</string>
            </dict>
            <key>pig_fly_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,368},{88,164}}</string>
                <key>offset</key>
                <string>{0.5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{88,164}}</string>
                <key>sourceSize</key>
                <string>{103,172}</string>
            </dict>
            <key>pig_fly_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,368},{88,164}}</string>
                <key>offset</key>
                <string>{0.5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{88,164}}</string>
                <key>sourceSize</key>
                <string>{103,172}</string>
            </dict>
            <key>pig_fly_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,368},{88,164}}</string>
                <key>offset</key>
                <string>{0.5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{88,164}}</string>
                <key>sourceSize</key>
                <string>{103,172}</string>
            </dict>
            <key>pig_idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,8},{124,172}}</string>
                <key>offset</key>
                <string>{-4.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,4},{124,172}}</string>
                <key>sourceSize</key>
                <string>{165,180}</string>
            </dict>
            <key>pig_idle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,188},{124,172}}</string>
                <key>offset</key>
                <string>{-4.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,4},{124,172}}</string>
                <key>sourceSize</key>
                <string>{165,180}</string>
            </dict>
            <key>pig_idle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,188},{128,172}}</string>
                <key>offset</key>
                <string>{-6.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{128,172}}</string>
                <key>sourceSize</key>
                <string>{165,180}</string>
            </dict>
            <key>pig_idle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1196,184},{128,168}}</string>
                <key>offset</key>
                <string>{-6.5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{128,168}}</string>
                <key>sourceSize</key>
                <string>{165,180}</string>
            </dict>
            <key>pig_idle_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,8},{128,172}}</string>
                <key>offset</key>
                <string>{-6.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{128,172}}</string>
                <key>sourceSize</key>
                <string>{165,180}</string>
            </dict>
            <key>pig_idle_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,192},{128,172}}</string>
                <key>offset</key>
                <string>{-6.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{128,172}}</string>
                <key>sourceSize</key>
                <string>{165,180}</string>
            </dict>
            <key>pig_idle_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,192},{128,172}}</string>
                <key>offset</key>
                <string>{-6.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{128,172}}</string>
                <key>sourceSize</key>
                <string>{165,180}</string>
            </dict>
            <key>pig_idle_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,8},{124,172}}</string>
                <key>offset</key>
                <string>{-4.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,4},{124,172}}</string>
                <key>sourceSize</key>
                <string>{165,180}</string>
            </dict>
            <key>pig_jump_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1816,348},{88,160}}</string>
                <key>offset</key>
                <string>{7,-1.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{88,160}}</string>
                <key>sourceSize</key>
                <string>{122,157}</string>
            </dict>
            <key>pig_jump_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1652,352},{92,156}}</string>
                <key>offset</key>
                <string>{5,-3.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,4},{92,156}}</string>
                <key>sourceSize</key>
                <string>{122,157}</string>
            </dict>
            <key>pig_jump_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1896,176},{88,160}}</string>
                <key>offset</key>
                <string>{7,-1.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{88,160}}</string>
                <key>sourceSize</key>
                <string>{122,157}</string>
            </dict>
            <key>pig_run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1752,180},{136,160}}</string>
                <key>offset</key>
                <string>{-13,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{136,160}}</string>
                <key>sourceSize</key>
                <string>{162,206}</string>
            </dict>
            <key>pig_run_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1816,8},{132,160}}</string>
                <key>offset</key>
                <string>{-11,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{132,160}}</string>
                <key>sourceSize</key>
                <string>{162,206}</string>
            </dict>
            <key>pig_run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1060,184},{128,168}}</string>
                <key>offset</key>
                <string>{-13,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{128,168}}</string>
                <key>sourceSize</key>
                <string>{162,206}</string>
            </dict>
            <key>pig_run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,188},{108,172}}</string>
                <key>offset</key>
                <string>{-11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{108,172}}</string>
                <key>sourceSize</key>
                <string>{162,206}</string>
            </dict>
            <key>pig_run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,360},{96,164}}</string>
                <key>offset</key>
                <string>{-5,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,12},{96,164}}</string>
                <key>sourceSize</key>
                <string>{162,206}</string>
            </dict>
            <key>pig_run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1484,352},{92,160}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,12},{92,160}}</string>
                <key>sourceSize</key>
                <string>{162,206}</string>
            </dict>
            <key>pig_run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1312,360},{92,164}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,12},{92,164}}</string>
                <key>sourceSize</key>
                <string>{162,206}</string>
            </dict>
            <key>pig_run_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,8},{96,172}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,12},{96,172}}</string>
                <key>sourceSize</key>
                <string>{162,206}</string>
            </dict>
            <key>pig_run_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,8},{120,168}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,20},{120,168}}</string>
                <key>sourceSize</key>
                <string>{162,206}</string>
            </dict>
            <key>pig_run_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1480,180},{128,164}}</string>
                <key>offset</key>
                <string>{-13,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{128,164}}</string>
                <key>sourceSize</key>
                <string>{162,206}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pig_animation.png</string>
            <key>size</key>
            <string>{1996,464}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f01e884a9f2ff66a9e02f9d9d97385a:7a7d8795e05595d36118977d9e7ca5c4:510042cc6972e9dc1def481605373677$</string>
            <key>textureFileName</key>
            <string>pig_animation.png</string>
        </dict>
    </dict>
</plist>
