<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>maincrystal_broken_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1857,678},{188,307}}</string>
                <key>offset</key>
                <string>{0,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,105},{188,307}}</string>
                <key>sourceSize</key>
                <string>{598,427}</string>
            </dict>
            <key>maincrystal_broken_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,427},{472,345}}</string>
                <key>offset</key>
                <string>{-5,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,82},{472,345}}</string>
                <key>sourceSize</key>
                <string>{598,427}</string>
            </dict>
            <key>maincrystal_broken_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,2},{476,367}}</string>
                <key>offset</key>
                <string>{-3,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,60},{476,367}}</string>
                <key>sourceSize</key>
                <string>{598,427}</string>
            </dict>
            <key>maincrystal_broken_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,427},{494,365}}</string>
                <key>offset</key>
                <string>{-17,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,61},{494,365}}</string>
                <key>sourceSize</key>
                <string>{598,427}</string>
            </dict>
            <key>maincrystal_broken_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,371},{444,367}}</string>
                <key>offset</key>
                <string>{-13,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,60},{444,367}}</string>
                <key>sourceSize</key>
                <string>{598,427}</string>
            </dict>
            <key>maincrystal_broken_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1406,2},{466,365}}</string>
                <key>offset</key>
                <string>{-10,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,61},{466,365}}</string>
                <key>sourceSize</key>
                <string>{598,427}</string>
            </dict>
            <key>maincrystal_broken_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{480,365}}</string>
                <key>offset</key>
                <string>{-33,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,61},{480,365}}</string>
                <key>sourceSize</key>
                <string>{598,427}</string>
            </dict>
            <key>maincrystal_broken_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1857,369},{188,307}}</string>
                <key>offset</key>
                <string>{0,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,105},{188,307}}</string>
                <key>sourceSize</key>
                <string>{598,427}</string>
            </dict>
            <key>maincrystal_broken_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1127,1137},{192,303}}</string>
                <key>offset</key>
                <string>{-2,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,108},{192,303}}</string>
                <key>sourceSize</key>
                <string>{598,427}</string>
            </dict>
            <key>maincrystal_broken_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1539,866},{252,345}}</string>
                <key>offset</key>
                <string>{5,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,74},{252,345}}</string>
                <key>sourceSize</key>
                <string>{598,427}</string>
            </dict>
            <key>maincrystal_broken_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,371},{390,381}}</string>
                <key>offset</key>
                <string>{-3,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,40},{390,381}}</string>
                <key>sourceSize</key>
                <string>{598,427}</string>
            </dict>
            <key>maincrystal_broken_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,923},{430,409}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,11},{430,409}}</string>
                <key>sourceSize</key>
                <string>{598,427}</string>
            </dict>
            <key>maincrystal_broken_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{442,423}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,3},{442,423}}</string>
                <key>sourceSize</key>
                <string>{598,427}</string>
            </dict>
            <key>maincrystal_broken_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1127,754},{410,381}}</string>
                <key>offset</key>
                <string>{9,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,46},{410,381}}</string>
                <key>sourceSize</key>
                <string>{598,427}</string>
            </dict>
            <key>maincrystal_broken_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,901},{428,379}}</string>
                <key>offset</key>
                <string>{6,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,47},{428,379}}</string>
                <key>sourceSize</key>
                <string>{598,427}</string>
            </dict>
            <key>maincrystal_idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1793,987},{188,301}}</string>
                <key>offset</key>
                <string>{-2,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,109},{188,301}}</string>
                <key>sourceSize</key>
                <string>{598,427}</string>
            </dict>
            <key>tower1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1554,369},{301,495}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{301,495}}</string>
                <key>sourceSize</key>
                <string>{305,495}</string>
            </dict>
            <key>tower2.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,740},{310,497}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,497}}</string>
                <key>sourceSize</key>
                <string>{310,497}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tower_spritesheet.png</string>
            <key>size</key>
            <string>{2047,1334}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c778f7ceb7f94cf79896fa6fc3345ed4:12ee80278077cd158f6870514d21b142:4f8d11a3cd0013c51cb37921916f0ce4$</string>
            <key>textureFileName</key>
            <string>tower_spritesheet.png</string>
        </dict>
    </dict>
</plist>
