<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>clock.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,698},{158,66}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{158,66}}</string>
                <key>sourceSize</key>
                <string>{160,70}</string>
            </dict>
            <key>clock2.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,882},{60,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{60,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>defeat_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,801},{264,99}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{264,99}}</string>
                <key>sourceSize</key>
                <string>{264,103}</string>
            </dict>
            <key>defense_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,2},{256,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{256,36}}</string>
                <key>sourceSize</key>
                <string>{270,40}</string>
            </dict>
            <key>failed_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,630},{373,66}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{373,66}}</string>
                <key>sourceSize</key>
                <string>{375,70}</string>
            </dict>
            <key>gameover_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,560},{373,68}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{373,68}}</string>
                <key>sourceSize</key>
                <string>{375,74}</string>
            </dict>
            <key>invisible_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,967},{312,36}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{312,36}}</string>
                <key>sourceSize</key>
                <string>{320,50}</string>
            </dict>
            <key>panel_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,902},{165,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,55}}</string>
                <key>sourceSize</key>
                <string>{165,55}</string>
            </dict>
            <key>panel_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{953,301}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{953,301}}</string>
                <key>sourceSize</key>
                <string>{957,305}</string>
            </dict>
            <key>panel_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,305},{497,348}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{497,348}}</string>
                <key>sourceSize</key>
                <string>{497,348}</string>
            </dict>
            <key>panel_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,305},{575,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{575,148}}</string>
                <key>sourceSize</key>
                <string>{575,148}</string>
            </dict>
            <key>panel_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,305},{395,183}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{395,183}}</string>
                <key>sourceSize</key>
                <string>{395,185}</string>
            </dict>
            <key>panel_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,655},{470,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,310}}</string>
                <key>sourceSize</key>
                <string>{470,310}</string>
            </dict>
            <key>pause_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,902},{77,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,67}}</string>
                <key>sourceSize</key>
                <string>{77,67}</string>
            </dict>
            <key>pause_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,902},{80,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{80,64}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>pause_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,490},{373,68}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{373,68}}</string>
                <key>sourceSize</key>
                <string>{375,70}</string>
            </dict>
            <key>powerup_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,967},{292,36}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{292,36}}</string>
                <key>sourceSize</key>
                <string>{300,50}</string>
            </dict>
            <key>speedup_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,2},{152,35}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{152,35}}</string>
                <key>sourceSize</key>
                <string>{160,45}</string>
            </dict>
            <key>victory_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,698},{318,101}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{318,101}}</string>
                <key>sourceSize</key>
                <string>{320,105}</string>
            </dict>
            <key>willbeback.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,882},{157,120}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{157,120}}</string>
                <key>sourceSize</key>
                <string>{157,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_spritesheet_1.png</string>
            <key>size</key>
            <string>{1048,1005}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5061e94e203a77b13c8188647a6e0e3e:377108fbc85a31e0801cfb3ea274e8ed:7e2651e8f9fd92b59440bf40731e0ab0$</string>
            <key>textureFileName</key>
            <string>ui_spritesheet_1.png</string>
        </dict>
    </dict>
</plist>
