<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,1031},{117,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,116}}</string>
                <key>sourceSize</key>
                <string>{117,116}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,913},{117,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,116}}</string>
                <key>sourceSize</key>
                <string>{117,116}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,795},{117,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,116}}</string>
                <key>sourceSize</key>
                <string>{117,116}</string>
            </dict>
            <key>20.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,677},{117,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,116}}</string>
                <key>sourceSize</key>
                <string>{117,116}</string>
            </dict>
            <key>21.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,559},{117,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,116}}</string>
                <key>sourceSize</key>
                <string>{117,116}</string>
            </dict>
            <key>22.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,441},{117,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,116}}</string>
                <key>sourceSize</key>
                <string>{117,116}</string>
            </dict>
            <key>30.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,323},{117,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,116}}</string>
                <key>sourceSize</key>
                <string>{117,116}</string>
            </dict>
            <key>31.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,936},{117,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,116}}</string>
                <key>sourceSize</key>
                <string>{117,116}</string>
            </dict>
            <key>32.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,818},{117,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,116}}</string>
                <key>sourceSize</key>
                <string>{117,116}</string>
            </dict>
            <key>40.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,700},{117,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,116}}</string>
                <key>sourceSize</key>
                <string>{117,116}</string>
            </dict>
            <key>41.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,582},{117,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,116}}</string>
                <key>sourceSize</key>
                <string>{117,116}</string>
            </dict>
            <key>42.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,464},{117,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,116}}</string>
                <key>sourceSize</key>
                <string>{117,116}</string>
            </dict>
            <key>50.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,346},{117,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,116}}</string>
                <key>sourceSize</key>
                <string>{117,116}</string>
            </dict>
            <key>51.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,205},{117,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,116}}</string>
                <key>sourceSize</key>
                <string>{117,116}</string>
            </dict>
            <key>52.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,1003},{117,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,116}}</string>
                <key>sourceSize</key>
                <string>{117,116}</string>
            </dict>
            <key>60.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,884},{117,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,116}}</string>
                <key>sourceSize</key>
                <string>{117,116}</string>
            </dict>
            <key>61.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,765},{117,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,116}}</string>
                <key>sourceSize</key>
                <string>{117,116}</string>
            </dict>
            <key>62.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,646},{117,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,116}}</string>
                <key>sourceSize</key>
                <string>{117,116}</string>
            </dict>
            <key>A0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,205},{206,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,201}}</string>
                <key>sourceSize</key>
                <string>{206,201}</string>
            </dict>
            <key>A1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{206,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,201}}</string>
                <key>sourceSize</key>
                <string>{206,201}</string>
            </dict>
            <key>A2.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{204,201}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{204,201}}</string>
                <key>sourceSize</key>
                <string>{206,201}</string>
            </dict>
            <key>J0.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,527},{117,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,116}}</string>
                <key>sourceSize</key>
                <string>{117,116}</string>
            </dict>
            <key>J1.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,408},{117,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,116}}</string>
                <key>sourceSize</key>
                <string>{117,116}</string>
            </dict>
            <key>J2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,998},{117,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,116}}</string>
                <key>sourceSize</key>
                <string>{117,116}</string>
            </dict>
            <key>L0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,880},{117,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,116}}</string>
                <key>sourceSize</key>
                <string>{117,116}</string>
            </dict>
            <key>L1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,762},{117,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,116}}</string>
                <key>sourceSize</key>
                <string>{117,116}</string>
            </dict>
            <key>L2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{117,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,116}}</string>
                <key>sourceSize</key>
                <string>{117,116}</string>
            </dict>
            <key>R0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,526},{117,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,116}}</string>
                <key>sourceSize</key>
                <string>{117,116}</string>
            </dict>
            <key>R1.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,205},{117,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,116}}</string>
                <key>sourceSize</key>
                <string>{117,116}</string>
            </dict>
            <key>R2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{117,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,116}}</string>
                <key>sourceSize</key>
                <string>{117,116}</string>
            </dict>
            <key>healthbar_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,346},{148,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,12}}</string>
                <key>sourceSize</key>
                <string>{148,12}</string>
            </dict>
            <key>healthbar_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,2},{148,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,12}}</string>
                <key>sourceSize</key>
                <string>{148,12}</string>
            </dict>
            <key>healthbar_type_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,2},{152,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,16}}</string>
                <key>sourceSize</key>
                <string>{152,16}</string>
            </dict>
            <key>healthbar_type_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{155,21}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,21}}</string>
                <key>sourceSize</key>
                <string>{157,21}</string>
            </dict>
            <key>monster_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,323},{155,21}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,21}}</string>
                <key>sourceSize</key>
                <string>{157,21}</string>
            </dict>
            <key>monster_bar_process.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,2},{148,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,12}}</string>
                <key>sourceSize</key>
                <string>{148,12}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_spritesheet_3.png</string>
            <key>size</key>
            <string>{491,1150}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:48e28f7824c826310f8e8cd827438ad4:f7f6f15032f7aa1b64277e20a1fb513c:c2ea3e61ac7f8e82bfd1a28931ed1628$</string>
            <key>textureFileName</key>
            <string>ui_spritesheet_3.png</string>
        </dict>
    </dict>
</plist>
