<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>clock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1057,305},{158,66}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{158,66}}</string>
                <key>sourceSize</key>
                <string>{160,70}</string>
            </dict>
            <key>clock2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1143,373},{60,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{60,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>defense_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1751,455},{256,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{256,36}}</string>
                <key>sourceSize</key>
                <string>{270,40}</string>
            </dict>
            <key>failed_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,2},{373,66}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{373,66}}</string>
                <key>sourceSize</key>
                <string>{375,70}</string>
            </dict>
            <key>gameover_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,2},{373,68}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{373,68}}</string>
                <key>sourceSize</key>
                <string>{375,74}</string>
            </dict>
            <key>invisible_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1143,459},{312,36}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{312,36}}</string>
                <key>sourceSize</key>
                <string>{320,50}</string>
            </dict>
            <key>panel_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1057,2},{953,301}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{953,301}}</string>
                <key>sourceSize</key>
                <string>{957,305}</string>
            </dict>
            <key>panel_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{497,348}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{497,348}}</string>
                <key>sourceSize</key>
                <string>{497,348}</string>
            </dict>
            <key>panel_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,305},{575,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{575,148}}</string>
                <key>sourceSize</key>
                <string>{575,148}</string>
            </dict>
            <key>panel_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,2},{395,183}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{395,183}}</string>
                <key>sourceSize</key>
                <string>{395,185}</string>
            </dict>
            <key>panel_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{470,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,310}}</string>
                <key>sourceSize</key>
                <string>{470,310}</string>
            </dict>
            <key>pause_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,2},{373,68}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{373,68}}</string>
                <key>sourceSize</key>
                <string>{375,70}</string>
            </dict>
            <key>powerup_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1457,455},{292,36}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{292,36}}</string>
                <key>sourceSize</key>
                <string>{300,50}</string>
            </dict>
            <key>speedup_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1217,305},{152,35}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{152,35}}</string>
                <key>sourceSize</key>
                <string>{160,45}</string>
            </dict>
            <key>victory_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,399},{318,101}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{318,101}}</string>
                <key>sourceSize</key>
                <string>{320,105}</string>
            </dict>
            <key>willbeback.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,377},{157,120}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{157,120}}</string>
                <key>sourceSize</key>
                <string>{157,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_spritesheet_1.png</string>
            <key>size</key>
            <string>{2012,502}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa47854c7dc42168aae7247d586888b7:c959238ba5687e291de4cf8482291d8d:7e2651e8f9fd92b59440bf40731e0ab0$</string>
            <key>textureFileName</key>
            <string>ui_spritesheet_1.png</string>
        </dict>
    </dict>
</plist>
