<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>magic_fireball_end_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,396},{84,72}}</string>
                <key>offset</key>
                <string>{-5.5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{84,72}}</string>
                <key>sourceSize</key>
                <string>{95,74}</string>
            </dict>
            <key>magic_fireball_end_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,466},{100,92}}</string>
                <key>offset</key>
                <string>{8.5,7.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{100,92}}</string>
                <key>sourceSize</key>
                <string>{115,107}</string>
            </dict>
            <key>magic_fireball_end_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,580},{98,90}}</string>
                <key>offset</key>
                <string>{9.5,8.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{98,90}}</string>
                <key>sourceSize</key>
                <string>{115,107}</string>
            </dict>
            <key>magic_fireball_end_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,592},{108,112}}</string>
                <key>offset</key>
                <string>{14,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{108,112}}</string>
                <key>sourceSize</key>
                <string>{136,152}</string>
            </dict>
            <key>magic_fireball_end_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,480},{108,112}}</string>
                <key>offset</key>
                <string>{14,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{108,112}}</string>
                <key>sourceSize</key>
                <string>{136,152}</string>
            </dict>
            <key>magic_fireball_end_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,216},{116,124}}</string>
                <key>offset</key>
                <string>{17.5,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,0},{116,124}}</string>
                <key>sourceSize</key>
                <string>{149,178}</string>
            </dict>
            <key>magic_fireball_end_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,336},{114,126}}</string>
                <key>offset</key>
                <string>{18.5,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{114,126}}</string>
                <key>sourceSize</key>
                <string>{149,178}</string>
            </dict>
            <key>magic_fireball_end_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,214},{112,130}}</string>
                <key>offset</key>
                <string>{17,29.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,0},{112,130}}</string>
                <key>sourceSize</key>
                <string>{146,189}</string>
            </dict>
            <key>magic_fireball_end_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,348},{112,128}}</string>
                <key>offset</key>
                <string>{17,30.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,0},{112,128}}</string>
                <key>sourceSize</key>
                <string>{146,189}</string>
            </dict>
            <key>magic_fireball_end_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,186},{116,128}}</string>
                <key>offset</key>
                <string>{18,31.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,0},{116,128}}</string>
                <key>sourceSize</key>
                <string>{152,191}</string>
            </dict>
            <key>magic_fireball_end_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,94},{116,128}}</string>
                <key>offset</key>
                <string>{18,31.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,0},{116,128}}</string>
                <key>sourceSize</key>
                <string>{152,191}</string>
            </dict>
            <key>magic_fireball_end_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,886},{78,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,80}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>magic_fireball_end_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,96},{116,138}}</string>
                <key>offset</key>
                <string>{18.5,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,0},{116,138}}</string>
                <key>sourceSize</key>
                <string>{151,194}</string>
            </dict>
            <key>magic_fireball_end_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,96},{116,138}}</string>
                <key>offset</key>
                <string>{18.5,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,0},{116,138}}</string>
                <key>sourceSize</key>
                <string>{151,194}</string>
            </dict>
            <key>magic_fireball_end_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,306},{102,134}}</string>
                <key>offset</key>
                <string>{23,33.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,0},{102,134}}</string>
                <key>sourceSize</key>
                <string>{148,201}</string>
            </dict>
            <key>magic_fireball_end_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,306},{102,134}}</string>
                <key>offset</key>
                <string>{23,33.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,0},{102,134}}</string>
                <key>sourceSize</key>
                <string>{148,201}</string>
            </dict>
            <key>magic_fireball_end_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,352},{94,130}}</string>
                <key>offset</key>
                <string>{21,32.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,0},{94,130}}</string>
                <key>sourceSize</key>
                <string>{136,195}</string>
            </dict>
            <key>magic_fireball_end_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,352},{94,130}}</string>
                <key>offset</key>
                <string>{21,32.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,0},{94,130}}</string>
                <key>sourceSize</key>
                <string>{136,195}</string>
            </dict>
            <key>magic_fireball_end_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,444},{90,132}}</string>
                <key>offset</key>
                <string>{21,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,0},{90,132}}</string>
                <key>sourceSize</key>
                <string>{132,198}</string>
            </dict>
            <key>magic_fireball_end_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,444},{90,132}}</string>
                <key>offset</key>
                <string>{21,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,0},{90,132}}</string>
                <key>sourceSize</key>
                <string>{132,198}</string>
            </dict>
            <key>magic_fireball_end_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,92},{16,76}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,76}}</string>
                <key>sourceSize</key>
                <string>{22,88}</string>
            </dict>
            <key>magic_fireball_end_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,92},{16,76}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,76}}</string>
                <key>sourceSize</key>
                <string>{22,88}</string>
            </dict>
            <key>magic_fireball_end_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,770},{86,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,88}}</string>
                <key>sourceSize</key>
                <string>{86,88}</string>
            </dict>
            <key>magic_fireball_end_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,486},{94,96}}</string>
                <key>offset</key>
                <string>{0,0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,96}}</string>
                <key>sourceSize</key>
                <string>{94,97}</string>
            </dict>
            <key>magic_fireball_end_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,678},{88,90}}</string>
                <key>offset</key>
                <string>{0,0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,90}}</string>
                <key>sourceSize</key>
                <string>{88,91}</string>
            </dict>
            <key>magic_fireball_end_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,776},{82,84}}</string>
                <key>offset</key>
                <string>{0,0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,84}}</string>
                <key>sourceSize</key>
                <string>{82,85}</string>
            </dict>
            <key>magic_fireball_end_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,854},{82,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,84}</string>
            </dict>
            <key>magic_fireball_end_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,682},{92,86}}</string>
                <key>offset</key>
                <string>{5.5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{92,86}}</string>
                <key>sourceSize</key>
                <string>{101,92}</string>
            </dict>
            <key>magic_fireball_end_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,710},{94,84}}</string>
                <key>offset</key>
                <string>{4.5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{94,84}}</string>
                <key>sourceSize</key>
                <string>{101,92}</string>
            </dict>
            <key>magic_fireball_middle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,584},{94,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,90}}</string>
                <key>sourceSize</key>
                <string>{94,90}</string>
            </dict>
            <key>magic_fireball_middle_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,592},{94,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,90}}</string>
                <key>sourceSize</key>
                <string>{94,90}</string>
            </dict>
            <key>magic_fireball_middle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,716},{90,82}}</string>
                <key>offset</key>
                <string>{-2.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,82}}</string>
                <key>sourceSize</key>
                <string>{95,82}</string>
            </dict>
            <key>magic_fireball_middle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,622},{90,74}}</string>
                <key>offset</key>
                <string>{-5.5,-0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,74}}</string>
                <key>sourceSize</key>
                <string>{101,73}</string>
            </dict>
            <key>magic_fireball_middle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,186},{82,66}}</string>
                <key>offset</key>
                <string>{-6.5,-0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,66}}</string>
                <key>sourceSize</key>
                <string>{95,65}</string>
            </dict>
            <key>magic_fireball_middle_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,4},{78,56}}</string>
                <key>offset</key>
                <string>{-8.5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,56}}</string>
                <key>sourceSize</key>
                <string>{95,56}</string>
            </dict>
            <key>magic_fireball_middle_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,234},{78,64}}</string>
                <key>offset</key>
                <string>{-4.5,-0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,64}}</string>
                <key>sourceSize</key>
                <string>{87,63}</string>
            </dict>
            <key>magic_fireball_middle_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,538},{80,70}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,70}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>magic_fireball_middle_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,862},{80,78}}</string>
                <key>offset</key>
                <string>{0,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,78}}</string>
                <key>sourceSize</key>
                <string>{80,77}</string>
            </dict>
            <key>magic_fireball_middle_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,772},{88,84}}</string>
                <key>offset</key>
                <string>{0.5,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,84}}</string>
                <key>sourceSize</key>
                <string>{87,83}</string>
            </dict>
            <key>magic_fireball_start_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,938},{72,74}}</string>
                <key>offset</key>
                <string>{1.5,0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{72,74}}</string>
                <key>sourceSize</key>
                <string>{73,75}</string>
            </dict>
            <key>magic_fireball_start_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,210},{40,48}}</string>
                <key>offset</key>
                <string>{3.5,-1.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{40,48}}</string>
                <key>sourceSize</key>
                <string>{45,49}</string>
            </dict>
            <key>magic_fireball_start_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,886},{30,42}}</string>
                <key>offset</key>
                <string>{-1,-1.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{30,42}}</string>
                <key>sourceSize</key>
                <string>{32,43}</string>
            </dict>
            <key>magic_fireball_start_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,878},{40,42}}</string>
                <key>offset</key>
                <string>{0.5,-1.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{40,42}}</string>
                <key>sourceSize</key>
                <string>{39,43}</string>
            </dict>
            <key>magic_fireball_start_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,96},{50,58}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,58}}</string>
                <key>sourceSize</key>
                <string>{50,66}</string>
            </dict>
            <key>magic_fireball_start_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,330},{62,62}}</string>
                <key>offset</key>
                <string>{0.5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{61,66}</string>
            </dict>
            <key>magic_fireball_start_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,940},{72,72}}</string>
                <key>offset</key>
                <string>{-0.5,1.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{73,75}</string>
            </dict>
            <key>magic_fireball_start_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,802},{84,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,80}}</string>
                <key>sourceSize</key>
                <string>{84,80}</string>
            </dict>
            <key>magic_fireball_start_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,562},{94,90}}</string>
                <key>offset</key>
                <string>{-0.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,90}}</string>
                <key>sourceSize</key>
                <string>{95,90}</string>
            </dict>
            <key>magic_fireball_start_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,686},{88,86}}</string>
                <key>offset</key>
                <string>{-0.5,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,86}}</string>
                <key>sourceSize</key>
                <string>{89,85}</string>
            </dict>
            <key>magic_fireball_start_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,766},{84,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,80}}</string>
                <key>sourceSize</key>
                <string>{84,80}</string>
            </dict>
            <key>magic_fireball_start_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,924},{70,76}}</string>
                <key>offset</key>
                <string>{2.5,-1.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{70,76}}</string>
                <key>sourceSize</key>
                <string>{73,77}</string>
            </dict>
            <key>magic_fireball_start_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,798},{78,76}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,76}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>magic_fireball_start_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,940},{72,78}}</string>
                <key>offset</key>
                <string>{-0.5,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,78}}</string>
                <key>sourceSize</key>
                <string>{73,86}</string>
            </dict>
            <key>magic_fireball_start_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,272},{66,76}}</string>
                <key>offset</key>
                <string>{-0.5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,76}}</string>
                <key>sourceSize</key>
                <string>{67,86}</string>
            </dict>
            <key>magic_fireball_start_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,156},{62,74}}</string>
                <key>offset</key>
                <string>{0,6.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,74}}</string>
                <key>sourceSize</key>
                <string>{62,87}</string>
            </dict>
            <key>magic_fireball_start_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,254},{62,72}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{62,72}}</string>
                <key>sourceSize</key>
                <string>{68,88}</string>
            </dict>
            <key>magic_fireball_start_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,940},{64,66}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{64,66}}</string>
                <key>sourceSize</key>
                <string>{66,72}</string>
            </dict>
            <key>magic_fireball_start_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,860},{70,68}}</string>
                <key>offset</key>
                <string>{1.5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{70,68}}</string>
                <key>sourceSize</key>
                <string>{71,72}</string>
            </dict>
            <key>magic_fireball_start_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,202},{90,72}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{90,72}}</string>
                <key>sourceSize</key>
                <string>{104,72}</string>
            </dict>
            <key>magic_fireball_start_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,594},{112,76}}</string>
                <key>offset</key>
                <string>{16,-0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,0},{112,76}}</string>
                <key>sourceSize</key>
                <string>{144,75}</string>
            </dict>
            <key>magic_fireball_start_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,456},{134,80}}</string>
                <key>offset</key>
                <string>{24.5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,0},{134,80}}</string>
                <key>sourceSize</key>
                <string>{181,80}</string>
            </dict>
            <key>magic_fireball_start_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,860},{68,74}}</string>
                <key>offset</key>
                <string>{0,-3.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{68,74}}</string>
                <key>sourceSize</key>
                <string>{68,79}</string>
            </dict>
            <key>magic_fireball_start_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,296},{156,86}}</string>
                <key>offset</key>
                <string>{33.5,-0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,0},{156,86}}</string>
                <key>sourceSize</key>
                <string>{221,85}</string>
            </dict>
            <key>magic_fireball_start_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,92},{180,90}}</string>
                <key>offset</key>
                <string>{41,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,0},{180,90}}</string>
                <key>sourceSize</key>
                <string>{262,90}</string>
            </dict>
            <key>magic_fireball_start_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,4},{188,88}}</string>
                <key>offset</key>
                <string>{48.5,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,0},{188,88}}</string>
                <key>sourceSize</key>
                <string>{283,87}</string>
            </dict>
            <key>magic_fireball_start_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{204,86}}</string>
                <key>offset</key>
                <string>{58.5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,0},{204,86}}</string>
                <key>sourceSize</key>
                <string>{319,88}</string>
            </dict>
            <key>magic_fireball_start_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,4},{206,84}}</string>
                <key>offset</key>
                <string>{60.5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,0},{206,84}}</string>
                <key>sourceSize</key>
                <string>{325,88}</string>
            </dict>
            <key>magic_fireball_start_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,656},{106,76}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{106,76}}</string>
                <key>sourceSize</key>
                <string>{132,76}</string>
            </dict>
            <key>magic_fireball_start_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,94},{104,72}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{104,72}}</string>
                <key>sourceSize</key>
                <string>{132,72}</string>
            </dict>
            <key>magic_fireball_start_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,938},{72,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,68}}</string>
                <key>sourceSize</key>
                <string>{72,68}</string>
            </dict>
            <key>magic_fireball_start_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,466},{68,66}}</string>
                <key>offset</key>
                <string>{0,-0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,66}}</string>
                <key>sourceSize</key>
                <string>{68,65}</string>
            </dict>
            <key>magic_fireball_start_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,944},{64,64}}</string>
                <key>offset</key>
                <string>{0,1.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,67}</string>
            </dict>
            <key>magic_fireball_start_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,860},{68,74}}</string>
                <key>offset</key>
                <string>{0,-3.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{68,74}}</string>
                <key>sourceSize</key>
                <string>{68,79}</string>
            </dict>
            <key>magic_fireball_start_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,86},{60,66}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,66}}</string>
                <key>sourceSize</key>
                <string>{60,72}</string>
            </dict>
            <key>magic_fireball_start_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,878},{56,64}}</string>
                <key>offset</key>
                <string>{0,4.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,64}}</string>
                <key>sourceSize</key>
                <string>{56,73}</string>
            </dict>
            <key>magic_fireball_start_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,316},{66,72}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,72}}</string>
                <key>sourceSize</key>
                <string>{66,80}</string>
            </dict>
            <key>magic_fireball_start_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,798},{76,72}}</string>
                <key>offset</key>
                <string>{0.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,72}}</string>
                <key>sourceSize</key>
                <string>{75,72}</string>
            </dict>
            <key>magic_fireball_start_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,484},{104,82}}</string>
                <key>offset</key>
                <string>{-10,-0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,82}}</string>
                <key>sourceSize</key>
                <string>{124,81}</string>
            </dict>
            <key>magic_fireball_start_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,704},{94,90}}</string>
                <key>offset</key>
                <string>{-0.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,90}}</string>
                <key>sourceSize</key>
                <string>{95,90}</string>
            </dict>
            <key>magic_fireball_start_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,392},{66,70}}</string>
                <key>offset</key>
                <string>{-0.5,-3.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{66,70}}</string>
                <key>sourceSize</key>
                <string>{67,75}</string>
            </dict>
            <key>magic_fireball_start_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,392},{66,70}}</string>
                <key>offset</key>
                <string>{-0.5,-3.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{66,70}}</string>
                <key>sourceSize</key>
                <string>{67,75}</string>
            </dict>
            <key>magic_fireball_start_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,874},{58,62}}</string>
                <key>offset</key>
                <string>{-0.5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{58,62}}</string>
                <key>sourceSize</key>
                <string>{59,64}</string>
            </dict>
            <key>magic_fireball_start_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,874},{58,62}}</string>
                <key>offset</key>
                <string>{-0.5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{58,62}}</string>
                <key>sourceSize</key>
                <string>{59,64}</string>
            </dict>
            <key>magic_fireball_start_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,158},{48,48}}</string>
                <key>offset</key>
                <string>{-1.5,-1.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{48,48}}</string>
                <key>sourceSize</key>
                <string>{51,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>magic_fire_ball_spritesheet.png</string>
            <key>size</key>
            <string>{678,1016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4e046bfdc8e7fe9800ea6670bd5ad749:3006a9d109d90b550ae6721dd857dbfb:c8ebbad5b1223550e753ac54995f23c4$</string>
            <key>textureFileName</key>
            <string>magic_fire_ball_spritesheet.png</string>
        </dict>
    </dict>
</plist>
