<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>magic_bomb_end_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,332},{158,166}}</string>
                <key>offset</key>
                <string>{8.5,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,6},{158,166}}</string>
                <key>sourceSize</key>
                <string>{185,192}</string>
            </dict>
            <key>magic_bomb_end_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,538},{170,158}}</string>
                <key>offset</key>
                <string>{61.5,0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,2},{170,158}}</string>
                <key>sourceSize</key>
                <string>{291,163}</string>
            </dict>
            <key>magic_bomb_end_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,174},{170,152}}</string>
                <key>offset</key>
                <string>{61.5,3.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,2},{170,152}}</string>
                <key>sourceSize</key>
                <string>{291,163}</string>
            </dict>
            <key>magic_bomb_end_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,364},{170,160}}</string>
                <key>offset</key>
                <string>{59.5,3.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,2},{170,160}}</string>
                <key>sourceSize</key>
                <string>{291,171}</string>
            </dict>
            <key>magic_bomb_end_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,364},{170,160}}</string>
                <key>offset</key>
                <string>{59.5,3.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,2},{170,160}}</string>
                <key>sourceSize</key>
                <string>{291,171}</string>
            </dict>
            <key>magic_bomb_end_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,4},{168,168}}</string>
                <key>offset</key>
                <string>{60.5,7.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,0},{168,168}}</string>
                <key>sourceSize</key>
                <string>{291,183}</string>
            </dict>
            <key>magic_bomb_end_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,4},{168,168}}</string>
                <key>offset</key>
                <string>{60.5,7.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,0},{168,168}}</string>
                <key>sourceSize</key>
                <string>{291,183}</string>
            </dict>
            <key>magic_bomb_end_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{164,176}}</string>
                <key>offset</key>
                <string>{58.5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,0},{164,176}}</string>
                <key>sourceSize</key>
                <string>{283,192}</string>
            </dict>
            <key>magic_bomb_end_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,184},{162,176}}</string>
                <key>offset</key>
                <string>{59,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,0},{162,176}}</string>
                <key>sourceSize</key>
                <string>{284,192}</string>
            </dict>
            <key>magic_bomb_end_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,712},{156,170}}</string>
                <key>offset</key>
                <string>{56.5,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,0},{156,170}}</string>
                <key>sourceSize</key>
                <string>{275,192}</string>
            </dict>
            <key>magic_bomb_end_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,712},{156,170}}</string>
                <key>offset</key>
                <string>{56.5,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,0},{156,170}}</string>
                <key>sourceSize</key>
                <string>{275,192}</string>
            </dict>
            <key>magic_bomb_end_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,638},{150,144}}</string>
                <key>offset</key>
                <string>{22.5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,4},{150,144}}</string>
                <key>sourceSize</key>
                <string>{197,150}</string>
            </dict>
            <key>magic_bomb_end_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,636},{140,152}}</string>
                <key>offset</key>
                <string>{47.5,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,2},{140,152}}</string>
                <key>sourceSize</key>
                <string>{237,188}</string>
            </dict>
            <key>magic_bomb_end_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,636},{140,152}}</string>
                <key>offset</key>
                <string>{47.5,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,2},{140,152}}</string>
                <key>sourceSize</key>
                <string>{237,188}</string>
            </dict>
            <key>magic_bomb_end_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,494},{140,152}}</string>
                <key>offset</key>
                <string>{45.5,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,2},{140,152}}</string>
                <key>sourceSize</key>
                <string>{237,188}</string>
            </dict>
            <key>magic_bomb_end_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,494},{140,152}}</string>
                <key>offset</key>
                <string>{45.5,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,2},{140,152}}</string>
                <key>sourceSize</key>
                <string>{237,188}</string>
            </dict>
            <key>magic_bomb_end_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,886},{116,134}}</string>
                <key>offset</key>
                <string>{55.5,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,2},{116,134}}</string>
                <key>sourceSize</key>
                <string>{237,188}</string>
            </dict>
            <key>magic_bomb_end_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,886},{116,134}}</string>
                <key>offset</key>
                <string>{55.5,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,2},{116,134}}</string>
                <key>sourceSize</key>
                <string>{237,188}</string>
            </dict>
            <key>magic_bomb_end_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,4},{118,92}}</string>
                <key>offset</key>
                <string>{53,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,4},{118,92}}</string>
                <key>sourceSize</key>
                <string>{228,192}</string>
            </dict>
            <key>magic_bomb_end_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,4},{118,92}}</string>
                <key>offset</key>
                <string>{53,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,4},{118,92}}</string>
                <key>sourceSize</key>
                <string>{228,192}</string>
            </dict>
            <key>magic_bomb_end_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,126},{78,48}}</string>
                <key>offset</key>
                <string>{36,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,4},{78,48}}</string>
                <key>sourceSize</key>
                <string>{158,192}</string>
            </dict>
            <key>magic_bomb_end_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,126},{78,48}}</string>
                <key>offset</key>
                <string>{36,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,4},{78,48}}</string>
                <key>sourceSize</key>
                <string>{158,192}</string>
            </dict>
            <key>magic_bomb_end_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,786},{140,144}}</string>
                <key>offset</key>
                <string>{34,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,8},{140,144}}</string>
                <key>sourceSize</key>
                <string>{212,154}</string>
            </dict>
            <key>magic_bomb_end_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,658},{24,12}}</string>
                <key>offset</key>
                <string>{21.5,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,6},{24,12}}</string>
                <key>sourceSize</key>
                <string>{69,192}</string>
            </dict>
            <key>magic_bomb_end_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,658},{24,12}}</string>
                <key>offset</key>
                <string>{21.5,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,6},{24,12}}</string>
                <key>sourceSize</key>
                <string>{69,192}</string>
            </dict>
            <key>magic_bomb_end_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,486},{156,146}}</string>
                <key>offset</key>
                <string>{27,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,6},{156,146}}</string>
                <key>sourceSize</key>
                <string>{214,156}</string>
            </dict>
            <key>magic_bomb_end_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,4},{172,166}}</string>
                <key>offset</key>
                <string>{18.5,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,4},{172,166}}</string>
                <key>sourceSize</key>
                <string>{215,192}</string>
            </dict>
            <key>magic_bomb_end_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,786},{142,150}}</string>
                <key>offset</key>
                <string>{43,-3.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,12},{142,150}}</string>
                <key>sourceSize</key>
                <string>{232,167}</string>
            </dict>
            <key>magic_bomb_end_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,780},{142,150}}</string>
                <key>offset</key>
                <string>{44,-3.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,10},{142,150}}</string>
                <key>sourceSize</key>
                <string>{230,163}</string>
            </dict>
            <key>magic_bomb_end_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,330},{168,152}}</string>
                <key>offset</key>
                <string>{58.5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,8},{168,152}}</string>
                <key>sourceSize</key>
                <string>{287,160}</string>
            </dict>
            <key>magic_bomb_end_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,176},{168,152}}</string>
                <key>offset</key>
                <string>{58.5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,8},{168,152}}</string>
                <key>sourceSize</key>
                <string>{287,160}</string>
            </dict>
            <key>magic_bomb_middle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,592},{44,34}}</string>
                <key>offset</key>
                <string>{-4.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,34}}</string>
                <key>sourceSize</key>
                <string>{53,34}</string>
            </dict>
            <key>magic_bomb_middle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,516},{54,34}}</string>
                <key>offset</key>
                <string>{-10.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,34}}</string>
                <key>sourceSize</key>
                <string>{75,34}</string>
            </dict>
            <key>magic_bomb_middle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,562},{64,34}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,34}}</string>
                <key>sourceSize</key>
                <string>{94,34}</string>
            </dict>
            <key>magic_bomb_middle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,318},{60,34}}</string>
                <key>offset</key>
                <string>{-13.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,34}}</string>
                <key>sourceSize</key>
                <string>{87,34}</string>
            </dict>
            <key>magic_bomb_middle_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,494},{64,34}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,34}}</string>
                <key>sourceSize</key>
                <string>{92,34}</string>
            </dict>
            <key>magic_bomb_middle_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,478},{58,34}}</string>
                <key>offset</key>
                <string>{-12.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,34}}</string>
                <key>sourceSize</key>
                <string>{83,34}</string>
            </dict>
            <key>magic_bomb_start_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,338},{12,12}}</string>
                <key>offset</key>
                <string>{0.5,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{11,11}</string>
            </dict>
            <key>magic_bomb_start_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,404},{18,16}}</string>
                <key>offset</key>
                <string>{0.5,0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,16}}</string>
                <key>sourceSize</key>
                <string>{17,17}</string>
            </dict>
            <key>magic_bomb_start_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,886},{20,18}}</string>
                <key>offset</key>
                <string>{0.5,0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,18}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>magic_bomb_start_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,708},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>magic_bomb_start_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,658},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>magic_bomb_start_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,730},{24,24}}</string>
                <key>offset</key>
                <string>{0.5,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>magic_bomb_start_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,674},{26,26}}</string>
                <key>offset</key>
                <string>{0.5,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>magic_bomb_start_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,308},{28,26}}</string>
                <key>offset</key>
                <string>{0.5,0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,26}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>magic_bomb_start_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,732},{26,24}}</string>
                <key>offset</key>
                <string>{0.5,0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,24}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>magic_bomb_start_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,702},{24,24}}</string>
                <key>offset</key>
                <string>{0.5,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>magic_bomb_start_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,760},{22,22}}</string>
                <key>offset</key>
                <string>{0.5,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>magic_bomb_start_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,338},{14,12}}</string>
                <key>offset</key>
                <string>{0.5,0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,12}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>magic_bomb_start_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,674},{24,24}}</string>
                <key>offset</key>
                <string>{0.5,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>magic_bomb_start_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,704},{26,24}}</string>
                <key>offset</key>
                <string>{0.5,0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,24}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>magic_bomb_start_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,278},{28,26}}</string>
                <key>offset</key>
                <string>{0.5,0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,26}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>magic_bomb_start_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,246},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>magic_bomb_start_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,212},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>magic_bomb_start_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,638},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>magic_bomb_start_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,596},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>magic_bomb_start_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,178},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>magic_bomb_start_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,478},{28,28}}</string>
                <key>offset</key>
                <string>{0.5,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>magic_bomb_start_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,634},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>magic_bomb_start_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,404},{16,14}}</string>
                <key>offset</key>
                <string>{0.5,0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,14}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>magic_bomb_start_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,630},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>magic_bomb_start_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,630},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>magic_bomb_start_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,760},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>magic_bomb_start_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,516},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>magic_bomb_start_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,424},{48,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>magic_bomb_start_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,424},{48,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>magic_bomb_start_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,934},{62,68}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{62,68}}</string>
                <key>sourceSize</key>
                <string>{68,74}</string>
            </dict>
            <key>magic_bomb_start_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,934},{62,68}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{62,68}}</string>
                <key>sourceSize</key>
                <string>{68,74}</string>
            </dict>
            <key>magic_bomb_start_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,356},{60,64}}</string>
                <key>offset</key>
                <string>{-0.5,-1.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{60,64}}</string>
                <key>sourceSize</key>
                <string>{61,69}</string>
            </dict>
            <key>magic_bomb_start_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,250},{60,64}}</string>
                <key>offset</key>
                <string>{-0.5,-1.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{60,64}}</string>
                <key>sourceSize</key>
                <string>{61,69}</string>
            </dict>
            <key>magic_bomb_start_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,634},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>magic_bomb_start_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,178},{60,68}}</string>
                <key>offset</key>
                <string>{0.5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{60,68}}</string>
                <key>sourceSize</key>
                <string>{63,70}</string>
            </dict>
            <key>magic_bomb_start_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,934},{60,68}}</string>
                <key>offset</key>
                <string>{0.5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{60,68}}</string>
                <key>sourceSize</key>
                <string>{63,70}</string>
            </dict>
            <key>magic_bomb_start_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,932},{64,70}}</string>
                <key>offset</key>
                <string>{2,0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{64,70}}</string>
                <key>sourceSize</key>
                <string>{68,71}</string>
            </dict>
            <key>magic_bomb_start_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,932},{64,70}}</string>
                <key>offset</key>
                <string>{2,0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{64,70}}</string>
                <key>sourceSize</key>
                <string>{68,71}</string>
            </dict>
            <key>magic_bomb_start_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,932},{62,70}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{62,70}}</string>
                <key>sourceSize</key>
                <string>{68,74}</string>
            </dict>
            <key>magic_bomb_start_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,932},{62,70}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{62,70}}</string>
                <key>sourceSize</key>
                <string>{68,74}</string>
            </dict>
            <key>magic_bomb_start_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,554},{38,36}}</string>
                <key>offset</key>
                <string>{0.5,0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{38,36}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>magic_bomb_start_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,356},{44,36}}</string>
                <key>offset</key>
                <string>{0,0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{44,36}}</string>
                <key>sourceSize</key>
                <string>{48,41}</string>
            </dict>
            <key>magic_bomb_start_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,554},{50,34}}</string>
                <key>offset</key>
                <string>{0.5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{50,34}}</string>
                <key>sourceSize</key>
                <string>{53,40}</string>
            </dict>
            <key>magic_bomb_start_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,732},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>magic_bomb_start_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,684},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>magic_bomb_start_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,662},{22,20}}</string>
                <key>offset</key>
                <string>{0.5,0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,20}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>magic_bomb_start_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,662},{20,20}}</string>
                <key>offset</key>
                <string>{0.5,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>magic_bomb_start_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,910},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>magic_bomb_start_spritesheet.png</string>
            <key>size</key>
            <string>{616,1006}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d7afde740d43e1fd9beee970d175d869:5c215040f2d960f78f98700a67def34f:b1082848cde98d1292be01beae3eb7e9$</string>
            <key>textureFileName</key>
            <string>magic_bomb_start_spritesheet.png</string>
        </dict>
    </dict>
</plist>
