<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>magic_lightning_arrow_end_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,374},{90,102}}</string>
                <key>offset</key>
                <string>{-11,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,26},{90,102}}</string>
                <key>sourceSize</key>
                <string>{168,162}</string>
            </dict>
            <key>magic_lightning_arrow_end_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,446},{142,142}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{142,142}}</string>
                <key>sourceSize</key>
                <string>{168,162}</string>
            </dict>
            <key>magic_lightning_arrow_end_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,590},{144,136}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{144,136}}</string>
                <key>sourceSize</key>
                <string>{168,162}</string>
            </dict>
            <key>magic_lightning_arrow_end_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,502},{150,130}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,14},{150,130}}</string>
                <key>sourceSize</key>
                <string>{168,162}</string>
            </dict>
            <key>magic_lightning_arrow_end_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,668},{150,138}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{150,138}}</string>
                <key>sourceSize</key>
                <string>{168,162}</string>
            </dict>
            <key>magic_lightning_arrow_end_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,4},{148,152}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{148,152}}</string>
                <key>sourceSize</key>
                <string>{168,162}</string>
            </dict>
            <key>magic_lightning_arrow_end_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,334},{164,160}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,160}}</string>
                <key>sourceSize</key>
                <string>{168,162}</string>
            </dict>
            <key>magic_lightning_arrow_end_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,168},{162,162}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{162,162}}</string>
                <key>sourceSize</key>
                <string>{168,162}</string>
            </dict>
            <key>magic_lightning_arrow_end_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,168},{162,160}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{162,160}}</string>
                <key>sourceSize</key>
                <string>{168,162}</string>
            </dict>
            <key>magic_lightning_arrow_end_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,4},{164,160}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{164,160}}</string>
                <key>sourceSize</key>
                <string>{168,162}</string>
            </dict>
            <key>magic_lightning_arrow_end_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{164,160}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{164,160}}</string>
                <key>sourceSize</key>
                <string>{168,162}</string>
            </dict>
            <key>magic_lightning_arrow_end_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,446},{140,144}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,10},{140,144}}</string>
                <key>sourceSize</key>
                <string>{168,162}</string>
            </dict>
            <key>magic_lightning_arrow_end_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,4},{162,148}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{162,148}}</string>
                <key>sourceSize</key>
                <string>{168,162}</string>
            </dict>
            <key>magic_lightning_arrow_end_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,502},{162,146}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{162,146}}</string>
                <key>sourceSize</key>
                <string>{168,162}</string>
            </dict>
            <key>magic_lightning_arrow_end_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,4},{150,146}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{150,146}}</string>
                <key>sourceSize</key>
                <string>{168,162}</string>
            </dict>
            <key>magic_lightning_arrow_end_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,4},{148,146}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{148,146}}</string>
                <key>sourceSize</key>
                <string>{168,162}</string>
            </dict>
            <key>magic_lightning_arrow_end_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,306},{136,132}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,14},{136,132}}</string>
                <key>sourceSize</key>
                <string>{168,162}</string>
            </dict>
            <key>magic_lightning_arrow_end_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,154},{134,130}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,16},{134,130}}</string>
                <key>sourceSize</key>
                <string>{168,162}</string>
            </dict>
            <key>magic_lightning_arrow_end_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,588},{124,138}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,12},{124,138}}</string>
                <key>sourceSize</key>
                <string>{168,162}</string>
            </dict>
            <key>magic_lightning_arrow_end_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,306},{146,136}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,12},{146,136}}</string>
                <key>sourceSize</key>
                <string>{168,162}</string>
            </dict>
            <key>magic_lightning_arrow_end_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,4},{2,2}}</string>
                <key>offset</key>
                <string>{-83,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{168,162}</string>
            </dict>
            <key>magic_lightning_arrow_end_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,444},{146,140}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{146,140}}</string>
                <key>sourceSize</key>
                <string>{168,162}</string>
            </dict>
            <key>magic_lightning_arrow_end_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,656},{148,144}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{148,144}}</string>
                <key>sourceSize</key>
                <string>{168,162}</string>
            </dict>
            <key>magic_lightning_arrow_end_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,156},{148,142}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{148,142}}</string>
                <key>sourceSize</key>
                <string>{168,162}</string>
            </dict>
            <key>magic_lightning_arrow_end_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,156},{146,148}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{146,148}}</string>
                <key>sourceSize</key>
                <string>{168,162}</string>
            </dict>
            <key>magic_lightning_arrow_end_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,302},{148,138}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{148,138}}</string>
                <key>sourceSize</key>
                <string>{168,162}</string>
            </dict>
            <key>magic_lightning_arrow_end_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,592},{136,134}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,12},{136,134}}</string>
                <key>sourceSize</key>
                <string>{168,162}</string>
            </dict>
            <key>magic_lightning_arrow_end_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,592},{136,138}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,14},{136,138}}</string>
                <key>sourceSize</key>
                <string>{168,162}</string>
            </dict>
            <key>magic_lightning_arrow_middle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,706},{82,28}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{82,28}}</string>
                <key>sourceSize</key>
                <string>{90,32}</string>
            </dict>
            <key>magic_lightning_arrow_middle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,450},{90,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{90,26}}</string>
                <key>sourceSize</key>
                <string>{90,32}</string>
            </dict>
            <key>magic_lightning_arrow_middle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,334},{90,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,32}}</string>
                <key>sourceSize</key>
                <string>{90,32}</string>
            </dict>
            <key>magic_lightning_arrow_middle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,722},{90,24}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,24}}</string>
                <key>sourceSize</key>
                <string>{90,32}</string>
            </dict>
            <key>magic_lightning_arrow_middle_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,750},{82,22}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{82,22}}</string>
                <key>sourceSize</key>
                <string>{90,32}</string>
            </dict>
            <key>magic_lightning_arrow_start_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,460},{50,38}}</string>
                <key>offset</key>
                <string>{0,-3.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{50,38}}</string>
                <key>sourceSize</key>
                <string>{50,47}</string>
            </dict>
            <key>magic_lightning_arrow_start_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,656},{94,62}}</string>
                <key>offset</key>
                <string>{15.5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{94,62}}</string>
                <key>sourceSize</key>
                <string>{127,64}</string>
            </dict>
            <key>magic_lightning_arrow_start_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,732},{94,62}}</string>
                <key>offset</key>
                <string>{15.5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{94,62}}</string>
                <key>sourceSize</key>
                <string>{127,64}</string>
            </dict>
            <key>magic_lightning_arrow_start_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,332},{80,62}}</string>
                <key>offset</key>
                <string>{14,4.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{80,62}}</string>
                <key>sourceSize</key>
                <string>{108,71}</string>
            </dict>
            <key>magic_lightning_arrow_start_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,398},{78,58}}</string>
                <key>offset</key>
                <string>{15,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{78,58}}</string>
                <key>sourceSize</key>
                <string>{108,66}</string>
            </dict>
            <key>magic_lightning_arrow_start_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,732},{96,64}}</string>
                <key>offset</key>
                <string>{15,3.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{96,64}}</string>
                <key>sourceSize</key>
                <string>{126,71}</string>
            </dict>
            <key>magic_lightning_arrow_start_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,732},{96,64}}</string>
                <key>offset</key>
                <string>{15,3.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{96,64}}</string>
                <key>sourceSize</key>
                <string>{126,71}</string>
            </dict>
            <key>magic_lightning_arrow_start_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,732},{112,74}}</string>
                <key>offset</key>
                <string>{19,5.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,0},{112,74}}</string>
                <key>sourceSize</key>
                <string>{150,85}</string>
            </dict>
            <key>magic_lightning_arrow_start_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,732},{112,74}}</string>
                <key>offset</key>
                <string>{19,5.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,0},{112,74}}</string>
                <key>sourceSize</key>
                <string>{150,85}</string>
            </dict>
            <key>magic_lightning_arrow_start_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,154},{126,78}}</string>
                <key>offset</key>
                <string>{23.5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,0},{126,78}}</string>
                <key>sourceSize</key>
                <string>{175,88}</string>
            </dict>
            <key>magic_lightning_arrow_start_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,292},{118,78}}</string>
                <key>offset</key>
                <string>{19.5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,0},{118,78}}</string>
                <key>sourceSize</key>
                <string>{159,88}</string>
            </dict>
            <key>magic_lightning_arrow_start_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,380},{66,38}}</string>
                <key>offset</key>
                <string>{1,-4.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,10},{66,38}}</string>
                <key>sourceSize</key>
                <string>{68,49}</string>
            </dict>
            <key>magic_lightning_arrow_start_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,156},{142,84}}</string>
                <key>offset</key>
                <string>{18,1.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,0},{142,84}}</string>
                <key>sourceSize</key>
                <string>{178,87}</string>
            </dict>
            <key>magic_lightning_arrow_start_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,446},{142,84}}</string>
                <key>offset</key>
                <string>{18,1.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,0},{142,84}}</string>
                <key>sourceSize</key>
                <string>{178,87}</string>
            </dict>
            <key>magic_lightning_arrow_start_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,572},{130,28}}</string>
                <key>offset</key>
                <string>{-50.5,2.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,28}}</string>
                <key>sourceSize</key>
                <string>{231,33}</string>
            </dict>
            <key>magic_lightning_arrow_start_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,4},{146,44}}</string>
                <key>offset</key>
                <string>{-42.5,-0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,44}}</string>
                <key>sourceSize</key>
                <string>{231,43}</string>
            </dict>
            <key>magic_lightning_arrow_start_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,236},{122,52}}</string>
                <key>offset</key>
                <string>{-31.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,52}}</string>
                <key>sourceSize</key>
                <string>{185,52}</string>
            </dict>
            <key>magic_lightning_arrow_start_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,446},{122,62}}</string>
                <key>offset</key>
                <string>{-31.5,0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,62}}</string>
                <key>sourceSize</key>
                <string>{185,63}</string>
            </dict>
            <key>magic_lightning_arrow_start_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,732},{116,68}}</string>
                <key>offset</key>
                <string>{-25,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{116,68}}</string>
                <key>sourceSize</key>
                <string>{166,72}</string>
            </dict>
            <key>magic_lightning_arrow_start_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,288},{120,80}}</string>
                <key>offset</key>
                <string>{-23,-0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,80}}</string>
                <key>sourceSize</key>
                <string>{166,79}</string>
            </dict>
            <key>magic_lightning_arrow_start_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,730},{116,76}}</string>
                <key>offset</key>
                <string>{-21.5,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{116,76}}</string>
                <key>sourceSize</key>
                <string>{159,79}</string>
            </dict>
            <key>magic_lightning_arrow_start_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,480},{102,86}}</string>
                <key>offset</key>
                <string>{-18,-4.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{102,86}}</string>
                <key>sourceSize</key>
                <string>{138,93}</string>
            </dict>
            <key>magic_lightning_arrow_start_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,428},{70,34}}</string>
                <key>offset</key>
                <string>{1.5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{70,34}}</string>
                <key>sourceSize</key>
                <string>{75,40}</string>
            </dict>
            <key>magic_lightning_arrow_start_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,570},{80,82}}</string>
                <key>offset</key>
                <string>{-11.5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{80,82}}</string>
                <key>sourceSize</key>
                <string>{103,92}</string>
            </dict>
            <key>magic_lightning_arrow_start_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,588},{12,56}}</string>
                <key>offset</key>
                <string>{16.5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,12},{12,56}}</string>
                <key>sourceSize</key>
                <string>{47,70}</string>
            </dict>
            <key>magic_lightning_arrow_start_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,728},{76,30}}</string>
                <key>offset</key>
                <string>{6.5,-6.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,14},{76,30}}</string>
                <key>sourceSize</key>
                <string>{91,45}</string>
            </dict>
            <key>magic_lightning_arrow_start_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,412},{88,30}}</string>
                <key>offset</key>
                <string>{0.5,-6.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,14},{88,30}}</string>
                <key>sourceSize</key>
                <string>{91,45}</string>
            </dict>
            <key>magic_lightning_arrow_start_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,636},{88,26}}</string>
                <key>offset</key>
                <string>{11.5,-4.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,10},{88,26}}</string>
                <key>sourceSize</key>
                <string>{113,37}</string>
            </dict>
            <key>magic_lightning_arrow_start_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,544},{88,26}}</string>
                <key>offset</key>
                <string>{16.5,-4.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,10},{88,26}}</string>
                <key>sourceSize</key>
                <string>{123,37}</string>
            </dict>
            <key>magic_lightning_arrow_start_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,292},{84,38}}</string>
                <key>offset</key>
                <string>{31.5,-0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,0},{84,38}}</string>
                <key>sourceSize</key>
                <string>{149,37}</string>
            </dict>
            <key>magic_lightning_arrow_start_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,332},{88,36}}</string>
                <key>offset</key>
                <string>{30.5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,0},{88,36}}</string>
                <key>sourceSize</key>
                <string>{147,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>magic_lightning_arrow_spritesheet.png</string>
            <key>size</key>
            <string>{1022,810}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:813781c2bdf2c9827483f70048cafd8a:fd355a7408b1fde003b0725166d3e47d:bd5aad288aa8009fa7a692fbcb0caacf$</string>
            <key>textureFileName</key>
            <string>magic_lightning_arrow_spritesheet.png</string>
        </dict>
    </dict>
</plist>
