<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>map1_background_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{570,360}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{570,360}}</string>
                <key>sourceSize</key>
                <string>{584,360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map1_background_spritesheet_2.png</string>
            <key>size</key>
            <string>{578,368}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e35a523df7d0111420490b248a440e2f:0d8d3d7db5775f16fd17477591ade204:2082ab54e76bda960caa5a50f5321935$</string>
            <key>textureFileName</key>
            <string>map1_background_spritesheet_2.png</string>
        </dict>
    </dict>
</plist>
