<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>map1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{834,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{834,108}}</string>
                <key>sourceSize</key>
                <string>{834,108}</string>
            </dict>
            <key>map1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,4},{882,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{882,96}}</string>
                <key>sourceSize</key>
                <string>{882,96}</string>
            </dict>
            <key>map1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,604},{480,246}}</string>
                <key>offset</key>
                <string>{0.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,246}}</string>
                <key>sourceSize</key>
                <string>{479,246}</string>
            </dict>
            <key>map1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,276},{326,270}}</string>
                <key>offset</key>
                <string>{0.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,270}}</string>
                <key>sourceSize</key>
                <string>{325,270}</string>
            </dict>
            <key>map1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,104},{412,168}}</string>
                <key>offset</key>
                <string>{0.5,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{412,168}}</string>
                <key>sourceSize</key>
                <string>{411,167}</string>
            </dict>
            <key>map1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,104},{496,460}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{496,460}}</string>
                <key>sourceSize</key>
                <string>{496,460}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map1_spritesheet_3.png</string>
            <key>size</key>
            <string>{1002,854}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:28de5229f9de19ab5a6288e1b7261043:44993a29b0689c7a6f2dd7667953bb87:8c36fe64569c8312ddf89e0c9c7af1d6$</string>
            <key>textureFileName</key>
            <string>map1_spritesheet_3.png</string>
        </dict>
    </dict>
</plist>
