<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>map1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{495,401}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{495,401}}</string>
                <key>sourceSize</key>
                <string>{495,401}</string>
            </dict>
            <key>map1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,2},{486,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{486,222}}</string>
                <key>sourceSize</key>
                <string>{486,222}</string>
            </dict>
            <key>map1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,773},{407,242}}</string>
                <key>offset</key>
                <string>{19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,0},{407,242}}</string>
                <key>sourceSize</key>
                <string>{445,242}</string>
            </dict>
            <key>map1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,405},{410,366}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{410,366}}</string>
                <key>sourceSize</key>
                <string>{410,366}</string>
            </dict>
            <key>map1_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,504},{390,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,400}}</string>
                <key>sourceSize</key>
                <string>{390,400}</string>
            </dict>
            <key>map1_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,226},{482,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{482,276}}</string>
                <key>sourceSize</key>
                <string>{482,276}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map1_spritesheet_4.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0344f2dc3a8f4cd1ecfaa169da980634:7326c3672cfb9f7f87361275adcc3dc5:7e42e2f055b5244521d6714c8cd14082$</string>
            <key>textureFileName</key>
            <string>map1_spritesheet_4.png</string>
        </dict>
    </dict>
</plist>
