<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>map1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,220},{446,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{446,145}}</string>
                <key>sourceSize</key>
                <string>{446,145}</string>
            </dict>
            <key>map1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,367},{487,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{487,144}}</string>
                <key>sourceSize</key>
                <string>{487,144}</string>
            </dict>
            <key>map1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,513},{402,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{402,338}}</string>
                <key>sourceSize</key>
                <string>{402,338}</string>
            </dict>
            <key>map1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,513},{192,273}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,273}}</string>
                <key>sourceSize</key>
                <string>{192,273}</string>
            </dict>
            <key>map1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,513},{466,348}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{466,348}}</string>
                <key>sourceSize</key>
                <string>{466,348}</string>
            </dict>
            <key>map1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,707},{170,171}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{170,171}}</string>
                <key>sourceSize</key>
                <string>{170,173}</string>
            </dict>
            <key>map1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,315},{516,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{516,183}}</string>
                <key>sourceSize</key>
                <string>{516,183}</string>
            </dict>
            <key>map1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,2},{407,216}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{407,216}}</string>
                <key>sourceSize</key>
                <string>{417,220}</string>
            </dict>
            <key>map1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{593,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{593,150}}</string>
                <key>sourceSize</key>
                <string>{593,150}</string>
            </dict>
            <key>map1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{564,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{564,159}}</string>
                <key>sourceSize</key>
                <string>{564,159}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map1_spritesheet_1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2eee7c7cef15e4bd8e6404bcc8870ce6:3d39effc8dec095713f38632cbbed4da:db989778f3a23a5a9423be6e6a9835ad$</string>
            <key>textureFileName</key>
            <string>map1_spritesheet_1.png</string>
        </dict>
    </dict>
</plist>
