<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,1180},{79,127}}</string>
                <key>offset</key>
                <string>{0,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,144},{79,127}}</string>
                <key>sourceSize</key>
                <string>{79,279}</string>
            </dict>
            <key>effect_die_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{65,259}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{65,259}}</string>
                <key>sourceSize</key>
                <string>{79,279}</string>
            </dict>
            <key>effect_die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,399},{73,141}}</string>
                <key>offset</key>
                <string>{-3,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,138},{73,141}}</string>
                <key>sourceSize</key>
                <string>{79,279}</string>
            </dict>
            <key>effect_die_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,1031},{73,147}}</string>
                <key>offset</key>
                <string>{-3,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,132},{73,147}}</string>
                <key>sourceSize</key>
                <string>{79,279}</string>
            </dict>
            <key>effect_die_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,856},{75,177}}</string>
                <key>offset</key>
                <string>{-2,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,102},{75,177}}</string>
                <key>sourceSize</key>
                <string>{79,279}</string>
            </dict>
            <key>effect_die_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,677},{75,177}}</string>
                <key>offset</key>
                <string>{-2,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,96},{75,177}}</string>
                <key>sourceSize</key>
                <string>{79,279}</string>
            </dict>
            <key>effect_die_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{75,197}}</string>
                <key>offset</key>
                <string>{-2,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,82},{75,197}}</string>
                <key>sourceSize</key>
                <string>{79,279}</string>
            </dict>
            <key>effect_die_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,263},{71,213}}</string>
                <key>offset</key>
                <string>{-4,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,60},{71,213}}</string>
                <key>sourceSize</key>
                <string>{79,279}</string>
            </dict>
            <key>effect_die_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{73,225}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,39},{73,225}}</string>
                <key>sourceSize</key>
                <string>{79,279}</string>
            </dict>
            <key>effect_die_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,2},{73,239}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,28},{73,239}}</string>
                <key>sourceSize</key>
                <string>{79,279}</string>
            </dict>
            <key>slash_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,1309},{40,48}}</string>
                <key>offset</key>
                <string>{12,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,8},{40,48}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>slash_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,1507},{50,62}}</string>
                <key>offset</key>
                <string>{6,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,9},{50,62}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>slash_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1507},{54,68}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,8},{54,68}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>slash_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,1481},{56,72}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,7},{56,72}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>smoke_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,916},{136,113}}</string>
                <key>offset</key>
                <string>{11,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,21},{136,113}}</string>
                <key>sourceSize</key>
                <string>{158,147}</string>
            </dict>
            <key>smoke_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1195},{154,143}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,143}}</string>
                <key>sourceSize</key>
                <string>{158,147}</string>
            </dict>
            <key>smoke_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,770},{144,123}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,20},{144,123}}</string>
                <key>sourceSize</key>
                <string>{158,147}</string>
            </dict>
            <key>smoke_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,622},{146,127}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,17},{146,127}}</string>
                <key>sourceSize</key>
                <string>{158,147}</string>
            </dict>
            <key>smoke_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,243},{154,133}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{154,133}}</string>
                <key>sourceSize</key>
                <string>{158,147}</string>
            </dict>
            <key>smoke_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1035},{158,141}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{158,141}}</string>
                <key>sourceSize</key>
                <string>{158,147}</string>
            </dict>
            <key>smoke_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1351},{154,133}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,11},{154,133}}</string>
                <key>sourceSize</key>
                <string>{158,147}</string>
            </dict>
            <key>smoke_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,474},{146,129}}</string>
                <key>offset</key>
                <string>{6,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,4},{146,129}}</string>
                <key>sourceSize</key>
                <string>{158,147}</string>
            </dict>
            <key>smoke_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,1351},{128,113}}</string>
                <key>offset</key>
                <string>{15,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,16},{128,113}}</string>
                <key>sourceSize</key>
                <string>{158,147}</string>
            </dict>
            <key>tower_orb_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,229},{70,35}}</string>
                <key>offset</key>
                <string>{19,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,4},{70,35}}</string>
                <key>sourceSize</key>
                <string>{108,41}</string>
            </dict>
            <key>tower_orb_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,842},{72,35}}</string>
                <key>offset</key>
                <string>{18,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,1},{72,35}}</string>
                <key>sourceSize</key>
                <string>{108,41}</string>
            </dict>
            <key>tower_orb_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,622},{72,37}}</string>
                <key>offset</key>
                <string>{18,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,2},{72,37}}</string>
                <key>sourceSize</key>
                <string>{108,41}</string>
            </dict>
            <key>tower_orb_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,301},{70,37}}</string>
                <key>offset</key>
                <string>{19,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,1},{70,37}}</string>
                <key>sourceSize</key>
                <string>{108,41}</string>
            </dict>
            <key>tower_orb_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,768},{72,35}}</string>
                <key>offset</key>
                <string>{18,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,4},{72,35}}</string>
                <key>sourceSize</key>
                <string>{108,41}</string>
            </dict>
            <key>tower_orb_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,76},{72,33}}</string>
                <key>offset</key>
                <string>{18,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,3},{72,33}}</string>
                <key>sourceSize</key>
                <string>{108,41}</string>
            </dict>
            <key>tower_orb_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,916},{70,35}}</string>
                <key>offset</key>
                <string>{19,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,4},{70,35}}</string>
                <key>sourceSize</key>
                <string>{108,41}</string>
            </dict>
            <key>tower_orb_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,548},{72,35}}</string>
                <key>offset</key>
                <string>{18,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,1},{72,35}}</string>
                <key>sourceSize</key>
                <string>{108,41}</string>
            </dict>
            <key>tower_orb_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,1481},{72,37}}</string>
                <key>offset</key>
                <string>{18,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,2},{72,37}}</string>
                <key>sourceSize</key>
                <string>{108,41}</string>
            </dict>
            <key>tower_orb_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,696},{70,37}}</string>
                <key>offset</key>
                <string>{19,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,1},{70,37}}</string>
                <key>sourceSize</key>
                <string>{108,41}</string>
            </dict>
            <key>tower_orb_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,474},{72,35}}</string>
                <key>offset</key>
                <string>{18,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,4},{72,35}}</string>
                <key>sourceSize</key>
                <string>{108,41}</string>
            </dict>
            <key>tower_orb_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,2},{72,33}}</string>
                <key>offset</key>
                <string>{18,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,3},{72,33}}</string>
                <key>sourceSize</key>
                <string>{108,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>other_effect_spritesheet.png</string>
            <key>size</key>
            <string>{254,1563}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:879ded92658ae5094cbeb2a62d3a8ed1:8c07a6150377416902ce7410f026cce1:7d069b177acc189e5eeb954ec49dd6f4$</string>
            <key>textureFileName</key>
            <string>other_effect_spritesheet.png</string>
        </dict>
    </dict>
</plist>
