<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pig_attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,90},{64,82}}</string>
                <key>offset</key>
                <string>{-4.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,16},{64,82}}</string>
                <key>sourceSize</key>
                <string>{89,114}</string>
            </dict>
            <key>pig_attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,4},{70,82}}</string>
                <key>offset</key>
                <string>{-7.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,16},{70,82}}</string>
                <key>sourceSize</key>
                <string>{89,114}</string>
            </dict>
            <key>pig_attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,92},{70,82}}</string>
                <key>offset</key>
                <string>{-7.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,16},{70,82}}</string>
                <key>sourceSize</key>
                <string>{89,114}</string>
            </dict>
            <key>pig_attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,4},{72,84}}</string>
                <key>offset</key>
                <string>{-8.5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{72,84}}</string>
                <key>sourceSize</key>
                <string>{89,114}</string>
            </dict>
            <key>pig_attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{72,88}}</string>
                <key>offset</key>
                <string>{-8.5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{72,88}}</string>
                <key>sourceSize</key>
                <string>{89,114}</string>
            </dict>
            <key>pig_attack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,4},{64,82}}</string>
                <key>offset</key>
                <string>{-4.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,16},{64,82}}</string>
                <key>sourceSize</key>
                <string>{89,114}</string>
            </dict>
            <key>pig_fall_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,4},{62,86}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{62,86}}</string>
                <key>sourceSize</key>
                <string>{70,86}</string>
            </dict>
            <key>pig_fall_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,94},{62,86}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{62,86}}</string>
                <key>sourceSize</key>
                <string>{70,86}</string>
            </dict>
            <key>pig_fall_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,4},{62,86}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{62,86}}</string>
                <key>sourceSize</key>
                <string>{70,86}</string>
            </dict>
            <key>pig_fall_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,94},{62,86}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{62,86}}</string>
                <key>sourceSize</key>
                <string>{70,86}</string>
            </dict>
            <key>pig_fall_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,4},{62,86}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{62,86}}</string>
                <key>sourceSize</key>
                <string>{70,86}</string>
            </dict>
            <key>pig_fall_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,94},{62,86}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{62,86}}</string>
                <key>sourceSize</key>
                <string>{70,86}</string>
            </dict>
            <key>pig_fly_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,4},{44,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{44,82}}</string>
                <key>sourceSize</key>
                <string>{52,86}</string>
            </dict>
            <key>pig_fly_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,4},{44,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{44,82}}</string>
                <key>sourceSize</key>
                <string>{52,86}</string>
            </dict>
            <key>pig_fly_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,184},{44,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{44,82}}</string>
                <key>sourceSize</key>
                <string>{52,86}</string>
            </dict>
            <key>pig_fly_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,184},{44,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{44,82}}</string>
                <key>sourceSize</key>
                <string>{52,86}</string>
            </dict>
            <key>pig_fly_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,184},{44,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{44,82}}</string>
                <key>sourceSize</key>
                <string>{52,86}</string>
            </dict>
            <key>pig_fly_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,184},{44,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{44,82}}</string>
                <key>sourceSize</key>
                <string>{52,86}</string>
            </dict>
            <key>pig_fly_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,184},{44,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{44,82}}</string>
                <key>sourceSize</key>
                <string>{52,86}</string>
            </dict>
            <key>pig_idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,4},{62,86}}</string>
                <key>offset</key>
                <string>{-2.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{62,86}}</string>
                <key>sourceSize</key>
                <string>{83,90}</string>
            </dict>
            <key>pig_idle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,94},{62,86}}</string>
                <key>offset</key>
                <string>{-2.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{62,86}}</string>
                <key>sourceSize</key>
                <string>{83,90}</string>
            </dict>
            <key>pig_idle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,94},{64,86}}</string>
                <key>offset</key>
                <string>{-3.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{64,86}}</string>
                <key>sourceSize</key>
                <string>{83,90}</string>
            </dict>
            <key>pig_idle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,92},{64,84}}</string>
                <key>offset</key>
                <string>{-3.5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{64,84}}</string>
                <key>sourceSize</key>
                <string>{83,90}</string>
            </dict>
            <key>pig_idle_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,4},{64,86}}</string>
                <key>offset</key>
                <string>{-3.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{64,86}}</string>
                <key>sourceSize</key>
                <string>{83,90}</string>
            </dict>
            <key>pig_idle_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,96},{64,86}}</string>
                <key>offset</key>
                <string>{-3.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{64,86}}</string>
                <key>sourceSize</key>
                <string>{83,90}</string>
            </dict>
            <key>pig_idle_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,96},{64,86}}</string>
                <key>offset</key>
                <string>{-3.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{64,86}}</string>
                <key>sourceSize</key>
                <string>{83,90}</string>
            </dict>
            <key>pig_idle_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,4},{62,86}}</string>
                <key>offset</key>
                <string>{-2.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{62,86}}</string>
                <key>sourceSize</key>
                <string>{83,90}</string>
            </dict>
            <key>pig_jump_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,174},{44,80}}</string>
                <key>offset</key>
                <string>{3.5,-0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{44,80}}</string>
                <key>sourceSize</key>
                <string>{61,79}</string>
            </dict>
            <key>pig_jump_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,176},{46,78}}</string>
                <key>offset</key>
                <string>{2.5,-1.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,2},{46,78}}</string>
                <key>sourceSize</key>
                <string>{61,79}</string>
            </dict>
            <key>pig_jump_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,88},{44,80}}</string>
                <key>offset</key>
                <string>{3.5,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{44,80}}</string>
                <key>sourceSize</key>
                <string>{61,79}</string>
            </dict>
            <key>pig_run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,90},{68,80}}</string>
                <key>offset</key>
                <string>{-6.5,5.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{68,80}}</string>
                <key>sourceSize</key>
                <string>{81,103}</string>
            </dict>
            <key>pig_run_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,4},{66,80}}</string>
                <key>offset</key>
                <string>{-5.5,5.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{66,80}}</string>
                <key>sourceSize</key>
                <string>{81,103}</string>
            </dict>
            <key>pig_run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,92},{64,84}}</string>
                <key>offset</key>
                <string>{-6.5,3.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{64,84}}</string>
                <key>sourceSize</key>
                <string>{81,103}</string>
            </dict>
            <key>pig_run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,94},{54,86}}</string>
                <key>offset</key>
                <string>{-5.5,0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{54,86}}</string>
                <key>sourceSize</key>
                <string>{81,103}</string>
            </dict>
            <key>pig_run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,180},{48,82}}</string>
                <key>offset</key>
                <string>{-2.5,4.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,6},{48,82}}</string>
                <key>sourceSize</key>
                <string>{81,103}</string>
            </dict>
            <key>pig_run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,176},{46,80}}</string>
                <key>offset</key>
                <string>{0.5,5.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,6},{46,80}}</string>
                <key>sourceSize</key>
                <string>{81,103}</string>
            </dict>
            <key>pig_run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,180},{46,82}}</string>
                <key>offset</key>
                <string>{-1.5,4.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,6},{46,82}}</string>
                <key>sourceSize</key>
                <string>{81,103}</string>
            </dict>
            <key>pig_run_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,4},{48,86}}</string>
                <key>offset</key>
                <string>{-2.5,2.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{48,86}}</string>
                <key>sourceSize</key>
                <string>{81,103}</string>
            </dict>
            <key>pig_run_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,4},{60,84}}</string>
                <key>offset</key>
                <string>{-4.5,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{60,84}}</string>
                <key>sourceSize</key>
                <string>{81,103}</string>
            </dict>
            <key>pig_run_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,90},{64,82}}</string>
                <key>offset</key>
                <string>{-6.5,4.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{64,82}}</string>
                <key>sourceSize</key>
                <string>{81,103}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pig_animation.png</string>
            <key>size</key>
            <string>{998,232}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f01e884a9f2ff66a9e02f9d9d97385a:7a7d8795e05595d36118977d9e7ca5c4:510042cc6972e9dc1def481605373677$</string>
            <key>textureFileName</key>
            <string>pig_animation.png</string>
        </dict>
    </dict>
</plist>
