<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button_back_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,757},{111,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,32}}</string>
                <key>sourceSize</key>
                <string>{111,32}</string>
            </dict>
            <key>button_back_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,644},{111,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,32}}</string>
                <key>sourceSize</key>
                <string>{111,32}</string>
            </dict>
            <key>map1_icon_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,1052},{134,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,155}}</string>
                <key>sourceSize</key>
                <string>{134,155}</string>
            </dict>
            <key>map1_icon_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,916},{134,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,155}}</string>
                <key>sourceSize</key>
                <string>{134,155}</string>
            </dict>
            <key>map_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,780},{134,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,155}}</string>
                <key>sourceSize</key>
                <string>{134,155}</string>
            </dict>
            <key>map_lock_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,644},{134,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,155}}</string>
                <key>sourceSize</key>
                <string>{134,155}</string>
            </dict>
            <key>panel_1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{542,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{542,169}}</string>
                <key>sourceSize</key>
                <string>{542,169}</string>
            </dict>
            <key>panel_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,360}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_spritesheet_2.png</string>
            <key>size</key>
            <string>{364,1188}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d71d67752c018361d7d3d0c1b5e8254e:2ab16b585ca276afba077dc133e8052b:a0c0c96cf91d49b4a4c7fa46bea5e606$</string>
            <key>textureFileName</key>
            <string>ui_spritesheet_2.png</string>
        </dict>
    </dict>
</plist>
