<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button_back_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,115},{111,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,32}}</string>
                <key>sourceSize</key>
                <string>{111,32}</string>
            </dict>
            <key>button_back_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,2},{111,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,32}}</string>
                <key>sourceSize</key>
                <string>{111,32}</string>
            </dict>
            <key>map1_icon_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{1115,221},{134,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,155}}</string>
                <key>sourceSize</key>
                <string>{134,155}</string>
            </dict>
            <key>map1_icon_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,173},{134,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,155}}</string>
                <key>sourceSize</key>
                <string>{134,155}</string>
            </dict>
            <key>map_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,173},{134,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,155}}</string>
                <key>sourceSize</key>
                <string>{134,155}</string>
            </dict>
            <key>map_lock_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,173},{134,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,155}}</string>
                <key>sourceSize</key>
                <string>{134,155}</string>
            </dict>
            <key>panel_1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{542,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{542,169}}</string>
                <key>sourceSize</key>
                <string>{542,169}</string>
            </dict>
            <key>panel_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,360}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>panel_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,2},{217,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,86}}</string>
                <key>sourceSize</key>
                <string>{217,86}</string>
            </dict>
            <key>pause_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,228},{85,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,25}}</string>
                <key>sourceSize</key>
                <string>{85,25}</string>
            </dict>
            <key>quit_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,309},{115,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,41}}</string>
                <key>sourceSize</key>
                <string>{115,41}</string>
            </dict>
            <key>quit_button_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,309},{115,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,41}}</string>
                <key>sourceSize</key>
                <string>{115,41}</string>
            </dict>
            <key>resume_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,309},{113,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,41}}</string>
                <key>sourceSize</key>
                <string>{113,41}</string>
            </dict>
            <key>resume_button_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,309},{113,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,41}}</string>
                <key>sourceSize</key>
                <string>{113,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_spritesheet_2.png</string>
            <key>size</key>
            <string>{1310,364}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:872215747c07445837d7f3b893fa887a:c38c76d946a2974f155ca1d670205123:a0c0c96cf91d49b4a4c7fa46bea5e606$</string>
            <key>textureFileName</key>
            <string>ui_spritesheet_2.png</string>
        </dict>
    </dict>
</plist>
